<div class="thank_you_block" id="thank_you_block" style="position: absolute;left: 0; z-index: 10000; clear: both">
  <div class="thank_you_block" style="position: absolute; left: 0; top: -100vh; width: 99vw; height: 300vw; background-color: black; opacity: 30%"></div>
  <%= render partial: "/new/thank_you" %>
</div>
<div style="background: #e6e6e6; padding: 5%; border-radius: 5px; box-shadow: 0px 1px 5px rgba(65,65,65, 0.6);">
    <%= form_for @client do |f| %>
      <%- if @client.errors.any? %>
        <div id='error_explanation'>
          <ul>
            <%- @client.errors.full_messages.each do |message| %>
              <li><%= message %> </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <div class="pc_content form_box">
      <p class="pc_content" style="margin: 0vw 0vw 0.4vw 2vw;">Введите имя</p>
      <input class="pc_content" type="text" placeholder="Имя" name="client[name]" required style="height: 2em; padding-left: 3%; padding-right: 3%; width: 93%; font-size: 1em; border: none; border-radius: 5px; box-shadow: 0 0 1em 0.01em rgba(0,0,0,0.07); color:#4b4b4b; letter-spacing: 0.03em; font-family: Nunito Sans;">
      <p class="pc_content" style="margin: 0.8vw 0vw 0.4vw 2vw;">Введите номер телефона</p>
      <input class="pc_content" type="text" id='phone' placeholder="+_  (_ _ _) - _ _ _ - _ _ - _ _" required name="client[phone]" style="width: 93%; font-size: 1em; height: 2em; padding-left: 3%; padding-right: 3%; border: none; border-radius: 5px; box-shadow: 0 0 1em 0.01em rgba(0,0,0,0.07); color:#4b4b4b; letter-spacing: 0.03em; font-family: Nunito Sans;">
      <p class="pc_content" style="margin: 0.5em 8vw 0.4vw 2vw; font-size: 0.9em; line-height: 1.05em; width: 96%; font-size: 1em;">Мне не хочется беспокоить вас звонками в неудобное для вас время, поэтому выберите мессенджер на который я вам напишу:</p>
      <div class="pc_content" style="display: flex; align-items: center;">
        <div style="display: flex; justify-content: space-between; align-items: center; margin-left: 2vw">
          <input type="checkbox" id="form_vider" name="request[viber]">
          <label for="form_vider" style="font-size: 1em; margin: 0.05vw 2vw 0vw 0.3vw">Viber</label>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <input type="checkbox" id="form_telegram" name="request[telegram]">
          <label for="form_telegram" style="font-size: 1em; margin: 0.05vw 2vw 0vw 0.3vw">Telegram</label>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <input type="checkbox" id="form_whatsapp" name="request[whatsapp]">
          <label for="form_whatsapp" style="font-size: 1em; margin: 0.05vw 0vw 0vw 0.3vw">Whatsapp</label>
        </div>
      </div>
      <p class="pc_content" style="margin: 0.8vw 0vw 0.4vw 2vw;">Кратко опишите вашу проблему или вопрос</p>
      <textarea class="pc_content" placeholder="Краткое описание" name="request[request]"  style="height: 6em; padding-left: 3%; padding-right: 3%; padding-top: 1vw; border: none; border-radius: 5px; box-shadow: 0 0 1em 0.01em rgba(0,0,0,0.07); color:#4b4b4b; width: 93%; font-size: 1em; letter-spacing: 0.03em; font-family: Nunito Sans;">Тренинг Емо Инт</textarea>
      <input class="pc_content" type="submit" id="button_form" value="ОТПРАВИТЬ" style="background: var(--chocolate);
    color: white;"><a href='javascript: document.location.href = "https://www.tkachenkoandrey.com/thank-you";'></a></input>
    </div>



    <% end %>
  
    <div id="error_block" > </div>
  </div>
