<div class="mob_thank_you_block" id="mob_thank_you_block" style="position: absolute;left: 0; z-index: 10000; clear: both">
  <div class="mob_thank_you_block" style="position: absolute; left: 0; top: -100vh; width: 99vw; height: 500vw; background-color: black; opacity: 30%"></div>
  <%= render partial: "/new/mob_thank_you" %>
</div>
     <%= form_for @client, html: {id: 'mob_client_form'} do |f| %>
      <%- if @client.errors.any? %>
        <div id='error_explanation'>
          <ul>
            <%- @client.errors.full_messages.each do |message| %>
              <li><%= message %> </li>
            <% end %>
          </ul>
        </div>
      <% end %>

<h2 style="padding: 15vw 8vw 2vw 8vw; text-align: center; font-weight: 800; font-size: 5vw; line-height: 5vw;" id="client_form_mob">
  Запись на консультацию
</h2>
<p style="text-align: center; font-size: 3vw; line-height: 3.8vw; letter-spacing: 0.01em; margin: 2vw 0vw 7vw 0vw;" id="no-questions">
      Заполните форму или свяжитесь со мной любым удобным для вас способом по указанным <a href="/contacts" style="text-decoration: none; border-bottom: 1px solid currentColor;">контактам</a></p>

    <div style="width: 86vw;" id="mob_form"><a id="mob_client_form" name="client_form"></a>
      <p class="mob" style="margin: 0vw 0vw 2vw 3vw; font-size: 3.3vw">Введите имя</p>
      <input class="mob" type="text" placeholder="Имя" name="client[name]" required style="width: 82vw; height: 8vw; padding-left: 4vw; border: none; border-radius: 1vw; box-shadow: 0 0 1em 0.01em rgba(0,0,0,0.07); color:#787878; font-size: 4vw; font-family: 'Montserrat'">
      <p class="mob" style="margin: 4vw 0vw 2vw 3vw; font-size: 3.3vw;">Введите номер телефона</p>
      <input class="mob" type="text" id='mob_phone' placeholder="+_  (_ _ _) - _ _ _ - _ _ - _ _" required name="client[phone]" style="width: 82vw; height: 8vw; padding-left: 4vw; border: none; border-radius: 1vw; box-shadow: 0 0 1em 0.01em rgba(0,0,0,0.07); color:#787878; font-size: 4vw; font-family: 'Montserrat'">
      <p class="mob" style="margin: 2vw 0vw 4vw 0vw; padding: 0vw; font-size: 3vw; line-height: 3.6vw; font-weight: 300; width: 78vw">Мне не хочется беспокоить вас звонками в неудобное для вас время, поэтому выберите мессенджер на который я вам напишу</p>
      <div class="mob" style="display: flex; align-items: center; width: 96%">
        <div class="mob" style="display: flex; justify-content: space-between; align-items: center;">
          <input class="mob" type="checkbox" id="mob_form_vider" name="request[viber]" class="form_checkbox">
          <label class="mob" for="form_vider" style="font-size: 3.3vw; margin: 0.05vw 6vw 0vw 0vw">Viber</label>
        </div>
        <div class="mob" style="display: flex; justify-content: space-between; align-items: center;">
          <input class="mob" type="checkbox" id="mob_form_telegram" name="request[telegram]">
          <label class="mob" for="form_telegram" style="font-size: 3.3vw; margin: 0.05vw 6vw 0vw 0vw">Telegram</label>
        </div>
        <div class="mob" style="display: flex; justify-content: space-between; align-items: center;">
          <input class="mob" type="checkbox" id="mob_form_whatsapp" name="request[whatsapp]">
          <label class="mob"for="form_whatsapp" style="font-size: 3.3vw; margin: 0.05vw 0vw 0vw 0vw">Whatsapp</label>
        </div>
      </div>
      <p class="mob" style="margin: 6vw 0vw 2vw 3vw; font-size: 3.3vw">Кратко опишите вашу ситуацию</p>
      <textarea class="mob" placeholder="Краткое описание" name="request[request]"  style="width: 82vw; height: 20vw; margin-right: 4vw; padding-left: 4vw; padding-top: 3vw; border: none; border-radius: 0.5vw; box-shadow: 0 0 1em 0.01em rgba(0,0,0,0.07); color:#787878; font-size: 4vw; font-family: 'Montserrat'"></textarea>
      <input class="mob" type="submit" id="mob_button_form" value="ОТПРАВИТЬ"><a href='javascript: document.location.href = "https://www.tkachenkoandrey.com/thank-you";'></a></input>
    </div>

     <% end %>