

<div class="pc_content" style="background-color: rgba(183, 183, 183, 0.2); backdrop-filter: blur(1vw); width: 100%; height: 100%;">

    <div style="width:50vw; background-color: white; position: fixed; top: 17vh; left: 22vw; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); border-radius: 1vw; padding: 1vw;">
      <a href="">
        <a id='close_ty_block'><img src="<%= asset_url('thank-you-close.svg')%>" alt="закрыть" style="width: 1.5vw; float: right; cursor: pointer;"></a>
      </a>
      <div style="display: flex; justify-content: space-around; padding-top:1vw">
        <div style="display: inline-block;">
          <h1 style="font-size: 3vw">Отправлено!</h1>
          <p>Спасибо за доверие!<br>Я свяжусь с Вами в ближайшее время</p>
        </div>
        <img src="<%= asset_url('thank-you.svg')%>" alt="отправлено" style="display: inline-block; width: 17vw; ">
      </div>
    </div>
    
  </div>  