<div class="pc_content">
  <div class="container">
    <h1 style="text-align: center; font-weight: 800; font-size: 3vw; margin: 5vw 0px 2vw 0vw">Обо мне</h1>
    <div style="display: flex; justify-content: space-between;">
      <div style="width: 49vw">
        <h2 style="margin: 4vw 0vw 0vw 0vw">Ткаченко Андрей</h2>
        <p style="text-align: justify;">
          Здравствуйте, друзья! Меня зовут Ткаченко Андрей, я психолог. Ко мне обращаются люди, которые попали в непростые жизненные обстоятельства. Я помогаю улучшить качество жизни каждого моего клиента, избавляя его от невроза, тревоги, страхов, депрессии, проблем в личной жизни.
        </p>
        <h2 style="margin: 3vw 0vw 0vw 0vw">Моя задача - сделать вас сильными</h2>
        <p style="text-align: justify;">
          На моих очных и онлайн-консультациях я поддерживаю своих клиентов, аккуратно и безболезненно обучаю их справляться со своей жизнью самостоятельно, без врачей и таблеток.
        </p>
        <p style="text-align: justify;">
          Стандартная консультация длится 2 часа, во время которой мы нарабатываем те навыки мышления и поведения, которые позволят Вам автоматически избавиться от накопленных проблем. Данные навыки останутся с Вами на всю жизнь и помогут решать трудности в нашем быстроменяющемся мире. 
        </p>
      </div>
      <img src="/assets/main_about.png" style="height: 38vw">
    </div>

    <h2 style="font-size: 3vw; text-align: center; margin: 5vw 0vw 2vw 0vw">Мое образование</h2>
    <div style="display: flex; justify-content: space-around; align-items: center;">
      <img src="/assets/education.svg" style="height: 16vw">
      <div style="width: 40vw">
        <p style="text-align: justify;">
          Я окончил Днепровский национальный университет по специальности Психология, а также прошел ряд курсов, помогающих мне в расширении знаний и оттачивании умений.
        </p>
        <p style="text-align: justify;">
          Безусловно, годы практики нужны и важны в психологическом ремесле, однако теоретическая база ничуть не меньше повлияла на становление меня как специалиста. 
        </p>
      </div>
    </div>

    <h2 style="font-weight: 800; font-size: 3vw; text-align: center; margin: 7vw 0px 2vw 0vw">Дипломы и сертификаты</h2> 
    <p style="text-align: center; font-size: 1.2vw; letter-spacing: 0.01em; margin: 2vw 15vw 1vw 15vw;">Подтверждающие мои компетенции</p>

    <div class="gallery" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div style="width: 15vw;">
        <a href="/assets/certificates/1.png" data-lightbox="test">
          <img src="/assets/certificates/certificate1.png" title="certificate 1">
        </a>
        <p>Днепропетровский национальный университет - Специальность “Психология”</p>
      </div>
      <div>
        <a href="/assets/certificates/2.png" data-lightbox="test">
          <img src="/assets/certificates/certificate2.png" title="certificate 1">
        </a>
        <p>Социально-психологическое консультирование - Социально-психологическая служба ДНУ</p>
      </div>
      <div>
        <a href="/assets/certificates/3.png" data-lightbox="test">
          <img src="/assets/certificates/certificate3.png" title="certificate 1">
        </a>
        <p>Технологии социально-психологической резильентности - Социально-психологическая служба ДНУ</p>
      </div>
      <div>
        <a href="/assets/certificates/4.png" data-lightbox="test">
          <img src="/assets/certificates/certificate4.png" title="certificate 1">
        </a>
        <p>Системно-мыследеятельностный подход - Социально-псиологическая служба ДНУ</p>
      </div>
      <div style="padding-left: 0px">
        <a href="/assets/certificates/5.jpg" data-lightbox="test">
          <img src="/assets/certificates/certificate5.jpg" title="certificate 1">
        </a>
        <p>Воспитание детей в стиле коучинг - Центр семейной психологии "Мир Инсайт"</p>
      </div>
      <div>
        <a href="/assets/certificates/6.png" data-lightbox="test">
          <img src="/assets/certificates/certificate6.png" title="certificate 1">
        </a>
        <p>Классический и детский массаж. Массажист - Первые Региональные Курсы</p>
      </div>
      <div>
        <a href="/assets/certificates/7.jpg" data-lightbox="test">
          <img src="/assets/certificates/certificate7.jpg" title="certificate 1">
        </a>
        <p>Косметический, ароматерапевтический и массаж для похудения - Первые Региональные Курсы</p>
      </div>
      <div style="width: 15vw; padding-left: 0px">
        <a href="/assets/certificates/8.png" data-lightbox="test">
          <img src="/assets/certificates/certificate8.png" title="certificate 1">
        </a>
        <p>Социальная адаптация ветеранов - ГО "Простір людини" Puselik foundation</p>
      </div>   
    </div>

    <h2 style="font-size: 3vw; text-align: center; margin: 5vw 0vw 2vw 0vw">Мой путь</h2>
    <div style="display: flex; justify-content: space-around; align-items: center">
      <div style="width: 40vw">
        <p style="text-align: justify;">
          Я долго шел к тому, чтобы научиться лечить людей словом, вместо уколов и таблеток. Для начала, я прошел свою личную терапию, получил официальное психологическое образование, а также обучился нескольким современным направлениям психотерапии (КПТ, МКТ, АСТ). 
        </p>
        <p style="text-align: justify;">
          Чтоб закрепить полученные знания на практике, я работал со взрослыми и детьми в психологических центрах, проводил лекции и тренинги, индивидуальные консультации и онлайн-марафоны.
        </p>
      </div>
      <img src="/assets/my walk.svg" style="height: 16vw">
    </div>

    <h2 style="font-weight: 800; font-size: 3vw; text-align: center; margin: 8vw 0px 3vw 0vw">Опыт работы</h2> 
    <div style="display: flex; justify-content: space-between; flex-wrap: wrap; text-align: center">
      <div style="width: 21%; padding: 1vw;">
        <img src="/assets/experience1.svg" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name" style="margin: 1vw 0vw 0.7vw 0vw">Практикующий психолог</h3>
        <span style="font-size: 0.9vw; font-weight: 600; color: #FFFFFF; display: block; background-color: #ff7f50; border-radius: 0.4vw">2018 сен - сегодня</span>
        <p class="service_text">Частная практика</p>
      </div>

      <div style="width: 21%; padding: 1vw;">
        <img src="/assets/experience2.svg" style="width: 80%; margin: 10% 10% 0% 10%">  
        <h3 class="service_name" style="margin: 1vw 0vw 0.7vw 0vw">Детский психолог</h3>
        <span style="font-size: 0.9vw; font-weight: 600; color: #FFFFFF; display: block; background-color: #ff7f50; border-radius: 0.4vw">2016 фев - 2018 авг</span>
        <p class="service_text">Центр семейной психологии "Мир Инсайт"</p>
      </div>

      <div style="width: 21%; padding: 1vw;">
        <img src="/assets/experience3.svg" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name" style="margin: 1vw 0vw 0.7vw 0vw">Психолог-эксперт</h3>
        <span style="font-size: 0.9vw; font-weight: 600; color: #FFFFFF; display: block; background-color: #ff7f50; border-radius: 0.4vw">2018 ноя - 2019 май</span>
        <p class="service_text">Женский журнал clutch.ua,<br>форум dnevniki-pifagora.ru</p>
      </div>

      <div style="width: 21%; padding: 1vw;">
        <img src="/assets/experience4.svg" style="width: 80%; margin: 10% 10% 0% 10%">
        <h3 class="service_name" style="margin: 1vw 0vw 0.7vw 0vw">Психолог-лектор</h3>
        <span style="font-size: 0.9vw; font-weight: 600; color: #FFFFFF; margin-top: 0.5vw; display: block; background-color: #ff7f50; border-radius: 0.4vw">2017 янв - 2019 янв</span>
        <p class="service_text">Центр "Мозгология", Центр практической психологии "Диалог"</p>
      </div>
    </div>

    <h2 style="font-weight: 800; font-size: 3vw; text-align: center; margin: 7vw 0px 4vw 0vw">Результаты моей работы на примерах</h2> 
    <div class="slider" id="w_results">
      <div class="slider__wrapper" style="display: inline-flex;">
        <div class="slider__item" style="flex: 0 0 40%; max-width: 40%;">
          <section class="review_box" style="width: 29.6vw; height: 34vw; background-color: rgb(80,77,87); padding: 2vw 3vw">
            <h3 style="color: #FFFFFF; margin: 0vw 0vw 0.5vw 0vw; font-size: 1.1vw">Генерализированное тревожное расстройство</h3>
            <span style="color: #FFFFFF; font-size: 0.9vw">Мария - 20 лет</span>
            <p style="color: #FFFFFF; text-align: left; font-size: 0.9vw; text-align: justify">Главный запрос терапии был - проблемы в отношениях. Неумение строить и сохранять длительные интимные отношения с противоположным полом.<br><br>
            На шестой консультации я выявил у клиентки неочевидное Генерализированное тревожное расстройство. Девушка не могла спать, мысль о предстоящем „волнительном” событии вводило ее в состояние паники, жара, судорог, проблем с дыханием.<br><br>
            Я применил когнитивно-поведенческую терапию: составил личный опросник для фиксации результатов, мы вместе проработали тревожные мысли, улучшили эмоциональный интеллект, обучились навыкам осознанности и принятия, и после полу года клиентка счастливо и самостоятельно живет свою жизнь. Перестала тревожится, улучшилось качество ее сна и, интересный факт, в данный момент она находится в серьезных близких отношениях.<br><br>
            Видео-отзыв клиентки вы можете посмотреть <a href="reviews.html" style="color: #ff7f50; font-weight: 700">тут</a> 
            </p>
          </section>
        </div>
        <div class="slider__item" style="flex: 0 0 40%; max-width: 40%;">
          <section class="review_box" style="width: 29.6vw; height: 34vw; background-color: rgb(80,77,87); padding: 2vw 3vw">
            <h3 style="color: #FFFFFF; margin: 0vw 0vw 0.5vw 0vw; font-size: 1.1vw">Ипохондрия</h3>
            <span style="color: #FFFFFF; font-size: 0.9vw">Светлана - 37 лет</span>
            <p style="color: #FFFFFF; text-align: left; font-size: 0.9vw; text-align: justify">Основная проблема - повторяющиеся тревожные мысли о своем здоровьи, общее состояние напряжения.<br><br>
            На первой диагностической консультации мы выстроили доверительные отношения, разобрали массу примеров тревожных мыслей, сформировали личный опросник для фиксации результатов.<br><br>
            Я применил терапию АСТ и элементы из КПТ: сделали декатастрофизацию страхов, сформировали конструктивные убеждения, обучились технике принятия эмоций. Далее, мы вели дневник, таблицу позицивных изменений и АВС-схему (клиентка самостоятельно научилась анализировать тревожные события в ее жизни, а мне лишь оставалось проверять домашнее задание).<br><br>
            В итоге, тревожность ушла, появились полезные навыки самоанализа и стрессоустойчивости.<br><br>
            Видео-отзыв клиентки вы можете посмотреть <a href="reviews.html" style="color: #ff7f50; font-weight: 700">тут</a> 
            </p>
          </section>
        </div>
        <div class="slider__item" style="flex: 0 0 40%; max-width: 40%;">
          <section class="review_box" style="width: 29.6vw; height: 34vw; background-color: rgb(80,77,87); padding: 2vw 3vw">
            <h3 style="color: #FFFFFF; margin: 0vw 0vw 0.5vw 0vw; font-size: 1.1vw">Панические атаки</h3>
            <span style="color: #FFFFFF; font-size: 0.9vw">Богдан - 29 лет</span>
            <p style="color: #FFFFFF; text-align: left; font-size: 0.9vw; text-align: justify">Главным запросом терапии была проблема с внезапными приступами страха, учащенный пульс, удушье, ощущение, что сильно бьется сердце.<br><br>
            На первой консультации я провел диагностику и проанализировал начало ПА, им оказался сонный паралич. Также, выявил стандартный набор страхов: "а вдруг умру / опозорюсь / сойду с ума".<br><br>
            Я предпринял ряд действий метакогнитивной терапии: мы проанализировали объективность "опасности" ПА, научились не обращать внимания на возникающее беспокойство, откладывать тревогу, сформировали конструктивные убеждения о "неконтролируемости" и "опасности" страха, развили навык принятия эмоций.<br><br>
            Прошло пол года, клиент чувствует себя хорошо, благодарит меня за проделанную работу.<br><br>Видео-отзыв клиента вы можете посмотреть <a href="reviews.html" style="color: #ff7f50; font-weight: 700">тут</a> 
            </p>
          </section>
        </div>
      </div>
      <a class="slider__control slider__control_left" href="#" role="button"></a>
      <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
    </div>

    <h2 style="font-size: 3vw; text-align: center; margin: 8vw 0px 2vw 0vw">Отзывы моих клиентов</h2> 
    <p style="text-align: center; font-size: 1.2vw; line-height: 1.7vw; letter-spacing: 0.01em; margin: 2vw 0vw 3vw 0vw;">
      Что о работе со мной говорят клиенты, с которыми я провел одну консультацию<br>или полноценный курс психотерапии
    </p>

    <div class="slider" id="w_reviews">
      <div class="slider__wrapper">
        <div class="slider__item">
          <div class="review_box">
            <img class="review_icon" src="/assets/review/Мария 20.jpg">
            <h3 class="review_name">Мария, 20 лет</h3>
            <p class="review_text">
              «Я пол года занималась еженедельно с Андреем. Я не понимала, почему у меня не складываются отношения, но на определенном этапе работы оказалось, что то, с чем я пришла - это верхушка айсберга, а причина всему - тревога. Я не могу передать словами то, какого было мое удивление, восхищение методиками работы Андрея, насколько структурированы и понятны его методы. Я обрела все, чего мне не хватало. Спасибо!»
            </p>
          </div>
        </div>
        <div class="slider__item">
          <div class="review_box">
            <img class="review_icon" src="/assets/review/Богдан 29.png">
            <h3 class="review_name">Богдан, 29 лет</h3>
            <p class="review_text">
              «У меня 3 месяца была тревога и ПА. Я взял пробный урок, без особых надежд на успех, потому что у меня был уже отрицательный опыт. Однако, после 1-го занятия, техники, которые дал мне Андрей, дали определенный эффект, поэтому я поверил в то, что с этим специалистом можно работать. И мои ожидания абсолютно оправдались. Мы прозанимались 5 занятий и мои проблемы решились. Прошло пол года - никаких проблем нет»
            </p>
          </div>
        </div>
        <div class="slider__item">
          <div class="review_box">
            <img class="review_icon" src="/assets/review/Татьяна 24.png">
            <h3 class="review_name">Татьяна, 24 года</h3>
            <p class="review_text">
              «Під час наших сеансів з Андрієм я навчилася більше розуміти себе, свої емоції і відчуття, позбулася проблем, які довгий час псували мені життя. Завдяки Андрію, я поглянула на багато ситуацій під іншим кутом, що дуже позитивно вплинуло на моє особисте життя, відносини з чоловіком та рідними. Це був чудовий досвід пізнання себе. Дякую за продуктивну роботу, розуміння з півслова та безсумнівний професіоналізм. А також за техніку релаксації :)»
            </p>
          </div>
        </div>
        <div class="slider__item">
          <div class="review_box">
            <img class="review_icon" src="/assets/review/Светлана 37.jpg">
            <h3 class="review_name">Светлана, 37 лет</h3>
            <p class="review_text">
              «Андрея я нашла, когда в моей жизни был непростой период. Мне понравился энтузиазм Андрея и то, что он никогда не оставлял меня одну (была постоянная связь в Вайбере), после каждой консультации мы уже могли отмечать какой-то результат. ДЗ мы делали вместе. Андрей грамотный психолог, он не дал мне ни одного совета, а каждую ситуацию показал с какой-то неведомой для меня стороны, тогда я всё поняла и приняла ряд верных решений»
            </p>
          </div>
        </div>
        <div class="slider__item">
          <div class="review_box">
            <img class="review_icon" src="/assets/review/Анастасия 20.jpg">
            <h3 class="review_name">Анастасия, 20 лет</h3>
            <p class="review_text">
              «Во время  работы с Андреем было очень легко. Некоторые вещи после консультации перестали беспокоить и стали более понятными. За одну консультацию мы решили все вопросы, сразу ощутилась легкость! Проблемы преобразовались в легкие решения. Спасибо большое Вам за проделанную работу! Очень приятным бонусом был файл, где были прописаны все проблемы и пути их решения, к которым мы пришли на консультации!»
            </p>
          </div>
        </div>
        <div class="slider__item">
          <div class="review_box">
            <img class="review_icon" src="/assets/review/Данил 20.jpg">
            <h3 class="review_name">Данил, 20 лет</h3>
            <p class="review_text">
              «Очень понравился подход Андрея как специалиста, изначально он много информации передал мне во время первичного общения о том, как будет выглядеть консультация, финансовые вопросы, всё было ясно изложено, это впечатлило. Мне было легко общаться с Андреем, он задавал вопросы в нужный момент, никогда не давил. Иногда, казалось, что он видит меня насквозь, мне кжется, это о многом свидетельствует»
            </p>
          </div>
        </div>
      </div>
      <a class="slider__control slider__control_left" href="#" role="button"></a>
      <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
    </div>

    <script>
      'use strict';
      var multiItemSlider = (function () {
        return function (selector, config) {
          var
            _mainElement = document.querySelector(selector), // основный элемент блока
            _sliderWrapper = _mainElement.querySelector('.slider__wrapper'), // обертка для .slider-item
            _sliderItems = _mainElement.querySelectorAll('.slider__item'), // элементы (.slider-item)
            _sliderControls = _mainElement.querySelectorAll('.slider__control'), // элементы управления
            _sliderControlLeft = _mainElement.querySelector('.slider__control_left'), // кнопка "LEFT"
            _sliderControlRight = _mainElement.querySelector('.slider__control_right'), // кнопка "RIGHT"
            _wrapperWidth = parseFloat(getComputedStyle(_sliderWrapper).width), // ширина обёртки
            _itemWidth = parseFloat(getComputedStyle(_sliderItems[0]).width), // ширина одного элемента    
            _positionLeftItem = 0, // позиция левого активного элемента
            _transform = 0, // значение транфсофрмации .slider_wrapper
            _step = _itemWidth / _wrapperWidth * 100, // величина шага (для трансформации)
            _items = []; // массив элементов

          // наполнение массива _items
          _sliderItems.forEach(function (item, index) {
            _items.push({ item: item, position: index, transform: 0 });
          });

          var position = {
            getItemMin: function () {
              var indexItem = 0;
              _items.forEach(function (item, index) {
                if (item.position < _items[indexItem].position) {
                  indexItem = index;
                }
              });
              return indexItem;
            },
            getItemMax: function () {
              var indexItem = 0;
              _items.forEach(function (item, index) {
                if (item.position > _items[indexItem].position) {
                  indexItem = index;
                }
              });
              return indexItem;
            },
            getMin: function () {
              return _items[position.getItemMin()].position;
            },
            getMax: function () {
              return _items[position.getItemMax()].position;
            }
          }

          var _transformItem = function (direction) {
            var nextItem;
            if (direction === 'right') {
              _positionLeftItem++;
              if ((_positionLeftItem + _wrapperWidth / _itemWidth - 1) > position.getMax()) {
                nextItem = position.getItemMin();
                _items[nextItem].position = position.getMax() + 1;
                _items[nextItem].transform += _items.length * 100;
                _items[nextItem].item.style.transform = 'translateX(' + _items[nextItem].transform + '%)';
              }
              _transform -= _step;
            }
            if (direction === 'left') {
              _positionLeftItem--;
              if (_positionLeftItem < position.getMin()) {
                nextItem = position.getItemMax();
                _items[nextItem].position = position.getMin() - 1;
                _items[nextItem].transform -= _items.length * 100;
                _items[nextItem].item.style.transform = 'translateX(' + _items[nextItem].transform + '%)';
              }
              _transform += _step;
            }
            _sliderWrapper.style.transform = 'translateX(' + _transform + '%)';
          }

          // обработчик события click для кнопок "назад" и "вперед"
          var _controlClick = function (e) {
            if (e.target.classList.contains('slider__control')) {
              e.preventDefault();
              var direction = e.target.classList.contains('slider__control_right') ? 'right' : 'left';
              _transformItem(direction);
            }
          };

          var _setUpListeners = function () {
            // добавление к кнопкам "назад" и "вперед" обрботчика _controlClick для событя click
            _sliderControls.forEach(function (item) {
              item.addEventListener('click', _controlClick);
            });
          }

          // инициализация
          _setUpListeners();

          return {
            right: function () { // метод right
              _transformItem('right');
            },
            left: function () { // метод left
              _transformItem('left');
            }
          }

        }
      }());

      var slider = multiItemSlider('#w_results')
      var slider = multiItemSlider('#w_reviews')

    </script>

    <p style="text-align: center; font-size: 1.2vw; letter-spacing: 0.01em; margin: 3vw">
      Больше мнений о моей работе и видео-отзывы вы найдете в закладке <a href="reviews.html" style="border-bottom: 1px solid currentColor;">Отзывы</a>
    </p>

    <h2 style="font-size: 3vw; text-align: center; margin: 8vw 0px 2vw 0vw"> Запись на консультацию</h2> 
    <p style="text-align: center; font-size: 1.2vw; line-height: 1.7vw; letter-spacing: 0.01em; margin: 2vw 0vw 5vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <img src="/assets/КПНК1.svg" style="width: 40vw; margin-bottom: 8vw">
      <%= render partial: "/new/form"%>
    </div>

  </div> <!-- Конец  container -->
</div>  <!-- конец пк версии -->












<!-- начало моб версии -->
<div class="mob" style="background: #F7F7F7;">
<img src="/assets/main_mob.png" style="width: 100%">
<h2 style="
           position: absolute; 
           top: 78vw;
           left: 66vw;
           font-size: 3vw;
           line-height: 3vw;
           letter-spacing: 0.01em;
           color: #FFFFFF;">
           Андрей Ткаченко</h2>

<div style="background: #39383c; height: 33vw; position: absolute; top: 87vw; width: 100%">
            <h1 style="
            font-weight: 800;
            font-size: 8.5vw;
            line-height: 11vw;
            color: #FFF7F7;
            text-shadow: 1.5vw 0.2vw 0vw rgba(255, 173, 114, 0.25);
            margin-top: 5.4vw;
            text-align: center;">
            Консультация психолога онлайн</h1>
</div>
<div style="background: #9e9b9b; height: 13vw; position: absolute; top: 124vw; width: 100%">
            <h2 style=" 
            
            
            font-weight: normal;
            font-size: 4vw;
            line-height: 4.1vw;
            color: #FFF7F6;
            text-align: center;
            margin: 2.9vw 4vw;">
            Я помогу вам разобраться с проблемами из любой точки мира</h2>
</div>
<button class="button1_style" style="position: absolute; top: 142vw; margin: 0px auto; height: 14vw; width: 55vw; left: 22vw; border-radius: 2vw">
    <span class="button_text" style="font-size: 2.7vw; line-height: 2vw">Записаться на консультацию</span>
</button>

<h1 class="container" style="padding: 8vw 8vw 5vw 8vw;
    text-align: center; 
    
    
    font-weight: 800;
    font-size: 4vw;
    line-height: 4vw;
    color: #494450;">
    Мои направления работы
    </h1>

  <div class="container" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
    

    <div class="problem_box">
      <img class="problem_icon" src="/assets/anxiety.png">
      
      <h3 class="problem_name">
        Избавление от тревожных расстройств
      </h3>
      <p class="problem_text">
          Генерализованное тревожное расстройство, тревожные мысли, предчувствия, мышечное напряжение <a class="problem_link" href="">больше...</a>
      </p>
    </div>

    <div class="problem_box">
        <img  class="problem_icon" src="/assets/self-esteem.png">
    
        <h3 class="problem_name">
          Повышение самооценки
        </h3>
        <p class="problem_text">
            Избавление от мысленных самообвинений. Работа с установками “Я не смогу”, “Я не достоин” <a class="problem_link" href="">больше...</a>
        </p>
    </div>

    <div class="problem_box">
        <img  class="problem_icon" src="/assets/relationship.png">
    
        <h3 class="problem_name">
          Улучшение взаимоотношений
        </h3>
        <p class="problem_text">
            Помощь в избавлении от конфликтов в семье, на работе, одиночества, страха отношений <a class="problem_link" href="">больше...</a>
        </p>
    </div>

    <div class="problem_box">
        <img  class="problem_icon" src="/assets/crisis.png">
    
        <h3 class="problem_name">
          Помощь в преодолении кризиса
        </h3>
        <p class="problem_text">
            Работа с потерей смысла жизни, кризисом среднего возраста, проблемой самоопределения <a class="problem_link" href="">больше...</a>
        </p>
    </div>

    <div class="problem_box">
        <img  class="problem_icon" src="/assets/problem/neurosis.svg">
    
        <h3 class="problem_name">
          Психотерапия неврозов и психосоматики
        </h3>
        <p class="problem_text">
            Работа с раздражительность, ранимостью, виной, стыдом, обидой, злостью, завистью, ВСД <a class="problem_link" href="">больше...</a>
        </p>
    </div>
    <div class="problem_box">
        <img class="problem_icon" src="/assets/depression.png">
    
        <h3 class="problem_name">
          Психологическая помощь при депрессии
        </h3>
        <p class="problem_text">
            Работа с проблемой депрессии, дистимии, циклотомии, с грустью, печалью, апатитей, подавленностью <a class="problem_link" href="">больше...</a>
        </p>
    </div> 
  </div>
  <link rel="stylesheet" href="/assets/dist/css/lightbox.css">
  <%= javascript_include_tag  '/assets/dist/js/lightbox-plus-jquery.js' %>
</div>


