<div class="pc_content">
  <div class="container" style="text-align: justify;">
    <h1 style="padding-top: 4vw; text-align: center; font-weight: 800; font-size: 3vw;">Терапия принятия и ответственности</h1>
    <p style="text-align: center; font-size: 1.1vw; line-height: 1.6vw; letter-spacing: 0.01em; margin: 2vw 7vw 4vw 7vw;">
      В 80-хх годах был разработан метод, который помогает избавиться от невротических проблем и наслаждаться жизнью даже тем людям, которые страдают от хронических заболеваний. Имя ему – АСТ.
    </p>
    <div>
      <img src="<%= asset_url('methods/ACT.svg')%>" style="float: right; width: 30vw; margin: 1vw 4vw">
      <h2>Что такое АСТ</h2>
      <p>
        <b>Терапия принятия и ответственности</b> (АСТ) – направление 3-й волны КПТ, которое совмещает в себе поведенческую терапию, майндфулнес и свои индивидуальные наработки. Улучшая осознанность, выявляя ценности, делая акцент на действиях, важных для человека, достигаются стойкие результаты психотерапии.
      </p>
      <p>
        Создателем АСТ является Стивен Хайес, он исследовал модели обучения языку и концепцию психологического здоровья. Долгое время в психологии понятия нормы было заимствовано из медицины: отсутствие болезни = здоровье. Сейчас, это утверждение пересмотрели. Ведь даже самый счастливый человек может иногда тревожится, может одновременно любить и обижаться на своего отца или мать. Более того, как показали исследования, уровень счастья напрямую не зависит от наличия болезней (человек, который страдает какой-либо хронической болезнью может ощущать себя более счастливо, нежели «здоровый» человек) и даже финансовое благополучие не обеспечивает 100% уровень счастья. А что тогда делает человека счастливым, спросите вы. Ответ: <b>ценностные действия</b>. Человек становится счастливым, когда он делает то, что для него очень важно и ценно в данный момент жизни, не смотря на возможные трудности.
      </p>
      <p>
        У всех людей бывают негативные мысли, эмоции и неприятные ощущения. Это нормально. Человек здоров, если научился <b>замечать</b> наличие «тараканов» в своей голове. В тот миг, когда он заметил, что с ним происходит (какие мысли, желания, ощущения у него есть) – он становится свободным в своем выборе: продолжать избегать или начать действовать.</p>
      <p>
        <b>Психологически здоровый человек</b> – это не тот, у кого нет проблем, а тот, кто умеет делать то, что для него важно и ценно в данный момент, не смотря ни на какие внутренние проблемы (негативные мысли, эмоции, ощущения, желания). Поэтому АСТ занимается развитием <b>гибкости мышления и внимания</b>. Для этого в АСТ есть 3 глобальные направления работы:<br>
      <ul>
        <li>Открытость: вместо вечного избегания – становимся открытыми к тому, что с нами происходит, не пытаемся убежать от мыслей и чувств, принимаем их и научается растождествляться с ними: «я, мои мысли и мои чувства – не одно и то же»;</li>
        <li>Центрированность: вместо летания в облаках, научаемся держать фокус внимания на настоящем моменте, чтобы мочь останавливать поток своих мыслей и делать осознанный выбор: "как поступить в данной ситуации?";</li>
        <li>Вовлеченность: выявляем истинные ценности человека, которым он хочет следовать и к которым стремится. Задача – научиться делать то, что для меня важно, а не то, что убережет меня от возможной физической или ментальной «боли».</li>
      </ul>
      <p>
        Все применяемые техники в АСТ сопровождаются красочными метафорами и примерами, которые помогают клиенту лучше понять и почувствовать, что значит осознанность, принятие, ценности. Согласно исследованиям, АСТ является отличным методом, который дает хорошие результаты и имеет низкую вероятность возможных рецидивов в будущем, по сравнению с иными методами.
      </p>
    </div>

    <h2>Проблемы, которые решаются с помощью АСТ:</h2>
    <ul>
      <li>Невроз и психосоматика</li>
      <li>Повышенная тревога и Генерализованное тревожное расстройство</li>
      <li>Депрессия</li>
      <li>Фобии</li>
      <li>Панические атаки</li>
      <li>Низкая самооценка</li>
      <li>Экзистенциальые проблемы (потеря смысла жизни)</li>
      <li>Улучшение психологического самочувствия при хронических и неизлечимых болезнях</li>
    </ul>

    <h2>Как работает ACT</h2>
    <p>
      Клиент на первой сессии описывает свою проблему, АСТ-терапевт слушает, задает уточняющие вопросы, проводит полноценную диагностику по схеме гексафлекса (шестиугольника гибкости):
    </p>

    <div style="text-align: center; margin: 3vw"><img src="<%= asset_url('methods/Hexaflex.svg')%>" style="width: 60vw;"></div>
  
    <p>
      Диагностику по гексафлексу проводить очень легко, схема подходит под любые типы неврозов, от чего лишь за первый час работы уже становится ясна полная картина проблемы и план терапии.
    </p>
    <h2>Вторая и третья сессия</h2>
    <p>
      Анализируются действия клиента, которыми он пытается защититься или перебороть свою проблему, выявляются краткосрочные и долгосрочные последствия таких действий. Клиент обучается техникам расцепления с мыслями и принятия (схожих с медитацией), учится не убегать, а контактировать со своими страхами и тревогой, быть открытым к новому опыту и приспосабливаться к тому, что происходит в его внутреннем мире.
    </p>
    <h2>Четвертая и пятая сессия</h2>
    <p>
      Терапевт обучает клиента концентрировать свое внимание на том, что происходит здесь и сейчас. Это позволяет вовремя заметить надвигающуюся панику, страх, тревогу и вовремя среагировать. Также, человек обретает навык наблюдения со стороны за своими чувствами, мыслями, что позволяет принимать верные решения, чувствовать себя в безопасности в ситуации неопределенности и даже развивать творческие способности.
    </p>
    <h2>Шестая и седьмая сессия</h2>
    <p>
      Выявляются основные ценности, которые имеют бесприкословную важность для человека, которым он хочет следовать, не смотря ни на что. Исходя из ценностей формируются цели (как череда достижений, которые подтверждают то, что я иду по пути своих ценностей). В конце формируется список конкретных действий, которые необходимо сделать для достижения целей и те препятствия, которые могут помешать (негативные мысли, эмоции, желания, внешние обстоятельства).
    </p>
    <h2>Завершающая консультация</h2>
    <p>
      На 8 сессии все применяемые техники собираются вместе, в единую систему, клиент научается применять полученные знания в любой жизненной ситуации используя технику «СТОП». На последней встрече проводится профилактика рецидивов, ставятся задачи и цели на будущее, делаются окончательные выводы.
    </p>
    <h2>Как долго нужно проходить терапию ACT</h2>
    <p>
      Стандартная АСТ-терапия длится 10-12 сессий 1-2 раза в неделю. В зависимости от сложности проблемы, индивидуальных особенностей человека, работа может длиться и дольше. По желанию клиента может проводиться поддерживающая терапия (1 сессия раз в 3-4 недели);
    </p>
    <p>
      Также, существует краткосрочная вид терапии под названием FACT, которая является упрощенной моделью АСТ и в течении 1-4 сессий помогает научиться самостоятельно решать проблемные ситуации.
    </p>

    <h2 style="font-size: 3vw; text-align: center; margin: 9vw 0px 2vw 0vw"> Запись на консультацию</h2> 
    <p style="text-align: center; font-size: 1.2vw; line-height: 1.7vw; letter-spacing: 0.01em; margin: 2vw 0vw 5vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10vw">
      <img src="<%= asset_url('КПНК1.svg')%>" style="width: 40vw">
      <div>Форма</div>
    </div>

  </div> <!-- конец container -->
</div>