<div class="pc_content">
  <div class="container" style="text-align: justify">
    <h1 style="margin-top: 5vw; font-weight: 800; text-align: center; font-size: 3vw;">Коучинг и обучение</h1>
    <p style="text-align: center; font-size: 1.1vw; line-height: 1.6vw; letter-spacing: 0.01em; margin: 3vw 3vw 4vw 3vw">
      ﻿﻿﻿﻿﻿Если вы это читаете, то, вероятно, вы интересуетесь собственным саморазвитием. Эта статья призвана кратко объяснить процесс тренинга и коучинга, как он выглядит на практике, к какому результату мы стремимся и какие техники для этого я использую
    </p>
    <img src="/assets/problem/coaching.svg" style="float: right; width: 30vw; margin: 1vw 4vw">
    <h2>Какие навыки я развиваю</h2>
    <ul>
      <li>Коучинг: помощь в принятии решений</li>
      <li>Обучение техникам и навыкам:</li>
      <ul>
        <li>принятия решений</li>
        <li>стрессоустойчивости</li>
        <li>релаксации</li>
        <li>постановки целей</li>
        <li>самонаблюдения и самоанализа</li>
        <li>коммуникации, решению конфликтов</li>
        <li>осознанности</li>
      </ul>
    </ul>

    <h2>Методы коучинга и тренинга</h2>
    <p>
      Вы записывайтесь ко мне на консультацию и в зависимости от запроса я подбираю для вас индивидуальный метод обучения исходя из ваших временных рамок, финансового положения и того, какой уровень владения навыка вам необходим.<br>В своей работе я использую все <a href="methods.html" style="border-bottom: 1px solid currentColor;">6 методов</a>, которыми я владею.
    </p>
    <h2>Помощь в принятии решений (+обучение)</h2>
    <p>
      СМД. Для верного решения необходимо провести четкий анализ разворачивающийся деятельности. Чтобы уметь анализировать - необходимо развивать мышление. И тем и другим занимается СМД (системно-мыследеятельностный подход). Рисуя схемы происходящего, мы можем объективно оценить события с разных точек зрения и принять наиболее правильное решение из возможных.
    </p>
    <h2>Обучение стрессоустойчивости</h2>
    <p>
       Стресс активирует поток негативных мыслей, с которыми помогает справиться техника отстраненной осознанности. Эмоциональные всплески можно приглушить техниками принятия. Чтобы не воспринимать события как негативные, мочь смотреть с позиции наблюдателя, есть техники осознанности и АВС-схема. Для выработки практического навыка управления своим состоянием тренируем технику СТОП.
    </p>
    <h2>Обучение релаксации</h2>
    <p>
      Для быстрого расслабления, лучшего засыпания подойдет аутотренинг или прогрессивная мышечная релаксация Джекобсона. Чтобы полностью владеть собой, придуман метод Прикладной релаксации, обучение которой занимает до 3-х месяцев.
    </p>        
    <h2>Постановка целей</h2>
    <p>
      Для этого используется метод целеполагания из СМД (так само, анализируем деятельность) и техники АСТ-терапии (выявляем ценности и уже на их основе создаем цели).
    </p>
    <h2>Выявление / формирование ценностей</h2>
    <p>
      Для этого используется метод АСТ.
    </p>  
    <h2>Самонаблюдение и самоанализ</h2>
    <p>
      Здесь можно жонглировать техниками: АВС-схема, рефрейминг, рефлексия по СМД, когнитивная реструктуризация, Наблюдающее Я из АСТ, образ себя из ЭОТ, выявляем вашу игру и роли в транзактном анализе.
    </p>
    <h2>Навыки коммуникации</h2>
    <p>
      чтобы научиться эффективно общаться, нужно понимать контекст, какая именно "игра" сейчас разворачивается между людьми, это удел транзактного анализа (я анализирую ваши взаимоотношения, объясняю смысл своих рефлексивных вопросов и за пару консультаций вы перенимаете данный навык). Чтобы научиться не создавать лишний раз конфликты, существует метод ненасильственного общения, а для решение конфликтов - техники медиаторства (нахождения компромиса). Закрепляем навыки на практике: проводим стресс-консультации с вами, после чего вы отшлифовываете навык в повседневной жизни.
    </p>
    <h2>Обучение осознанности</h2>
    <p>
      Развиваем свое внимание на текущем моменте, учимся отстранятся от собственных мыслей, чувств и действий, научаемся задавать себе рефлексивные вопросы (вопросы на понимание). При желании глубоко развить навык - обучаемся медитации (на консультации и дома).
    </p>

    <h2 style="font-size: 3vw; text-align: center; margin: 9vw 0px 2vw 0vw"> Запись на консультацию</h2> 
    <p style="text-align: center; font-size: 1.2vw; line-height: 1.7vw; letter-spacing: 0.01em; margin: 2vw 0vw 3vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10vw">
      <img src="/assets/КПНК1.svg" style="width: 40vw">
      <div>Форма</div>
    </div>

  </div> <!-- конец container -->