<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Договор на предоставление психологических услуг | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Договор - важная часть терапии, он создает безопасную атмосферу для работы и помогает преодолеть сопротивление изменениям.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Договор на предоставление психологических услуг | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Договор - важная часть терапии, он создает безопасную атмосферу для работы и помогает преодолеть сопротивление изменениям.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/contract">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/consultation-psychologist-online-Tkachenko-Andrey-15d393997277900bef34501aa768f09ecc97d4153095c5ed20be12d9f55d4582.png">
<% end %>

<div class="pc_content">
  <div class="container">
    <h1 style="text-align: center; font-weight: 800; font-size: 2.5vw; margin: 5vw 0px 4vw 0vw">Договор</h1>
    <div style="float: right; text-align: center; margin: 3vw; width: 20vw">
      <a href="https://drive.google.com/file/d/1xl7AatJUQIgA0HQzApFOtrU4irwmGje1/view" style="color: #393434; text-decoration: none;" target="_blank">
        <img src="<%= asset_url('contract.svg')%>" style="width: 5vw">
        <p style="margin: 0px">
          <b>Договор на предоставление психологических услуг</b>
        </p>
      </a>
    </div>
    <p>
      Данный договор заключается только с теми, кто желает пройти 5 и более консультаций. Он состоит из отдельных пунктов, в соответствии с которыми проходит работа психолога и клиента. Договор является важной частью работы. Его заключение и соблюдение условий оказывает позитивное влияние на ход работы.
    </p>
    <p>
      <b>1. Договор помогает преодолеть сопротивление изменениям.</b> Наша психика устроена интересным образом: желание измениться находится параллельно с боязнью выйти за свои рамки привычного уклада жизни. То есть, человек хочет изменений и одновременно боится их. Поэтому, зачастую, когда клиент приближается к возможности изменения, он начинает ощущать страх и стремление к тому, чтобы прервать работу с психологом. Например, клиент в этот период может начать опаздывать, забывать о встрече, неожиданно заболеть, злиться на психолога, считать, что консультации бесполезны и не принесут результатов и т.п. Если прекратить работу в этот важный момент, проблема не только остается с клиентом, но и усилится. Заключение договора удерживает клиента от внезапного прекращения работы, так как стимулирует его все-таки прийти на встречу, обсудить происходящее и преодолеть страх изменений.
    </p>
    <p style="margin-bottom: 8vw">
      <b>2. Договор создает безопасную атмосферу для работы</b>, так как устанавливаются границы между психологом и клиентом. Во-первых, клиент уверен в конфиденциальности информации и может говорить более открыто. Во-вторых, исключаются любые манипуляции как со стороны психолога, так и со стороны клиента, потому что договор четко описывает денежные отношения и моральную составляющую работы психолога с клиентом. В-третьих, зачастую, клиент переживает страх того, что психолог откажется от него, когда больше узнает о нем и его проблемах – в этом случае договор также способствует ослаблению тревоги. А тем клиентам, которые привыкли разрывать отношения при малейшей тревоге, договор помогает удерживаться от этого соблазна, дает возможность осознать свое поведение и изменить его.
    </p>
  </div> <!-- конец container -->
</div> <!-- конец pc_content -->













<!-- начало моб версии -->
    <div class="mob" style="background: #F7F7F7;">
      <div class="container" style="margin-bottom: 8vw; font-size: 2.5vw; line-height: 3vw">
        <h1 style="padding: 7vw 0vw 2vw 0vw; text-align: center; font-weight: 800; font-size: 5vw">
          Договор
        </h1>
        <div style="float: right; text-align: center; margin: 0vw 0vw 3vw 3vw; width: 29vw">
          <a href="https://drive.google.com/file/d/1xl7AatJUQIgA0HQzApFOtrU4irwmGje1/view" style="color: #393434; text-decoration: none;" target="_blank">
            <img src="<%= asset_url('contract.svg')%>"  style="width: 9vw">
            <p style="margin: 0px">
              <b>Договор на предоставление психологических услуг</b>
            </p>
          </a>
        </div>
        <p>
          Данный договор заключается только с теми, кто желает пройти 5 и более консультаций. Он состоит из отдельных пунктов, в соответствии с которыми проходит работа психолога и клиента. Договор является важной частью работы. Его заключение и соблюдение условий оказывает позитивное влияние на ход работы.
        </p>
        <p>
          <b>1. Договор помогает преодолеть сопротивление изменениям.</b> Наша психика устроена интересным образом: желание измениться находится параллельно с боязнью выйти за свои рамки привычного уклада жизни. То есть, человек хочет изменений и одновременно боится их. Поэтому, зачастую, когда клиент приближается к возможности изменения, он начинает ощущать страх и стремление к тому, чтобы прервать работу с психологом. Например, клиент в этот период может начать опаздывать, забывать о встрече, неожиданно заболеть, злиться на психолога, считать, что консультации бесполезны и не принесут результатов и т.п. Если прекратить работу в этот важный момент, проблема не только остается с клиентом, но и усилится. Заключение договора удерживает клиента от внезапного прекращения работы, так как стимулирует его все-таки прийти на встречу, обсудить происходящее и преодолеть страх изменений.
        </p>
        <p style="margin-bottom: 8vw">
          <b>2. Договор создает безопасную атмосферу для работы</b>, так как устанавливаются границы между психологом и клиентом. Во-первых, клиент уверен в конфиденциальности информации и может говорить более открыто. Во-вторых, исключаются любые манипуляции как со стороны психолога, так и со стороны клиента, потому что договор четко описывает денежные отношения и моральную составляющую работы психолога с клиентом. В-третьих, зачастую, клиент переживает страх того, что психолог откажется от него, когда больше узнает о нем и его проблемах – в этом случае договор также способствует ослаблению тревоги. А тем клиентам, которые привыкли разрывать отношения при малейшей тревоге, договор помогает удерживаться от этого соблазна, дает возможность осознать свое поведение и изменить его.
        </p>
        </div>  <!-- конец container -->

    </div>  <!-- конец моб версии -->