 <div class="pc_content">
  <div class="container" style="text-align: justify;">
    <h1 style="padding-top: 4vw; text-align: center; font-weight: 800; font-size: 3vw;">Эмоционально-образная терапия</h1>
    <p style="text-align: center; font-size: 1.1vw; line-height: 1.6vw; letter-spacing: 0.01em; margin: 2vw 7vw 4vw 7vw;">
      Пока психологи занимались изменением поведения и когнитивным анализом, на свет родился новый изысканный метод, который позволяет решить эмоциональные проблемы буквально за час. Имя ему – ЭОТ.
    </p>
    <div>
      <img src="/assets/methods/EIT.svg" style="float: right; width: 30vw; margin: 1vw 4vw">
      <h2>Что такое ЭОТ</h2>
      <p>
        <b>Эмоционально-образная терапия</b> (ЭОТ) – одно из новых направлений психотерапии родившиеся на просторах СНГ, создатель – Николай Линде. Метод работает с негативными эмоциональными состояниями человека (стыд, вина, обида, злость, ревность) через образы.<br>
        *В моей работе я использую ЭОТ лишь как вспомогательный инструмент.
      </p>
      <p>
        Эмоции можно выразить через визуальный, слуховой или тактильный образ задав себе вопрос: <b>«на что похожи мои переживания?»</b>. Образ можно мысленно менять, увеличивать, уменьшать, сделать бесцветным или красочным, переместить в другое пространство, наделить формой, объемом, поговорить с ним, сделать его похожим на материальный объект и т.д. Его можно трансформировать как угодно, главное – после <b>изменения образа</b> меняется внутреннее состояние человека.
      </p>
      <p>
        ЭОТ утверждает, что невыраженные эмоции могут «застревать» и приводить к неврозу и психосоматике. Соответственно, чтобы избавить человека от страданий нужно просто изменить образ его проблемы. Это гениальное и эффективное средство для точечных изменений в процессе консультирования. ЭОТ подходит «гуманитариям» и творческим натурам, которые «живут эмоциями».
      </p>
      <p>
        Образы и метафоры клиентов всегда неожиданны и интересны. Благодаря им диалог клиента и психолога превращается в произведение искусства где есть место безграничной фантазии. В этой палитре красок всегда рождается новое понимание ситуации, улучшается эмоциональное состояние, проходят старые обиды, тревоги и страхи.
      </p>
    </div>

    <h2>Проблемы, которые решаются с помощью ЭОТ:</h2>
    <ul>
      <li>Невротические эмоции: злость, вина, обида, стыд, ревность и т.д.</li>
      <li>Легкая психосоматика (мышечные боли)</li>
      <li>Эмоциональная зависимость</li>
      <li>Проблемы в отношениях с людьми (ЭОТ помогает трансформировать восприятие отношений)</li>
    </ul>

    <h2>Как работает ЭОТ</h2>
    <p>
      Клиент приходит к психологу и заявляет: «я кручусь как белка в колесе» - это не значит, что человек на самом деле является белкой, это значит, что вся его жизнь выстроена именно таким образом, что он чувствует себя «белкой в колесе». Чтоб разбираться с проблемой необходимо говорить на языке клиента, на его метафорах.
    </p>

    <div style="text-align: center; margin: 3vw"><img src="/assets/methods/hamster-wheel-30.gif" style="width: 30vw; border-radius: 2vw"></div>
  
    <p>
      <b>Типичный пример работы с образами:</b><br>
      Клиент: у меня болит спина, не знаю почему.<br>
      Психолог: на что похожа боль?<br>
      К: я будто несу огромный камень на спине.<br>
      П: как он там оказался?<br>
      К: …пауза… я сам его туда положил, когда-то.<br>
      П: зачем вы туда его положили?<br>
      К: а без него никак. Если я чувствую, что устал, вымотался, то это значит, что я хорошо поработал, что я молодец и камень напоминает мне об этом.<br>
      П: камень до сих пор выполняет свою функцию или он уже не нужен?<br>
      К: нет, он уже не нужен, я и так знаю, что много тружусь и все чего я достиг – Моя заслуга.<br>
      П: тогда что вы хотели бы сделать с этим камнем?<br>
      К: выбросить его.<br>
      П: вы можете сделать то, что вы хотите.<br>
      К: (выбрасывает)<br>
      П: как ваша спина?<br>
      К: мне намного лучше, спина не болит.
    </p>
    <p>
      <b>Эмоциональная зависимость:</b><br>
      Клиент: я не могу забыть бывшего, не могу полюбить кого-то другого.<br>
      Психолог: представьте, что рядом с вами сидит ваш бывший, что вы чувствуете?<br>
      К: все тело рвется к нему со страшной силой, прям ураган какой-то.<br>
      П: на что похож этот ураган? Что создает эту силу?<br>
      К: на какой-то ярко синий шар.<br>
      П: это шар создает такой ураган?<br>
      К: да.<br>
      П: а чей это шар, ваш или его?<br>
      К: мой, это моя часть личности, это моя любовь.<br>
      П: тогда попробуйте вернуть его в свое тело обратно.<br>
      К: (мысленно возвращает шар себе)<br>
      П: как вы теперь себя чувствуете глядя на своего бывшего, которого вы представляете рядом?<br>
      К: мне хорошо, я чувствую нежность к нему, но я не страдаю, не понимаю почему.<br>
      П: можете ли вы окончательно сказать ему «прощай, желаю тебе счастья в личной жизни»?<br>
      К: могу.<br>
      П: скажите.<br>
      К: (прощается)<br>
      П: как самочувствие?<br>
      К: мне намного лучше.<br>
      П: синий шар – это и есть ваше сердце, оно было подарено молодому человеку, но когда произошел разрыв, вы предпочли выбросить шар, а этого не надо делать, сердце должно находиться у вас и тогда вы снова сможете чувствовать любовь.
    </p>
    <h2>Как долго нужно проходить терапию ЭОТ</h2>
    <p>
      ЭОТ не подразумевает долгой работы. Исходя из запроса клиента я применяю ЭОТ + другие методы (КПТ, АСТ, ТА). Простые запросы в сфере отношений или эмоций решаются за 1 консультацию. Более сложные случаи требуют больше времени.
    </p>

    <h2 style="font-size: 3vw; text-align: center; margin: 9vw 0px 2vw 0vw"> Запись на консультацию</h2> 
    <p style="text-align: center; font-size: 1.2vw; line-height: 1.7vw; letter-spacing: 0.01em; margin: 2vw 0vw 5vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10vw">
      <img src="/assets/КПНК1.svg" style="width: 40vw">
      <div>Форма</div>
    </div>

  </div> <!-- конец container -->
</div>