<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Часто задаваемые вопросы | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Сможете разобраться с моей проблемой? Сколько понадобится консультаций? Ответы на эти и другие часто задаваемые вопросы вы найдете в этом разделе">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Часто задаваемые вопросы | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Сможете разобраться с моей проблемой? Сколько понадобится консультаций? Ответы на эти и другие часто задаваемые вопросы вы найдете в этом разделе">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/faq">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/consultation-psychologist-online-Tkachenko-Andrey-15d393997277900bef34501aa768f09ecc97d4153095c5ed20be12d9f55d4582.png">
<% end %>

 <div class="pc_content">
  <div class="container">
    <h1 style="font-weight: 800; font-size: 2.5vw; text-align: center; margin: 5vw 0px 2vw 0vw;">Часто задаваемые вопросы</h1>
    <p style="text-align: center; letter-spacing: 0.01em; margin: 2vw 8vw 3vw 8vw;">
      Сможете разобраться с моей проблемой? Как записаться за консультацию? Как она будет проходить?<br>Ответы на эти и другие часто задаваемые вопросы вы найдете в этом разделе
    </p>

    <div class="accordion"> <!-- блок аккордеон -->
      <section class="accordion_item">
        <h3 class="title_block">Вы проводите консультации в кабинете? Где?</h3>
        <div class="info">
          <p class="info_item">Да. Вы можете записаться на консультацию в кабинете по адресу ул.Артема 11, Днепр, Украина. Удобный кабинет в центре города, чай, кофе, всё как полагается, приходите :)</p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">Можете ли вы мне помочь с моей проблемой?</h3>
        <div class="info">
          <p class="info_item">На сайте есть раздел <a href="/work-with.html">С чем я работаю</a>, там описаны мои основные сферы деятельности. Конечно, это лишь малая часть того, с чем я могу вам помочь. <a href="#Question">Напишите</a> мне, расскажите свой уникальный случай, я его проанализирую и скажу как справиться с вашей ситуацией.</p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">Какие гарантии результата работы вы даете?</h3>
        <div class="info">
          <p class="info_item">1. Я гарантирую, что ваше состояние улучшится, если вы будете соблюдать все рекомендации, добросовестно выполнять упражнения и домашнее задание. Гарантией моего профессионализма являются дипломы о моем образовании, мой опыт работы, отзывы клиентов, мой персональный контент на сайте;</p>
          <p class="info_item">2. В консультировании и психотерапии я беру на себя 50% ответственности за результат. Я гарантирую профессиональный подход в работе, мое искреннее желание помочь, доброжелательность, конфиденциальность и 100% моего внимания лично Вам во время консультации. Ваши 50% ответственности за результат - желание сотрудничать и выполнять дз;</p>
          <p class="info_item">3. Каждый человек индивидуален, кому-то для изменений потребуется больше времени, это зависит от многих факторов: насколько сложная проблема, насколько развиты ваши способности к самоанализу, насколько вы мне доверяете, как психологу, и говорите ли всю правду;</p>
          <p class="info_item">4. Чтобы наша работа была максимально эффективной, для начала вам следует пройти обследование у врача (если ваша проблема касается эмоций, психосоматических проблем или иных расстройств), на консультации нужно приходить выспавшимся (по возможности), быть максимально открытым и говорить обо всем что беспокоит, а после - выполнять все домашние задания.
          </p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">Насколько эффективны онлайн-консультации?</h3>
        <div class="info">
          <p class="info_item">Методом диагностики и работы психолога является специально выстроенный диалог, поэтому консультации можно проводить как очно в кабинете, так и онлайн. Если вы не хотите обнимать, нюхать, пробовать на вкус психолога, то онлайн-консультации как раз для вас! Онлайн-консультации дешевле и удобнее как для психолога, так и для самого клиента.
          </p>
          <p class="info_item">По правде говоря:</p>
          <p class="info_item"> 1. Если проблема касается мелких бытовых вопросов («что в таких случаях делают?», «нормально ли это?»), то консультации можно проводить даже по переписке в мессенджерах;</p>
          <p class="info_item">2. Если вопрос касается отношений и не затрагивает работу с эмоциями, то можно проводить консультации по телефону без видеосвязи (но, конечно, желательно с видеосвязью);</p>
          <p class="info_item">3. Если вопрос касается неврозов, панических атак, депрессий и прочих сложных проблем, то здесь обязательна видео- и аудио-связь во время консультаций;</p>
          <p class="info_item">4. Есть техники, которые возможно применять только в кабинете (например, ДПДГ), однако есть аналогичные методы работы (например, гипнотерапия), которые эффективно работают в режиме онлайн;</p>
          <p class="info_item">5. При онлайн-консультациях вам следует заранее подготовить: камеру (см. пункты выше), микрофон и тихое уютное место. Если видео-связь будет не очень качественной – не проблема. Если аудио-связь будет плохой – эффективность консультации будет снижаться.</p>
          <p class="info_item">Если придерживаться данных правил, то эффективность онлайн-консультаций будет не уступать очным встречам в кабинете.</p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">Сколько потребуется консультаций?</h3>
        <div class="info">
          <p class="info_item">В разделе <a href="/work-with.html">С чем я работаю</a>, вы найдете список основных проблем и перейдя по одной из них сможете узнать сколько консультаций в среднем требуется для решения данной проблемы.</p>
          <p class="info_item">Если обобщить, то:</p>
          <p class="info_item">1. Простые бытовые вопросы решаются за 1 консультацию;</p>
          <p class="info_item">2. Проблемы с отношениями в семье или на работе можно решить за 1-5 консультаций;</p>
          <p class="info_item">3. Вопросы невротического характера: вина, стыд, обида, страх и прочие не очень сложные проблемы можно решить за 3-5 консультаций;</p>
          <p class="info_item">4. Депрессии, панические атаки, тревожность можно убрать за 5-10 консультаций, если проблема не сложная;</p>
          <p class="info_item">5. Низкую самооценку («я всегда такой была»), сложные неврозы, психосоматику и другие тяжелые случаи можно изменить за 10 и более консультаций.</p>
          <p class="info_item">Каждый человек индивидуален, кому-то для изменений потребуется больше времени, кому-то меньше, это зависит от многих факторов: насколько сложная проблема, насколько развиты ваши способности к самоанализу и эмоциональный интеллект, насколько вы доверяете мне, как психологу, и говорите ли всю правду и т.д.
          </p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">Что такое консультация и как она проходит?</h3>
        <div class="info">
          <p class="info_item">Психологическая консультация - вид психологической помощи, специально выстроенный диалог между психологом и клиентом с применением вербальных и поведенческих техник направленных на изменение эмоций, убеждений и поведения клиента, чтобы избавить его от социальных, психологических и психосоматических проблем.<br>
            Процесс консультации детально описан на странице <a href="/consultations.html">Консультации</a>.</p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">Что такое психотерапия? Чем отличается обычная психотерапия от Интенсивной психотерапии?</h3>
        <div class="info">
          <p class="info_item">Очень упрощенно, психотерапия - это курс из нескольких психологических консультаций. Это комплексное воздействие на эмоции, убеждения и поведение человека для избавления от социальных, психологических и психосоматических проблем при помощи специальных техник и приемов.<br>
          1. <a href="consultations.html">Обычная психотерапия</a> (1-2 консультации в неделю по 2 часа) - стандартный метод работы с психологическими проблемами. Может проводиться индивидуально, либо в группе (<a href="/consultations.html#Group">Групповая психотерапия</a>).<br>
          2. <a href="/consultations.html#Intensive-psychotherapy">Интенсивная психотерапия</a> (5 дней подряд по 4 часа) - курс, направленный на максимально быстрое приведения человека в норму, чтобы он мог продолжать жить и работать не смотря на перенесенный стресс и жизненные трудности. Здесь я применяю все свои знания и навыки в концентрированном виде, чтобы решить проблему клиента. После этого интенсивного курса, клиент может продолжать консультации 1-2 раза в неделю, если это будет необходимо, либо снова заказать интенсивный курс для решения другого вопроса.
          </p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">Что я, как клиент, почувствую на консультации?</h3>
        <div class="info">
          <p class="info_item">Во время консультации, мы можем затрагивать эмоционально неприятные темы и воспоминания из вашей жизни. Поэтому вы можете ощутить грусть, страх, злость, обиду, стыд и т.д. Приходя на консультации ко мне, как к психологу, вы обязуетесь "выносить тяжесть раскрытия своих интимных переживаний" (согласно нашему <a href="/contract.html">Договору</a>). В конце каждой консультации, я, как психолог, обязуюсь сделать всё возможное, чтобы вы чувствовали себя спокойным, эмоционально наполненным и уверенным в завтрашнем дне.</p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">Что мне, как клиенту, придется делать на консультациях?</h3>
        <div class="info">
          <p class="info_item">1. Учавствовать в диалоге со мной, как с психологом, и говорить о личном;</p>
          <p class="info_item">2. Самостоятельно определять результат нашей работы, которого вы хотите достичь;</p>
          <p class="info_item">3. Самостоятельно принимать решения как вам следует поступить в вашей жизненной ситуации;</p>
          <p class="info_item">4. Делать упражнения и техники, предложенные мной, направленные на работу с мыслями, эмоциями и поведением: «давайте подумаем об этом…», «вспомните это событие…», «представьте вашу эмоцию в виде…», «давайте проверим, насколько вам помогает ваш мониторинг угроз, начните мысленно сканировать свое тело на предмет дискомфортных ощущений…» (иногда, придется идти наперекор страху);</p>
          <p class="info_item">5. Делать домашнее задание (вести дневник, проводить размышления на определенную тему, проводить поведенческие техники («сделать то», «пойти туда»).</p>
          <p class="info_item">ПРИМЕЧАНИЕ: у вас есть право ничего этого не делать, но в данном случае эффективность нашей работы будет снижаться.</p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">Сколько стоит консультация / курс психотерапии?</h3>
        <div class="info">
          <p class="info_item">Стоимость моих услуг вы можете узнать на странице <a href="/services.html">Услуги</a>.</p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">Можно получить скидку или заплатить после консультации?</h3>
        <div class="info">
          <p class="info_item">Я работаю с теми, кому комфортны <a href="/services.html">данные цены</a>. Оплата консультаций осуществляется наперед (минимум за 48 часов до начала консультации, согласно нашему <a href="/contract.html">Договору</a>).</p>
          <p class="info_item">Скидку могут получить: инвалиды, волонтеры, социальные работники.</p>
          <p class="info_item">Моя работа – мой хлеб. Психологические консультации и психотерапию не рекомендуется проводить за кредитные/последние деньги, иначе напряжение за «а вдруг не получится» может мешать нашей работе. Если вы ограничены в финансах, то:<br>
          1. Вы можете прийти ко мне на <a href="/consultations.html#Group">Групповую психотерапию</a> - это дешевая возможность справиться со своей проблемой;<br>
          2. Вы можете обратиться в соц.службы или позвонить по телефонам психологической поддержки по месту вашего жительства.</p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">Как записаться на консультацию?</h3>
        <div class="info">
          <p class="info_item">Чтобы записаться на консультацию, вам следует:</p>
          <p class="info_item">1. Оставить <a href="#Question">заявку</a> или связаться со мной любым из доступных вам способов по моим <a href="/contacts.html">контактам</a>;</p>
          <p class="info_item">2. Обсудить со мной ваш случай, согласовать все детали, точное место и время консультации;</p>
          <p class="info_item">3. Оплатить мои услуги;</p>
          <p class="info_item">4. Явиться на консультацию.</p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">Диагностика – это мы на аппаратуре исследуем мое тело или это просто разговор?</h3>
        <div class="info">
          <p class="info_item">«Диагностика» проводится на первой консультации. Это диалог клиента с психологом. Я задаю вам ряд общих вопросов касающихся вашего физического здоровья, вредных привычек, проблем со сном и т.д. После чего провожу психологический анализ вашей ситуации, выясняю возможные причины происходящего, суть проблемы и ход ее течения, информирую вас о механизмах работы психики и даю возможный прогноз на будущее. Концом диагностики, можно считать формулирование запроса – вы осознаете происходящее с вами и понимаете, какого результата хотите достичь. Подробнее в разделе <a href="/consultations.html">Консультации</a>.</p>
          <p class="info_item">ПРИМЕЧАНИЕ: диагностика у психолога НЕ ОТМЕНЯЕТ диагностику у врача, если это необходимо!</p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">Работаете ли вы с детьми, подростками, семейными парами?</h3>
        <div class="info">
          <p class="info_item">Да, в индивидуальном порядке я готов работать с парами и детьми. <a href="#Question">Напишите</a> мне, мы обсудим данную возможность.</p>
        </div>
      </section>
      <section class="accordion_item">
        <h3 class="title_block">Подскажите, как решить мою проблему самому?</h3>
        <div class="info">
          <p class="info_item">Для самостоятельного избавления от психологических проблем, на сайте есть раздел со <a href="/articles.html">статьями</a>, в которых я описываю множество методов самопомощи. Заходите, выбирайте категорию проблемы, которая вас беспокоит и читайте как от нее самостоятельно избавиться.</p>
        </div>
      </section>
      <section class="accordion_item" style="margin-bottom: 7vw">
        <h3 class="title_block">Почему мне не удается решить мою проблему самому?</h3>
        <div class="info">
          <p class="info_item">Это может быть по множеству причин:</p>
          <p class="info_item">1. У вас слишком сложная проблема, которая требует индивидуальной работы с психологом или психиатром;</p>
          <p class="info_item">2. Вы не верно/не последовательно/недостаточно долго выполняете рекомендации данные у меня в <a href="/articles.html">статьях</a>;</p>
          <p class="info_item">3. У вас есть вторичная выгода, которая не позволяет вам избавиться от проблемы;</p>
          <p class="info_item">4. Ваша жизненная ситуация и то социальное окружение, в котором вы сейчас находитесь, НЕ ПОДРАЗУМЕВАЕТ НАЛИЧИЯ ПСИХОЛОГИЧЕСКИ ЗДОРОВОЙ ЛИЧНОСТИ. Если у вас в жизни постоянные проблемы, землетрясения, крики, драки, оскорбления, то о какой внутренней работе может идти речь? Задайте себе вопрос: "что поддерживает наличие моей проблемы?", измените свою жизненную ситуацию, а потом начинайте работать над уменьшением вашей тревожности, низкой самооценки, невроза, апатии, злости и т.д.</p>
          <p class="info_item">Это не полный список возможных причин, поэтому лучший ответ на 99% вопросов – «обратитесь к психологу».</p>
        </div>
      </section>
    </div>     <!-- конец блока аккордеон -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
       <script type="text/javascript">
        ! function(i) {
          var o, n;
          i(".title_block").on("click", function() {
            o = i(this).parents(".accordion_item"), n = o.find(".info"),
              o.hasClass("active_block") ? (o.removeClass("active_block"),
                n.slideUp()) : (o.addClass("active_block"), n.stop(!0, !0).slideDown(400),
                o.siblings(".active_block").removeClass("active_block").children(
                  ".info").stop(!0, !0).slideUp(400))
          })
        }(jQuery);
       </script>

    <h2 style="font-size: 2.5vw; font-weight: 800; text-align: left; margin: 0vw 0vw 3vw 3vw; padding-top: 1vw" id="Question">Не удалось найти ответ на свой вопрос?</h2>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 7vw;">
      <div style="width: 43vw">
        <h3 style="margin: 0vw 0vw 0vw 3vw; text-align: left; font-weight: 800; font-size: 2.5vw;">Задайте мне его!</h3>
        <p style="margin: 2vw 3vw 4vw 3vw;">
          Если вы хотите меня о чем-то спросить – просто заполните<br>форму и получите ответ в течении 24 часов.
        </p>
        <div style="margin-left: 3.1vw; width: 35vw">
          <%= render partial: '/new/form' %>
        </div>
      </div>
      <img src="<%= asset_url('faq.svg')%>" alt="вопрос" style="width: 42vw">
    </div>  

  </div> <!-- конец container -->
</div> <!-- конец pc_content -->

















<!-- начало моб версии -->
<div class="mob" style="background: #F7F7F7;">
  <div class="container" style="padding-bottom: 8vw; font-size: 2.5vw; line-height: 3vw">
    <h1 style="padding: 10vw 0vw 5vw 0vw; text-align: center; font-weight: 800; font-size: 5vw; margin: 0vw; line-height: 7vw">
      Часто задаваемые вопросы
    </h1>

    <section class="ac-container">
      <div>
        <input id="ac-1" name="accordion-1" type="checkbox" />
        <label for="ac-1">Вы проводите консультации в кабинете? Где?</label>
        <article class="ac-24">
            <p>Да. Вы можете записаться на консультацию в кабинете по адресу ул.Артема 11, Днепр, Украина. Удобный кабинет в центре города, чай, кофе, всё как полагается, приходите :)</p>
        </article>
      </div>
      <div>
        <input id="ac-2" name="accordion-1" type="checkbox" />
        <label for="ac-2">Можете ли вы мне помочь с моей проблемой?</label>
        <article class="ac-27">
            <p>На сайте есть раздел <a href="/work-with.html">С чем я работаю</a>, там описаны мои основные сферы деятельности. Конечно, это лишь малая часть того, с чем я могу вам помочь. <a href="/contacts.html">Напишите мне</a>, расскажите свой уникальный случай, я его проанализирую и скажу как справиться с вашей ситуацией.</p>
        </article>
      </div>
      <div>
        <input id="ac-3" name="accordion-1" type="checkbox" />
        <label for="ac-3">Какие гарантии результата вы даете?</label>
        <article class="ac-116">
          <p>1. Я гарантирую, что ваше состояние улучшится, если вы будете соблюдать все рекомендации, добросовестно выполнять упражнения и домашнее задание. Гарантией моего профессионализма являются дипломы о моем образовании, мой опыт работы, отзывы клиентов, мой персональный контент на сайте;<br><br>
          2. В консультировании и психотерапии я беру на себя 50% ответственности за результат. Я гарантирую профессиональный подход в работе, мое искреннее желание помочь, доброжелательность, конфиденциальность и 100% моего внимания лично Вам во время консультации. Ваши 50% ответственности за результат - желание сотрудничать и выполнять дз;<br><br>
          3. Каждый человек индивидуален, кому-то для изменений потребуется больше времени, это зависит от многих факторов: насколько сложная проблема, насколько развиты ваши способности к самоанализу, насколько вы мне доверяете, как психологу, и говорите ли всю правду;<br><br>
          4. Чтобы наша работа была максимально эффективной, для начала вам следует пройти обследование у врача (если ваша проблема касается эмоций, психосоматических проблем или иных расстройств), на консультации нужно приходить выспавшимся (по возможности), быть максимально открытым и говорить обо всем что беспокоит, а после - выполнять все домашние задания.</p>
        </article>
      </div>
      <div>
        <input id="ac-4" name="accordion-1" type="checkbox" />
        <label for="ac-4">Насколько эффективны онлайн-консультации?</label>
        <article class="ac-143">
          <p>Методом диагностики и работы психолога является специально выстроенный диалог, поэтому консультации можно проводить как очно в кабинете, так и онлайн. Если вы не хотите обнимать, нюхать, пробовать на вкус психолога, то онлайн-консультации как раз для вас! Онлайн-консультации дешевле и удобнее как для психолога, так и для самого клиента.<br><br>
          По правде говоря:<br>
          1. Если проблема касается мелких бытовых вопросов («что в таких случаях делают?», «нормально ли это?»), то консультации можно проводить даже по переписке в мессенджерах;<br><br>
          2. Если вопрос касается отношений и не затрагивает работу с эмоциями, то можно проводить консультации по телефону без видеосвязи (но, конечно, желательно с видеосвязью);<br><br>
          3. Если вопрос касается неврозов, панических атак, депрессий и прочих сложных проблем, то здесь обязательна видео- и аудио-связь во время консультаций;<br><br>
          4. Есть техники, которые возможно применять только в кабинете (например, ДПДГ), однако есть аналогичные методы работы (например, гипнотерапия), которые эффективно работают в режиме онлайн;<br><br>
          5. При онлайн-консультациях вам следует заранее подготовить: камеру (см. пункты выше), микрофон и тихое уютное место. Если видео-связь будет не очень качественной – не проблема. Если аудио-связь будет плохой – эффективность консультации будет снижаться.<br><br>
          Если придерживаться данных правил, то эффективность онлайн-консультаций будет не уступать очным встречам в кабинете.</p>
        </article>
      </div>
      <div>
        <input id="ac-5" name="accordion-1" type="checkbox" />
        <label for="ac-5">Сколько потребуется консультаций?</label>
        <article class="ac-111">
          <p>В разделе <a href="/work-with.html">С чем я работаю</a>, вы найдете список основных проблем и перейдя по одной из них сможете узнать сколько консультаций в среднем требуется для решения данной проблемы.<br><br>
          Если обобщить, то:<br>
          1. Простые бытовые вопросы решаются за 1 консультацию;<br><br>
          2. Проблемы с отношениями в семье или на работе можно решить за 1-5 консультаций;<br><br>
          3. Вопросы невротического характера: вина, стыд, обида, страх и прочие не очень сложные проблемы можно решить за 3-5 консультаций;<br><br>
          4. Депрессии, панические атаки, тревожность можно убрать за 5-10 консультаций, если проблема не сложная;<br><br>
          5. Низкую самооценку («я всегда такой была»), сложные неврозы, психосоматику и другие тяжелые случаи можно изменить за 10 и более консультаций.<br><br>
          Каждый человек индивидуален, кому-то для изменений потребуется больше времени, кому-то меньше, это зависит от многих факторов: насколько сложная проблема, насколько развиты ваши способности к самоанализу и эмоциональный интеллект, насколько вы доверяете мне, как психологу, и говорите ли всю правду и т.д.</p>
        </article>
      </div>
      <div>
        <input id="ac-6" name="accordion-1" type="checkbox" />
        <label for="ac-6">Что такое консультация и как она проходит?</label>
        <article class="ac-38">
          <p>Психологическая консультация - вид психологической помощи, специально выстроенный диалог между психологом и клиентом с применением вербальных и поведенческих техник направленных на изменение эмоций, убеждений и поведения клиента, чтобы избавить его от социальных, психологических и психосоматических проблем.<br>
          Процесс консультации детально описан на странице <a href="/consultations.html">Консультации</a>.</p>
        </article>
      </div>
      <div>
        <input id="ac-7" name="accordion-1" type="checkbox" />
        <label for="ac-7">Что такое психотерапия? Чем отличается обычная психотерапия от Интенсивной психотерапии?</label>
        <article class="ac-82">
          <p>Очень упрощенно, психотерапия - это курс из нескольких психологических консультаций. Это комплексное воздействие на эмоции, убеждения и поведение человека для избавления от социальных, психологических и психосоматических проблем при помощи специальных техник и приемов.<br>
          1. <a href="/consultations.html">Обычная психотерапия</a> (1-2 консультации в неделю по 2 часа) - стандартный метод работы с психологическими проблемами. Может проводиться индивидуально, либо в группе (<a href="/consultations.html#Group">Групповая психотерапия</a>).<br>
          2. <a href="/consultations.html#Intensive-psychotherapy">Интенсивная психотерапия</a> (5 дней подряд по 4 часа) - курс, направленный на максимально быстрое приведения человека в норму, чтобы он мог продолжать жить и работать не смотря на перенесенный стресс и жизненные трудности. Здесь я применяю все свои знания и навыки в концентрированном виде, чтобы решить проблему клиента. После этого интенсивного курса, клиент может продолжать консультации 1-2 раза в неделю, если это будет необходимо, либо снова заказать интенсивный курс для решения другого вопроса.</p>
        </article>
      </div>
      <div>
        <input id="ac-8" name="accordion-1" type="checkbox" />
        <label for="ac-8">Что я, как клиент, почувствую на консультации?</label>
        <article class="ac-46">
          <p>Во время консультации, мы можем затрагивать эмоционально неприятные темы и воспоминания из вашей жизни. Поэтому вы можете ощутить грусть, страх, злость, обиду, стыд и т.д. Приходя на консультации ко мне, как к психологу, вы обязуетесь "выносить тяжесть раскрытия своих интимных переживаний" <a href="/contract.html">Договору</a>). В конце каждой консультации, я, как психолог, обязуюсь сделать всё возможное, чтобы вы чувствовали себя спокойным, эмоционально наполненным и уверенным в завтрашнем дне.</p>
        </article>
      </div>
      <div>
        <input id="ac-9" name="accordion-1" type="checkbox" />
        <label for="ac-9">Что мне, как клиенту, придется делать на консультациях?</label>
        <article class="ac-100">
          <p>1. Учавствовать в диалоге со мной, как с психологом, и говорить о личном;<br><br>
          2. Самостоятельно определять результат нашей работы, которого вы хотите достичь;<br><br>
          3. Самостоятельно принимать решения как вам следует поступить в вашей жизненной ситуации;<br><br>
          4. Делать упражнения и техники, предложенные мной, направленные на работу с мыслями, эмоциями и поведением: «давайте подумаем об этом…», «вспомните это событие…», «представьте вашу эмоцию в виде…», «давайте проверим, насколько вам помогает ваш мониторинг угроз, начните мысленно сканировать свое тело на предмет дискомфортных ощущений…» (иногда, придется идти наперекор страху);<br><br>
          5. Делать домашнее задание (вести дневник, проводить размышления на определенную тему, проводить поведенческие техники («сделать то», «пойти туда»).<br><br>
          ПРИМЕЧАНИЕ: у вас есть право ничего этого не делать, но в данном случае эффективность нашей работы будет снижаться.</p>
        </article>
      </div>
      <div>
        <input id="ac-10" name="accordion-1" type="checkbox" />
        <label for="ac-10">Сколько стоит консультация / курс психотерапии?</label>
        <article class="ac-16">
          <p>Стоимость моих услуг вы можете узнать в разделе <a href="/services.html">Услуги</a>.</p>
        </article>
      </div>
      <div>
        <input id="ac-11" name="accordion-1" type="checkbox" />
        <label for="ac-11">Можно получить скидку или заплатить после консультации?</label>
        <article class="ac-72">
          <p>Я работаю с теми, кому комфортны <a href="/services.html">данные цены</a>. Оплата консультаций осуществляется наперед (минимум за 48 часов до начала консультации, согласно нашему <a href="/contract.html">Договору</a>).<br><br>
          Скидку могут получить: инвалиды, волонтеры, социальные работники.<br><br>
          Моя работа – мой хлеб. Психологические консультации и психотерапию не рекомендуется проводить за кредитные/последние деньги, иначе напряжение за «а вдруг не получится» может мешать нашей работе. Если вы ограничены в финансах, то:<br>
          1. Вы можете прийти ко мне на <a href="/consultations.html#Group">Групповую психотерапию</a> - это дешевая возможность справиться со своей проблемой;<br>
          2. Вы можете обратиться в соц.службы или позвонить по телефонам психологической поддержки по месту вашего жительства.</p>
        </article>
      </div>
      <div>
        <input id="ac-12" name="accordion-1" type="checkbox" />
        <label for="ac-12">Как записаться на консультацию?</label>
        <article class="ac-46">
          <p>Чтобы записаться на консультацию, вам следует:<br><br>
          1. Оставить <a href="#question">заявку</a> или связаться со мной любым из доступных вам способов по моим <a href="/contacts.html">контактам</a>;;<br><br>
          2. Обсудить со мной ваш случай, согласовать все детали, точное место и время консультации;<br><br>
          3. Оплатить мои услуги;<br><br>
          4. Явиться на консультацию.</p>
        </article>
      </div>
      <div>
        <input id="ac-13" name="accordion-1" type="checkbox" />
        <label for="ac-13">Диагностика – это мы на аппаратуре исследуем мое тело или это просто разговор?</label>
        <article class="ac-58">
          <p>Диагностика» проводится на первой консультации. Это диалог клиента с психологом. Я задаю вам ряд общих вопросов касающихся вашего физического здоровья, вредных привычек, проблем со сном и т.д. После чего провожу психологический анализ вашей ситуации, выясняю возможные причины происходящего, суть проблемы и ход ее течения, информирую вас о механизмах работы психики и даю возможный прогноз на будущее. Концом диагностики, можно считать формулирование запроса – вы осознаете происходящее с вами и понимаете, какого результата хотите достичь. Подробнее в разделе <a href="/consultations.html">Консультации</a>.<br>
          ПРИМЕЧАНИЕ: диагностика у психолога не отменяет диагностику у врача, если это необходимо!</p>
        </article>
      </div>
      <div>
        <input id="ac-14" name="accordion-1" type="checkbox" />
        <label for="ac-14">Работаете ли вы с детьми, подростками, семейными парами?</label>
        <article class="ac-18">
          <p>Да, в индивидуальном порядке я готов работать с парами и детьми. <a href="#question">Напишите</a> мне, мы обсудим данную возможность.</p>
        </article>
      </div>
      <div>
        <input id="ac-15" name="accordion-1" type="checkbox" />
        <label for="ac-15">Подскажите, как решить мою проблему самому?</label>
        <article class="ac-29">
          <p>Для самостоятельного избавления от психологических проблем, на сайте есть раздел со <a href="/articles.html">статьями</a>, в которых я описываю множество методов самопомощи. Заходите, выбирайте категорию проблемы, которая вас беспокоит и читайте как от нее самостоятельно избавиться.</p>
        </article>
      </div>
      <div>
        <input id="ac-16" name="accordion-1" type="checkbox" />
        <label for="ac-16">Почему мне не удается решить мою проблему самому?</label>
        <article class="ac-92">
          <p>Это может быть по множеству причин:<br>
          1. У вас слишком сложная проблема, которая требует индивидуальной работы с психологом или психиатром;<br><br>
          2. Вы не верно/не последовательно/недостаточно долго выполняете рекомендации данные у меня в <a href="/articles.html">статьях</a>;<br><br>
          3. У вас есть вторичная выгода, которая не позволяет вам избавиться от проблемы;<vr><vr>
          4. Ваша жизненная ситуация и то социальное окружение, в котором вы сейчас находитесь, НЕ ПОДРАЗУМЕВАЕТ НАЛИЧИЯ ПСИХОЛОГИЧЕСКИ ЗДОРОВОЙ ЛИЧНОСТИ. Если у вас в жизни постоянные проблемы, землетрясения, крики, драки, оскорбления, то о какой внутренней работе может идти речь? Задайте себе вопрос: "что поддерживает наличие моей проблемы?", измените свою жизненную ситуацию, а потом начинайте работать над уменьшением вашей тревожности, низкой самооценки, невроза, апатии, злости и т.д.<br><br>
          Это не полный список возможных причин, поэтому лучший ответ на 99% вопросов – «обратитесь к психологу».</p>
        </article>
      </div>
    </section>
      
    <img src="<%= asset_url('faq.svg')%>" alt="вопрос" style="width: 86vw; margin-top: 5vw">

    <h2 style="padding: 10vw 0vw 2vw 0vw; text-align: center; font-weight: 800; font-size: 5vw" id="question">
      Задайте мне вопрос
    </h2>
    <p style="text-align: center; font-size: 2.9vw; line-height: 3.7vw; margin: 2vw 0vw 5vw 0vw">
      Если вы хотите меня о чем-то спросить - просто заполните форму и получите ответ в течении 24 часов.
    </p>

    <%= render partial: "/new/form_mob"%>

  </div> <!-- конец container -->
 
</div> <!-- конец моб версии  -->