<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Психологические группы онлайн | Групповая психотерапия</title>
  <meta name="description" content="Психологическая группа – вид психологической помощи направленный на обретение знаний и навыков, осуществление такого взаимодействия между участниками группы, которое помогло бы им избавиться от социальных и психологических проблем.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Психологические группы онлайн | Групповая психотерапия">
  <meta property="og:description" content="Психологическая группа – вид психологической помощи направленный на обретение знаний и навыков, осуществление такого взаимодействия между участниками группы, которое помогло бы им избавиться от социальных и психологических проблем.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/group_consultation">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/Tkachenko-Andrey-0ccd9afe47bf51522e172c3619a0dd1b97986605188615048acbc034288baecf.jpg">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container group_consultations">
      <h1 class="article__name" style="z-index: 1">Психологические группы онлайн</h1>
        <h3 class="article__description" style="z-index: 1; background: var(--brown); padding: 25px; color: var(--white); font-weight: 400; margin: 5px 0">Психологическая группа – вид психологической помощи направленный на обретение знаний и навыков, осуществление такого взаимодействия между участниками группы, которое помогло бы им избавиться от социальных и психологических проблем.</h3>
      <div class="fullscreen__image" style="background-image: url(<%= asset_url('group.jpg')%>)"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2 id="Consultations">Описание психологических групп</h2>
        <p>
          <b><i>Психологическая консультация</i></b> – специально выстроенный диалог между психологом и клиентом с применением вербальных и поведенческих техник направленных на изменение эмоций, убеждений и поведения клиента, чтобы избавить его от социальных и психологических проблем.<br>
          <b><i>Психотерапия</i></b> – курс из нескольких психологических консультаций (сеансов, сессий). Это комплексное воздействие на эмоции, убеждения и поведение клиента для избавления от многих социальных, психологических и психосоматических проблем при помощи специальных техник и приемов.<br>
          <b><i>Групповая психотерапия</i></b> – вид психотерапии в котором участники объединены одной проблемой (невроз, панические атаки, повышенная тревога и т.п.). Задача таких групп - помочь участникам лучше понять свое состояние, уменьшить симптоматику и избавиться от психологических проблем. Инструмент воздействия – групповая динамика, взаимодействие участников между собой и отработка психотехник с помощью ведушего-психолога.<br>
          <b><i>Группа психологической поддержки</i></b> – группа людей, которые объединены общей проблемой или кризисной ситуацией, пространство, где люди могут поговорить про нее, обсудить свои чувства и переживания, найти поддержку в решении проблем, ощутить единство с людьми, которые находятся в похожей ситуации. Ведущий модерирует процесс обсуждения, а не проводит терапию. Задача группы состоит в том, чтобы участники стали ресурсом друг для друга и смогли справиться со своими проблемами.
        </p>
      </section>

      <section>
        <h2>Преимущества групповой психотерапии онлайн</h2>
        <ul>
          <li>Экономия денег и времени. Не надо никуда ехать, нет транспортных расходов;</li>
          <li>Можно быть дома в тепле и комфорте;</li>
          <li>Можно частично сохранить конфиденциальность;</li>
          <li>Если вы уезжаете в отпуск, можно не прерывать сеансы;</li>
          <li>Можно получить качественные услуги, если в вашем месте жительства нет компетентных психологов;</li>
          <li>Основное преимущество групповой работы — групповая динамика, взаимодействие участников между собой может помочь тем, кому индивидуальная терапия менее эффективна;</li>
          <li>Межличностное обучение. Возможность проанализировать свой стиль общения с другими людьми, приобрести эффективные социальные навыки, увидеть реакции участников на свое поведение, осознать последствия своих действий. Психолог наблюдает коммуникативные проблемы в режиме реального времени и сразу указывает на них;</li>
          <li>Осознание трудностей и особенностей своей проблемы, вследствие возникающих социальных взаимоотношений в группе, наблюдения за другими участниками и обратной связи от них.</li>
          <li>Группа мотивирует к приобретению нового опыта, к противостоянию болезненным воспоминаниям и трудным ситуациям;</li>
          <li>Самосовершенствование. Участники обмениваются жизненным опытом, своими проблемами и способами их разрешения, учатся на опыте друг друга;</li>
          <li>Группа дает поддержку, сочувствие и надежду. Группа - место взаимного принятия и уважения. Это уникальная возможность "публично" откровенно говорить о своих переживаниях. Возможность помочь другим участникам своим жизненным опытом;</li>
          <li>В группе терапия проходит интересней, увлекательней, дарит много новых эмоций и незабываемые впечатления от единства, общности.</li>

        </ul>
      </section>

      <section>
        <h2>Групповая психотерапия онлайн</h2>
        <p>
          Групповая психотерапия – психотерапевтический метод, специфика которого заключается в целенаправленном использовании групповой динамики, т.е. всей совокупности взаимоотношений возникающих между участниками группы, включая и ведущего-психолога, в терапевтических целях. Группа выступает как модель реальной жизни, где участники проявляют те же отношения, установки, ценности, те же способы эмоционального реагирования и поведенческие реакции, что и в реальной жизни. Я, как психолог, воздействую психологическими средствами на участников, модерирую процессы в группе и организовываю сеансы. В процессе терапии участники сформировываются в единое целое, образовывая содружество единомышленников. Причем, мотивом деятельности каждого участника является его собственное выздоровление, а группа и ее члены рассматриваются только как средство достижения этой цели.
        </p>
        <p>
          Групповая онлайн-психотерапия проходит в формате Zoom-конференций. Я заранее объявляю о наборе новой группы в своих <a href="/contacts.html">соцсетях</a>. Количество участников от 4-х до 8-ми человек объединенных одной проблемой (например, низкая самооценка, тревога или панические атаки). Группа является закрытой, то есть после начала терапии новые участники не могут к ней присоединиться, ведь это может нарушать процессы в группе. Сеансы проходят 1-2 раза в неделю по 2 часа. Количество сеансов у каждого участника группы может быть своим (но не меньше 10). Глубинная психотерапия длится 40-60 сеансов.
        </p>
        <p>
          Отбор участников происходит следующим образом. Вы связываетесь со мной по моим контактам, я анализирую вашу ситуацию, отвечаю на все вопросы и мы вместе согласовываем дальнейшие действия. Если вы выражаете желание стать участником групповой психотерапии - я записываю вас в список потенциальных участников. Когда собирается 4-8 заявок по одной и той же проблеме - я создаю общий чат в Telegram и мы договариваемся о дате и времени групповых сеансов. В перерыве между сеансами мы поддерживаем связь в Telegram-чате. Вы можете делиться своими успехами, инсайтами и задавать вопросы, читать стенографию прошлого сеанса, изучать обучающие материалы, делать домашнее задание.
        </p>
        <p>
          Примечание: иногда, перед групповой работой, в зависимости от сложности вашего случая, я могу предложить вам провести несколько индивидуальных сеансов для диагностики и работы с вашей проблемой, чтобы подготовить вас к групповой работе.
        </p>
      </section>

      <section>
        <h2>Принципы и правила проведения групповой психотерапии</h2>
        <p>
          Магия групповой психотерапии заключается в том, что сами отношения между членами группы являются лекарством. Чтобы магия произошла, группа регулируется общими принципами и правилами благодаря которым могут быть удовлетворены индивидуальные потребности каждого участника.
        </p>
        <h3>Принципы</h3>
         <ul> 
          <li>
            <b>Конфиденциальность</b><br>
            Всё, что происходит во время работы группы, остаётся в группе. Каждый участник берет ответственность на себя, за сохранение информации полученной во время работы группы. Видео и аудиозапись не проводится.
          </li>
          <li>
            <b>Безопасность</b><br>
            Все участники должны в первую очередь думать о собственной безопасности и учитывать личностные границы других членов группы.
          </li>
          <li>
            <b>Добровольность</b><br>
            В группе всё происходит добровольно. Участники по своему усмотрению регулируют свою активность, говорят столько, сколько считают нужным.
          </li>
          <li>
            <b>Равенство и уважение</b><br>
            Члены группы все равны между собой, вне зависимости от возраста, профессии, статуса и жизненного опыта. Следует уважительно относиться ко всем участникам, к их потребностям, мнениям, без критики, осуждения и сравнивания.
          </li>
        </ul>

        <h3>Правила</h3>
        <ul>
          <li>
            <b>Я-сообщение</b><br>
            Следует говорить о себе, от своего имени, а не пытаться спрятаться за неопределенными формулировками, привлечь для аргументации сторонние авторитеты, рассказывать чьи-то чужие истории. Важно обращаться к другим участникам группы напрямую, не обсуждая их в третьем лице.
          </li>
          <li>
            <b>Один в эфире</b><br>
            Члены группы должны высказываться по очереди. Когда один говорит - остальные молча слушают и, прежде чем взять слово, поднимают руку. Член группы может передать слово другому участнику;
          </li>
          <li>
            <b>СТОП</b><br>
            Если обсуждение какого-то личного опыта участников становится неприятным или небезопасным - тот, чей опыт обсуждается, может закрыть тему, сказав «СТОП».
          </li>
          <li>
            <b>Полное присутствие</b><br>
            Учитывая, что все участники в разных местах и бывают неотложные дела, при этом они должны, по возможности, стараться максимально присутствовать на группе, не отвлекаться, включать камеру.
          </li>
          <li>
            <b>Цифровая толерантность</b><br>
            Участники должны выключать микрофон, когда не говорят, поднимать руку при желании высказаться, быть готовыми к тому, что иногда пропадает интернет-связь или возникают проблемы со звуком, тогда следует предупредить группу о возможных трудностях, найти способы решения, вернуться, когда связь возобновиться.
          </li>
        </ul>
        <p>
          *Во время работы группы, некоторые правила могут добавиться с учетом пожеланий группы.
        </p>
      </section>

      <h2 class="article__accordion_title">Структура сеанса групповой психотерапии</h2>
      <div class="accordion">
        <div class="accordion__item">
          <input id="accordion1" type="checkbox">
          <label for="accordion1">1. Начало. Первый круг</label>
          <section>
            <p>
              На первом сеансе я, как психолог, приветствую участников, рассказываю принципы и правила группы, даю возможность каждому рассказать о себе, познакомится друг с другом. На последующих сеансах этап знакомства не происходит. Вместо этого участники делятся своими новостями, успехами, новыми инсайтами, идеями, обсуждают домашнее задание (насколько успешно они его выполнили, с чем были трудности в процессе).<br>
              <b>Результат:</b> на первом круге обсуждений участники выговорились, поддержали друг друга, выявили трудности с дз, которым нужно уделить время на сегодняшнем сеансе и готовы к дальнейшей работе.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion2" type="checkbox">
          <label for="accordion2">2. Собрание запросов</label>
          <section>
            <p>
              После общения и обсуждения дз, исходя из структуры курса психотерапии и тех тем для обсуждения, что остались с прошлого сеанса, мы выбираем вектор пути сегодняшней встречи. Уточняем актуальные потребности каждого участника, собираем запросы: "чего хочется сегодня? Что для вас сейчас важно?". Составляем план сегодняшнего сеанса.<br>
              <b>Результат:</b> участники имеют план работы на сегодня исходя из своих актуальных потребностей. 
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion3" type="checkbox">
          <label for="accordion3">3. Активное обсуждение</label>
          <section>
            <p>
              Участники начинают обсуждать тему встречи. При необходимости, я, как психолог, даю вводные данные темы, рассказываю теоретическую часть, запускаю коллективное обсуждение, резюмирую, перефразирую, уточняю, помогаю проанализировать чувства, мысли и поступки, даю свою интерпретацию, демонстрирую психотерапевтические техники.<br>
              <b>Результат:</b> участники размышляют на тему встречи, получают инсайты, осознание своих психологических феноменов, формируют новою картину мира, корректируют способ своего мышления и деятельности.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion4" type="checkbox">
          <label for="accordion4">4. Психотерапевтические упражнения</label>
          <section>
            <p>
              Отработка психотерапевтических техник и приемов неразрывно связана с этапом активного обсуждения. Курс психотерапии предполагает поэтапное их выполнение, однако в любой момент у группы может возникнуть конкретный запрос на обретение новых ресурсов и средств для решения своей проблемы. Таким ресурсом могут быть техники работы с мыслями, эмоциями, методы развития стрессоустойчивости и терапии проблемы, которая объединяет группу (например, при тревоге - техники отстраненной осознанности и контроля внимания; при панических атаках - техники исследования своего состояния, так называемые "эксперименты", которые призваны доказать безопасность и контролируемость симптомов паники). Отработка техник может происходить на одном из участников, либо на всей группе одновременно. В конце мы даем обратную связь друг другу.<br>
              <b>Результат:</b> участники обретают полезные знания и навыки для работы со своей проблемой и улучшения качества жизни. Чувствуют облегчение своего эмоционального и физического состояния, осознают свои сильные и слабые стороны, формируют ценности, цели и новые личностные смыслы.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion5" type="checkbox">
          <label for="accordion5">5. Домашнее задание</label>
          <section>
            <p>
              Сеанс групповой психотерапии - лишь подготовка к тому, что должно быть реализовано в жизни. Психотерапевтическое дз – это список рекомендуемых действий для изменения мышления и поведения, выработки новых навыков и убеждений, проверки полученных результатов, которые следует выполнять между сеансами. Дз мы составляем вместе.<br>
              <b>Результат:</b> участники имеют план действий до следующего сеанса и осознание того, как дз должно им помочь в достижении их цели. Выполнение дз помогает проверить эффективность новых моделей мышления и поведения, проанализировать свое состояние, проверить, получается ли реализовать те решения, которые были приняты на сеансе.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion6" type="checkbox">
          <label for="accordion6">6. Подведение итогов</label>
          <section>
            <p>
              Завершающий круг обсуждения. Проговаривание того, что было на сеансе. Обмен впечатлениями, своим мнением: "что для меня было самым важным, ценным, полезным? Что я с собой беру? Чего не хватило?". Мы оцениваем исходный план и полученный результат. Планируем темы следующего сеанса. Желаем друг другу успехов.<br>
              <b>Результат:</b> участники ощущают уверенность в себе и в своих силах, готовность к изменениям, осознают что и какими методами было реализовано, понимают, какое знание, озарение, чувство или достижение стало сегодня для них самым важным и ценным приобретением. Уходят домой в ресурсном состоянии (спокойно, бодро, уверенно).
            </p>
          </section>
        </div>
      </div>


      <section id="support">
        <h2>Группа психологической поддержки</h2>
        <p>
          Потребность объединения в группы появляется, когда ресурсов человека явно не хватает для преодоления последствий стрессовой ситуации. Восстановление через контакты, связи, общение с другими людьми – это наш естественный метод адаптации и овладения разными жизненными ситуациями, начиная от мелкой бытовой неприятности дома, конфликтами на рабочем месте, заканчивая катастрофами, войнами и стихийными бедствиями. Говорят, что только тот, кто пережил подобное с тобой, может лучше понять и поддержать, признать твои успехи, поделиться эффективными способами решения проблем. И я готов с этим согласиться. 
        </p>
        <p>
          Сильный стресс может спровоцировать появление <b>Посттравматического стрессового расстройства</b> и способствует <b>самоизоляции</b>: "меня никто не понимает", "лучше останусь дома, не хочу ни с кем говорить", а это в свою очередь ведет к ухудшению состояния человека. Поэтому главная задача групп поддержки – создать такие обстоятельства, такую атмосферу принятия и доверия, при которых человек сможет начать <b>говорить о своей ситуации</b> (вербализация своих переживаний включает неокортекс в головном мозге и опыт начинает обрабатываться, ослабевает невротическая симптоматика, уменьшается вероятность появления ПТСР в будущем).
        </p>
        <p>
          На группе поддержки я являюсь психологом-модератором (фасилитатором) контролирующим ход встречи. Цель каждого участника – помочь самому себе, находясь в кругу людей с аналогичными проблемами и жизненными обстоятельствами. Участники рассказывают о том, как они живут со своей проблемой, говорят о своем личном опыте, обмениваются мнениями, делятся полезной информацией, оказывают эмоциональную взаимоподдержку. Регулярные посещения подобных групп дают чувство стабильности, предсказуемости, контроля и некой отдушины.
        </p>
        <p>
          Группа поддержки проходит в формате Zoom-конференций. Я заранее объявляю о наборе новой группы в своих <a href="/contacts.html">соцсетях</a>. Количество участников варьируется от 4-х до 12-ти человек объединенных одной проблемой (например, пострадавшие об военных действий, переселенцы). Группа является открытой, то есть на каждую новую встречу могут приходить новые участники (по предварительной записи). Сеансы проходят 1-2 раза в неделю по 2 часа. Количество встреч – по желанию. Группы поддержки временные, они проводятся до тех пор, пока не отпадет необходимость в них, пока люди не переориентируются на другие методы овладения ситуацией. Поэтому группа подталкивает участников к самостоятельности, ответственности, овладению навыками стрессоустойчивости, привычки использовать другие формы социальной поддержки (общение с родственниками, друзьями) для преодоления жизненных трудностей в будущем.
        </p>
        <p>
          Отбор участников происходит следующим образом. Вы следите за новостями в моих <a href="/contacts.html">соцсетях</a>, заполняете форму регистрации, я связываюсь с вами, анализирую вашу ситуацию, отвечаю на все вопросы, даю ссылку на закрытую группу в Telegram, в которой можно общаться в перерыве между встречами.
        </p>
        <p>
          Примечание: в зависимости от сложности вашей проблемы, я могу предложить вам записаться ко мне на одну-две индивидуальные консультации для стабилизации вашего состояния, либо перенаправить вас к другим специалистам. Это бывает необходимо, чтобы подготовить вас к групповой работе.
        </p>
      </section>

      <section>
        <h2>Принципы и правила проведения групп поддержки</h2>
        <p>
          Магия групп поддержки заключается в создании уникальной атмосферы принятия и доверия, которую нигде в обыденной жизни мы не встречаем. Чтобы магия произошла, группа регулируется общими принципами и правилами, которые идентичны таковым в групповой психотерапии, при этом имеют несколько дополнений:
        </p>
        <ul>
          <li>
            <b>Поддерживающее пространство</b><br>
            Участники совместно создают определенную атмосферу поддержки, где каждый чувствует, что он ценен, важен, что его потребности учитываются, ему доверяют и что взаимодействие происходит безопасно в соответствии с правилами.
          </li>
          <li>
            <b>Ориентация на здесь и сейчас</b><br>
            Участники группы должны ориентироваться и говорить о том, что происходит в данный момент, о своих чувствах, переживаниях, мыслях, ощущениях, потребностях. При рассказе о событиях в прошлом - ориентироваться на то, какие реакции эти воспоминания вызывают здесь и сейчас.
          </li>
          <li>
            <b>Ориентация на ресурс и развитие копингов</b><br>
            Участники должны ориентироваться на поиск психоэмоциональных ресурсов друг у друга (получить поддержку, совет, новые знания, убеждения, решения, которые помогут, вдохновят, дадут ощущение внутренней силы и способности решать проблемы).
          </li>
          <li>
            <b>Эмоциональная осторожность</b><br>
            Во время обсуждений участники не должны углубляться в эмоции, распрашивать других членов группы о деталях событий и их переживаний, во избежание ретравматизации. Следует стремиться стабилизировать свое состояние и состояние других участников, а не перепрожить заново трагические события.
          </li>
        </ul>
      </section>

      <h2 class="article__accordion_title" id="First">Структура встречи группы поддержки</h2>
      <div class="accordion">
        <div class="accordion__item">
          <input id="accordion7" type="checkbox">
          <label for="accordion7">1. Приветствие. Принципы и правила группы</label>
          <section>
            <p>
              На первой встрече я, как фасилитатор, приветствую участников, рассказываю о том, что такое группа поддержки, о ее принципах и правилах, объясняю важность вербализации своих чувств, предлагаю участникам ввести свои дополнительные правила.<br>
              <b>Результат:</b> участники поняли чего ожидать от группы, узнали правила, что дало чувство комфорта и безопасности. Это почва для дальнейшей работы.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion8" type="checkbox">
          <label for="accordion8">2. Знакомство</label>
          <section>
            <p>
              Далее, я, как фасилитатор, предлагаю начать знакомится. Рассказываю о себе, о том, как меня затронуло то событие, которое нас здесь объединило, своим примером показываю что говорить искренне - нормально. Затем, даю возможность каждому по очереди рассказать о себе, познакомится друг с другом (если новых участников в группе нет - этап знакомства не происходит).<br>
              <b>Результат:</b> участники начали говорить, поняли безопасность вербализации, стали лучше ориентироваться в группе, понимая кто есть кто из участников.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion9" type="checkbox">
          <label for="accordion9">3. Собрание запросов</label>
          <section>
            <p>
              В зависимости от ситуации, начинается обсуждение актуальной темы, либо происходит собрание запросов, тем для обсуждения, важных вещей, которые участники хотят получить сегодня от группы. Составляем план встречи, стараемся выделить время для каждого запроса.<br>
              <b>Результат:</b> выявление запросов и актуальных потребностей участников дает возможность их реализации.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion10" type="checkbox">
          <label for="accordion10">4. Активное обсуждение</label>
          <section>
            <p>
              Коллективное обсуждение тем, реализация запросов. Я, как фасилитатор, даю слово каждому участнику, резюмирую, перефразирую, отзеркаливаю эмоции участников, модерирую диалог, слежу за временем.<br>
              <b>Результат:</b> участники выговариваются, получают необходимые ресурсы от группы.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion11" type="checkbox">
          <label for="accordion11">5. Упражнения</label>
          <section>
            <p>
              При необходимости, для стабилизации состояния участников, могут проводиться упражнения на группу, отрабатываться техники стрессоустойчивости и релаксации, например, техники на дыхание, внимание, работу с телом, либо творческие упражнения на выплескивание своих чувств (написать, нарисовать что-то) или игры на поиск ресурсов, ценностей. Направление и содержание упражнений определяется как запросами участников, так и моим профессиональным видением. Параллельно с этим я, как психолог, провожу психоэдукацию (даю полезные теоретические знания в сфере психологии).<br>
              <b>Результат:</b> участники чувствуют облегчение своего психофизического состояния, нашли для себя новые ресурсы, получили полезные знания.
            </p>
          </section>
        </div>
        <div class="accordion__item">
          <input id="accordion12" type="checkbox">
          <label for="accordion12">6. Подведение итогов</label>
          <section>
            <p>
              Завершающий круг обсуждения. Подведение итогов встречи, проговаривание того, что сегодня происходило, что обсуждалось в группе (нераскрытые темы переносятся на следующую встречу). Обмен впечатлениями, своим мнением: "какие ресурсы я с собой беру? Что было самым важным сегодня?"<br>
              <b>Результат:</b> закрытие гештальта, участники понимают, какое знание, озарение, чувство или достижение стало сегодня для них самым важным и ценным приобретением. Уходят домой в ресурсном состоянии (спокойно, бодро, уверенно).
            </p>
          </section>
        </div>
      </div>
    </article>

    <div class="faq-block" id="client_form" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -3px">
      <div class="faq-block__body container">
        <div class="faq-block__item">
          <h3 class="faq-block__title title" style="font-size: 17px">Остались еще вопросы? Вероятно, я уже ответил на них здесь:</h3>
          <a class="btn btn_faq" href="/faq.html" style="margin-top: 25px">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</a>
        </div>
      </div>
    </div>

  <div class="services" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -3px">
    <div class="services__body container" style="padding-bottom: 20px; padding-top: 20px">
      <div class="services__header header_box ">
        <h2 class="services__title title"  style="font-size: 25px;">Услуги</h2>
      </div>
      <div class="services__row">
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name">Группа психологической поддержки</h3>
            <p class="services__info">2 часа | раз в неделю | 4-12 участников</p>
            <p class="services__text">
              ▷ Психологическая поддержка пострадавшим от военных действий<br>
              ▷ Отработка техник стрессоустойчивости<br>
              ▷ Коллективное обсуждение и психоанализ насущных вопросов
            </p>
            <p class="services__price">Донат</p>
          </div>
        </div>
        <div class="services__column">
          <div class="services__item">
            <h3 class="services__name">Групповая психотерапия</h3>
            <p class="services__info">2 часа | раз в неделю | 4-8 участников</p>
            <p class="services__text">
              ▷ Невроз<br>
              ▷ Тревога, панические атаки<br>
              ▷ Развитие стрессоустойчивости
            </p>
            <p class="services__price">200 грн</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <div class="sign-up" id="client_form" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -3px">
      <div class="sign-up__body container">
        <div class="sign-up__item">
          <h2 class="sign-up__title title">Запись на консультацию</h2>
          <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
          <div class="sign-up__btn-row">
            <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
            <a class="btn btn_contact" href="viber://chat?number=+380964248025" target="_blank">Viber</a>
            <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
          </div>
          <p class="sign-up__text pc">
            По всем вопросам звонить: +380964248025<br>Пн-Вс 10:00-20:00
          </p>
        </div>
      </div>
    </div>


</div>
