
<div class="pc_content">
  <div class="container" style="text-align: justify;">
    <h1 style="text-align: center; font-weight: 800; font-size: 3vw; margin: 5vw 0px 4vw 0vw">Психотерапия низкой самооценки</h1>
    <p style="text-align: center; margin: 2vw 7vw 4vw 7vw;">
      Если вы это читаете, то, вероятно, у вас заниженная самооценка. Эта статья призвана кратко объяснить процесс психотерапии с практической точки зрения: описание проблемы, результата и применяемых мною техник в нашей совместной работе
    </p>

    <img src="<%= asset_url('problem/self-esteem.svg')%>" style="float: right; width: 30vw; margin: 1vw 4vw">
    <h2 style="font-size: 1.6vw; margin: 4vw 0vw 2vw 3vw">Как практически будет выглядеть наша работа</h2>
    <p>
      Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
    </p>
    <p>
      Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические механизмы вашей самооценки. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
    </p>
    <p>
      Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от низкой самооценки и научились конструктивно удовлетворять свои потребности.
    </p>

    <h2 style="font-size: 1.6vw; margin: 4vw 0vw 2vw 3vw">Критерии наличия низкой самооценки и критерии достижения результата</h2>
    <table style="border-collapse: collapse; filter: drop-shadow(4px 4px 15px rgba(68, 68, 68, 0.3)); margin-bottom: 1vw">
      <th style="text-align: center; background-color: #ff7f50; padding: 1vw; border-radius: 1vw 0vw 0vw 0vw; font-weight: 600; font-size: 1.1vw">Низкая самооценка</th>
      <th style="text-align: center; background-color: #37B079; padding: 1vw; border-radius: 0vw 1vw 0vw 0vw; font-weight: 600; font-size: 1.1vw">Результат психотерапии</th>
      <tr>
        <td style="border-top: none;">По опроснику Шкала самооценки Робсона вы набираете 31-120 баллов (низкая самооценка).</td>
        <td style="border-top: none;">По опроснику Шкала самооценки Робсона вы набираете 141-210 балла на протяжении 3-х недель подряд.</td>
      </tr>
      <tr>
        <td>Низкая самооценка приводит к трудностям в социальной, трудовой или другой сфере жизнедеятельности.</td>
        <td>Имеющаяся самооценка не вызывает сильного дискомфорта и почти не влияет на вас в разных сферах жизни.</td>
      </tr>
      <tr>
        <td>Негативное отношение к себе. Убежденность, что вы не имеете права «хотеть», достигать чего-то. Отвержение своей внешности, своих чувств, попытки контролировать свои переживания.</td>
        <td>Положительное отношение к себе. Убежденность в том, что вы вправе иметь потребности и реализовывать их. Принятие своей внешности и своих чувств.</td>
      </tr>
      <tr>
        <td>Отвержение своих положительных качеств, убежденность в недопустимости отрицательных качеств, черт характера.</td>
        <td>Вы признаете свои положительные качества и навыки, принимаете свои отрицательные стороны и учитесь с ними справляться.</td>
      </tr>
      <tr>
        <td>Резко негативное отношение к собственным неудачам. Завышенные требования к самому себе. Если не достигается высокая планка - включаются самообвинения, наказания, жалость.</td>
        <td>Отношение к своим неудачам как к опыту, из которого необходимо сделать выводы. Адекватные требования к самому себе. Если что-то не вышло - вы оказываете себе мысленную поддержку, сочувствие.</td>
      </tr>
      <tr>
        <td>Неспособность принимать похвалу.</td>
        <td>Спокойно принимаете комплименты в свой адрес.</td>
      </tr>
      <tr>
        <td>Пассивность, безинициативность, желание "не выделяться".</td>
        <td>Проявляете инициативность, смелость и ставите себе новые задачи, адекватного уровня притязаний (не ставите себе завышенных планок).</td>
      </tr>
      <tr>
        <td>Нестабильность самооценки: сегодня у меня все вышло - "я молодец", завтра мне не удалось - "я неудачник". Сравнение себя с другими. Отношение к себе зависит от обстоятельств и того, что говорят вам другие люди.</td>
        <td>Стабильность самооценки. Вы независимы от чужого мнения, отношение к себе зависит от вашего личного мнения, вы сравниваете себя сегодняшнего с собой вчерашним.</td>
      </tr>
      <tr>
        <td>Попытки доказать людям свою состоятельность, уверенность даже в неподходящие для этого моменты.</td>
        <td>Вы проявляете спокойную уверенность, говорите о своих заслугах, когда это уместно.</td>
      </tr>
      <tr>
        <td>Общая зажатость. Неспособность проявлять свои эмоции во взаимодействии с другими людьми, сутулость.</td>
        <td>Способность проявить свои чувства во взаимодействии с другими людьми, умение говорить «нет», «прямая осанка».</td>
      </tr>
      <tr>
        <td>Расцениваете свои результаты как "пустяки", занижаете значимость своих достижений. Чувствуете, что вы не заслужили то, чего добились. что вы не на своем месте, «синдром самозванца».</td>
        <td>Вы объективно оцениваете результаты своей деятельности.</td>
      </tr>
      <tr>
        <td style="border-radius: 0vw 0vw 0vw 1vw; border-left: none; border-bottom: none;">Зацикленность на себе или наоборот, всё ваше внимание уделено окружающим, и при этом вы игнорируете себя.</td>
        <td style="border-radius: 0vw 0vw 1vw 0vw; border-right: none; border-bottom: none;">Вы уважаете окружающих, умеете слышать и слушать, вовремя промолчать; искренне интересуетесь другими людьми и уважаете их потребности.</td>
      </tr>
    </table>

    <h2>План психотерапии низкой самооценки</h2>
    <p>
      Вы подозреваете у себя наличие низкой самооценки. Для самостоятельной диагностики вы можете заполнить тест Шкала самооценки Робсона. Далее записывайтесь ко мне на консультацию за психологической диагностикой и психотерапией.
    </p>
    <p>
      В своей работе с низской самооценкой я использую методы <a href="CBT.html" style="border-bottom: 1px solid currentColor;">Когнитивно-поведенческой терапии</a>, <a href="ACT.html" style="border-bottom: 1px solid currentColor;">Терапии принятия и ответственности</a>, <a href="EIT.html" style="border-bottom: 1px solid currentColor;">Эмоционально-образной терапии</a> и <a href="TA.html" style="border-bottom: 1px solid currentColor;">Транзактного анализа</a>. В среднем, для избавления от низкой самооценки необходимо 8-10 консультаций и более.
    </p>
  
    <p style="font-style: italic;">
      *При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться!
    </p>

    <h2>Первая консультация</h2>
    <p>
      Первая психологическая консультация всегда посвящена детальному разбору вашего случая. Она состоит из 3-х этапов:
    </p>
    <ul>
      <li>Диагностика. Выявление психологических механизмов низкой самооценки.</li>
      <li>Информирование. Я объясняю причины появления и механизм функционирования вашей самооценки. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения.</li>
      <li>Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.</li>
    </ul>
    <p>
      В конце консультации вы получаете:<br>
      + Стенографию консультации в формате docx, которую можно перечитывать в любой момент;<br>
      + Еxcel файл с техниками и опросником (созданным на основе лично вашей ситуации), который нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результата нашей работы;<br>
      + Мои личные контакты. Возможность связываться со мной для поддержания связи между консультациями, ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!
    </p>

    <h2>Вторая и третья консультация</h2>
    <p>
      Мы разбираемся с тем, почему вы предъявляете себе завышенные стандарты при общении с другими людьми: "я не должен никогда ошибаться", "я должна показать себя с лучшей стороны". Выявляя глубинные убеждения (например: "если я ошибусь - это будет провал, ужас, со мной не будут общаться", "они думают, что я странная"), анализируем их, изменяем и формулируем конструктивные убеждения о себе и других людях. Начинаем вести дневник успеха.
    </p>
    <h2>Четвертая и пятая консультация</h2>
    <p>
      Научаемся справляться с тревожными мыслями, которые часто возникают в социальных ситуациях. Некоторые из них мы проверяем, ставим поведенческие эксперименты. Учимся откладывать беспокойные мысли на потом, не спутываться с ними, отстраняться от них. Также, делаем техники принятия, для изменения собственного отношения к себе, своей внешности, своим поступкам.
    </p>        
    <h2>Шестая - восьмая консультация</h2>
    <p>
      Снижаем концентрацию внимания на самом себе, чтобы вы меньше думали о том, как выглядите в глазах других людей. Для этого, мы всеми способами пытаемся посмотреть на себя со стороны: снимаем вас на видео, записываем аудио. Применяем техники медитации, развиваем осознанность, и заполняем АВС-схему для усиления гибкости внимания, наблюдательной позиции и умения смотреть на ситуацию с разных точек зрения.
    </p>    
    <h2>Девятая и десятая консультация</h2>
    <p>
      Вырабатываем привычку общаться спонтанно, не продумывая заранее "что бы мне такое рассказать", улучшаем навыки коммуникации, проводим стресс-консультации (когда мы с вами спорим, кричим, когда вы учитесь отстаивать свою точку зрения). Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния. Проводим профилактику рецидивов.<br>Завершаем работу :)
    </p>  

    <h2 style="font-size: 3vw; text-align: center; margin: 9vw 0px 2vw 0vw"> Запись на консультацию</h2> 
    <p style="text-align: center; font-size: 1.2vw; line-height: 1.7vw; letter-spacing: 0.01em; margin: 2vw 0vw 5vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 5vw">
      <img src="<%= asset_url('КПНК1.svg')%>" style="width: 40vw">
      <%= render partial: "/new/form"%>
    </div>

  </div> <!-- конец container -->
</div>