<img src="assets/new/main_foto.png" style="height: 850px; position: absolute; left: 57%; top: 10%">

<p style="position: absolute;
left: 7.3%;
top: 239px;
font-family: Montserrat;
font-style: normal;
font-weight: 200;
font-size: 35px;
line-height: 34px;
letter-spacing: 0.01em;
color: #213E5C;">
Андрей Ткаченко</p>

<p style=" 
position: absolute;
width: 800px;
left: 7%;
top: 307px;
font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 74px;
line-height: 69px;
color: #29313C;">
Консультация психолога онлайн</p>

<p style="
position: absolute;
width: 700px;
left: 7%;
top: 55%;
font-family: Montserrat;
font-style: normal;
font-weight: 200;
font-size: 27px;
line-height: 27px;
letter-spacing: 0.01em;
color: #29313C;">
Я помогу тебе разобраться с проблемами из любой точки мира</p>

<div style="position: absolute; left: 7%; top: 69%">
  <input type="checkbox" id="input1">
  <label for="input1" class="input1_style">
    <span class="input1_text">Записаться на консультацию</span>
  </label>
</div>

<div style="position: absolute; left: 22.5%; top: 69%">
  <input type="checkbox" id="input2">
  <label for="input2" class="input2_style">
    <span class="input2_text">Узнать обо мне больше</span>
  </label>
</div>