<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Майндфулнесс | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение сущности метода майндфулнесс с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Майндфулнесс | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение сущности метода майндфулнесс с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Mindfulness">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/Tkachenko-Andrey-0ccd9afe47bf51522e172c3619a0dd1b97986605188615048acbc034288baecf.jpg">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container">
      <h1 class="article__name">Майндфулнесс</h1>
      <p class="article__description pc">В 80-хх был создан метод, который помогает обуздать свой разум и избавиться от тревожно-депрессивных расстройств. Имя ему – Майндфулнесс.</p>
      <img class="fullscreen__image" src="<%= asset_url('methods/Mindfulness.webp')%>" title="Майндфулнесс" alt="Майндфулнесс">
      <div class="fullscreen__shadow"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2>Что такое Майндфулнесс</h2>
        <p>
          <b>Mindfulness</b> – вид психотерапии и метод тренировки внимания, навыков осознанности и управления стрессом. В основу майндфулнесс-подхода положены практики медитации и современные данные нейробиологии. Один из самых исследуемых и научно доказанных психотерапевтических методов. В своей практике я применяю майндфулнесс как вспомогательный метод психотерапии и коучинга для развития стрессоустойчивости и работы с негативными мыслями.
        </p>
        <p>
          Создателем Майндфулнесс является Джон Кабат-Зинн, который в студенчестве занимался дзен-буддистскими медитациями и йогой, а затем на их основе создал Mindfulness-Based Stress Reduction (MBSR) 8-ми недельную программу снижения стресса на базе осознанности (отбросив религиозный аспект). Затем, исследования головного мозга показали эффективность метода: увеличение плотности серого вещества в зонах отвечающих за процесс обучения и запоминания, самоосознания и самоанализа, эмпатии.
          <br>
          Mindfulness можно перевести как "полнота осознания", это внимание, сознательно направленное на существующее в настоящий момент положение вещей, лишенное какой бы то ни было оценки. Это саморегулирование внимания на текущем опыте таким образом, чтобы можно было усилить распознавание психических событий, которые имеют место в данный момент.<br>
          Mindfulness – безоценочная осведомленность, возникающая в результате сознательного направления внимания на настоящий момент развертывающегося опыта.<br>
          Mindfulness – результат применения практик, состояние спокойного ума. 
          <br>
          В обычной жизни мы действуем на автопилоте, наше внимание беспорядочно направляется в разные стороны. С помощью майндфулнесс человек учится осознавать текущий момент времени, распознавать мысли, чувства и действия в момент их возникновения без перехода на автоматическое реагирование.<br>
          <b>Осознанность</b> – способность непрерывно замечать происходящие события.
        </p> 
      </section>

      <section>
        <h2>Сферы применения Майндфулнесс</h2>
        <ul>
          <li>Терапия неврозов</li>
          <li>Терапия депрессий</li>
          <li>Терапия тревожных расстройств</li>
          <li>Повышение качества сна</li>
          <li>Развитие стрессоустойчивости</li>
          <li>Уменьшение страданий от хронической боли</li>
          <li>Развитие навыков самонаблюдения и принятия взвешенных решений</li>
          <li>Развитие навыка управления вниманием и повышение его концентрации</li>
        </ul>
      </section>

      <section>
        <h2>Смысл Майндфулнесс</h2>
        <p>
          Практика Майндфулнесс – волевое направление внимания на настоящий момент с любопытством и принятием.<br>
          Чтобы быть здесь и сейчас необходимо:<br>
          <b>1. Тренировать внимание как мышцу</b> – регулярно по 10 и более минут тренировать переключаемость внимания, возвращаемость (быстрое возвращение в процесс после отвлечения), длительность концентрации внимания и ее объем (количество объектов, которые вы можете удерживать во внимании ежемоментно).<br>
          <b>2. Во время тренировок соблюдать принципы:</b>
          <ul>
            <li><b>Безоценочность</b> – если нет оценки, то и нет реакции. Это про прагматичность. От содержания мыслей переходим к ее форме. Пример: содержание - "я плохой", форма - Мысль; содержание - "злость", форма - Эмоция. Концентрируемся на самом факте эмоции, на форме, а не содержании, будто наблюдаем отстраненно.</li>
            <li><b>Нестремление</b> – это отсутствие целеполагания. Желание достичь скорейшего расслабления вызывает напряжение, значит нужно позволить себе "ничего не делать", быть в настоящем, вместо того, чтобы ставить цели и достигать их.</li>
            <li><b>Принятие</b> – открытость опыту, готовность отпустить контроль и позволить быть тому, что есть. Кто бы не пришел к нам, мысль или чувство, говорим ей "добро пожаловать". От самого себя не убежишь, поэтому разумнее принять происходящее как факт, а не отрицать его.</li>
            <li><b>Терпение</b> – необходимо помнить, что для изменений необходимо время.</li>
            <li><b>Доверие</b> – нужно полагаться на свое мироощущение, доверять себе, наше тело лучше знает естественный путь ума и тела: "мысль пришла, мысль ушла" - это нормально. Если мы доверяем себе, нам становится легче доверять другим людям и самой жизни.</li>
            <li><b>Ум новичка</b> – относиться ко всему, как к новому, будто вы младенец, который смотрит на мир без шаблонов. Таким образом развивается чуткость восприятия, умение замечать более тонкие вещи.</li>
            <li><b>Отпускание</b> – разрешение себе не зацикливаться на мыслях, чувствах, событиях, способность сказать себе "отпусти" и расслабиться.</li>
            <li><b>Любопытство</b> – желание познать опыт глубже, желание уделить время тому, что интересно - исследованию себя.</li>
            <li><b>Доброта</b> – доброжелательное отношение к себе и окружающим, что бы не происходило. Принятие, нежность, сострадание к самому себе, любовь в сердце.</li>
            <li><b>Юмор</b> – относиться к миру и себе с пониманием и юмором. Чрезмерная серьезность порой не дает расслабиться.</li>
          </ul>
        </p>
      </section>

      <section>
        <h2>Как работает Майндфулнесс</h2>
        <p>
          Внимание – это способность избирательно направлять восприятие на тот или иной объект. 
          Внимание – нейрофизический процесс в головном мозге, подарок эволюции. Древние предки современного человека обладали значительно меньшим пониманием мира, чем мы. Современный человек способен осознавать 3 координаты: Я - Ты, Сейчас - Тогда, Здесь - Там.
        </p>

        <img src="<%= asset_url('methods/Mindfulness-vectors.svg')%>" alt="Майндфулнесс векторы внимания" style="width: 100%; max-width: 300px">
      
        <p>
          <b>1. Я – Ты</b>. В ходе эволюции у человека развилось самосознание, способность понимать существование Себя и других людей вокруг, осознание того, что Я, Внешний мир и Другие люди – разные вещи. Это дало возможность исследовать свой внутренний мир и создать 4 принципа Будды:<br>
          "Я не есть мои мысли. Мысли – лишь часть меня"<br>
          "Я не есть мои чувства. Чувства – лишь часть меня"<br>
          "Я не есть мой действия. Действия – лишь часть меня"<br>
          "Я не есть мое тело. Тело – лишь часть меня"<br>
          Я – емкость, сосуд, телесная оболочка, которая наполнена мыслями и чувствами. Я - скопление физических и психических состояний.<br>
          Я – это некая точка моего сознания, <b>внутренний наблюдатель</b>, который может обратить внимание на любую вещь во вселенной.
          Эта способность дает возможность медитировать погружаясь вглубь себя, своего сознания, наблюдать за своими мыслями со стороны, творить магию: можно представить себе чувство и оно возникнет. На глубоких стадиях медитации наступает этап Единства: "Я - часть мира, во мне есть всё, что было и всё, что будет, всё что происходит со мной - связано с миром, а что происходит с миром - связано со мной".
        </p>
        <p>
          <b>2. Сейчас – Тогда</b>. Осознание наличия прошлого и будущего дало божественные возможности человечеству - планирование сложных длительных процессов, а заодно обрекло нас на вечный страх смерти. Животные не знают что могут умереть, поэтому не страдают тревогой. Большинство психологических проблем состоят в том, что человек застревает в своих мыслях о будущем или прошлом и действует на автопилоте.
          <b><i>Cтрадания образуются с помощью времени, нет времени - нет страданий</i></b> (с большой долей вероятности в эту секунду вы не умираете, у вас всё хорошо). Если осознавать именно данную секунду времени, быть здесь и сейчас, то можно избавиться от страданий.
          Даже если сейчас вам плохо, то практика Майндфулнесс может уменьшить ваши страдания, помогая вам направлять внимание на то, что для вас действительно важно и ценно.<br>
        </p>
        <p>
          <b>3. Здесь – Там</b>. Понимание пространства, запоминание местонахождения кого-то или чего-то дает человеку возможность взаимодействовать с миром на сложном уровне. Человек может мысленно путешествовать внутрь себя, а может выйти наружу и мысленно забраться на Гималаи, полететь на Луну, сделать кругосветное путешествие не выходя из дома. Пространственное мышление напрямую завязано с чувствами. Вспомнив неприятную ситуацию и место в котором оно происходило, от самого вида данного места у нас возникают негативные эмоции. И наоборот: вспомнив отдых на море человек расслабляется.
        </p>
        <p>
          Для уменьшения тревоги, следует использовать все 3 координаты, необходимо отстраниться от ситуации, мыслей, задать себе ряд вопросов, осознать себя, как автора мышления, заметить ту часть себя, которая замечает, ощутить себя в безопасности: "я - как небо, на котором бывают облака (мысли, чувства), но какая бы погода не была на небе, само небо всегда остается голубым и светлым, ему тучи ни по чем. Облака приходят и уходят, а небо всегда остается неизменным".<br>
          ВАЖНО: когда я наблюдаю за собой делающим что-то, то я Наблюдатель, а не тот кто делает/мыслит.<br><br>
          Задайте себе ряд вопросов:<br>
          <i>
          “Где мое внимание? Внутри или снаружи? В прошлом, будущем или настоящем?”<br>
          "Как вам кажется, где ваши мысли сейчас находятся в пространстве: спереди, сзади, слева, справа, cверху, cнизу от вас или внутри вас?"<br>
          "Как ваши мысли меняются со временем? Они становятся громче или тише, ярче или блеклей?"<br>
          "В каком направлении они движутся? Они движутся быстро или медленно? Плавно или прерывисто?"<br>
          "С какой интонацией говорит ваш внутренний голос?" - попробуйте сказать то же самое нежным голосом, голосом любимого мультяшного персонажа.<br>
          "Вспоминая, вы видите всё своими глазами или как-бы со стороны?"<br>
          "С какой интенсивностью, частотой мысль возвращаются?"<br>
          "Вспомните себя в 10 лет. Нуждаетесь ли вы в тепле, помощи? Какая ваша потребность не удовлетворена? Как вы решили получать любовь и одобрение? Заслуживаете ли вы заботы?"<br>
          "Представьте себя отдыхающем на море через 10 лет. Какой бы совет вы дали сегодняшнему себе?"<br>
          "Как выглядит ситуация с точки зрения вашей мамы, когда ей было 15 лет и она жила в родительском доме. Были ли у нее похожие жизненные трудности?"<br>
          </i>
          Для верующих: <i>"как ситуация выглядит с точки зрения вашего ангела-хранителя? Бога?"</i>
        </p>
        <p>
          Есть много разных медитаций. Вот самые популярные: медитация на дыхании, медитация любящей доброты, смакование<br>
          К примеру, медитация "сканирование тела":<br>
          <b>1.</b> Садимся максимально удобно, комфортно, спина прямая, помним, что положение тела выражает достоинство и пробужденность.<br>
          <b>2.</b> Весь фокус внимания на звуки вокруг.<br>
          <b>3.</b> Внимание на положение тела, почувствуйте его. Почувствуйте баланс своего тела.<br>
          <b>4.</b> Вниманием пройдитесь от макушки головы до кончиков пальцев ног. Начинайте знакомится с ощущениями, которые есть. Фокус внимания как лучь фонарика. Понаблюдайте за ощущениями, которые есть.<br>
          <b>5.</b> Если обнаружили область которая напряжена: на вдохе сконцентрируйтесь на ней, с любопытством, безоценочно; на выходе - отпускайте напряжение вместе с выдыхаемым воздухом, расслабляйте эту область. Повторяем.<br>
          <b>6.</b> Продолжайте 5-й шаг 1 мин и более до получения необходимого результата.<br>
          <b>7.</b> Возвращайтесь в здесь и сейчас, заканчивая упражнение через осознание своей потребности "что для меня важно сейчас?".
        </p>

        <h3>Как долго нужно проходить терапию Майндфулнесс</h3>
        <p>
          Стандартный курс – 10 сеансов (диагностический сеанс, 8 сеансов раз в неделю + выполнение домашнего задания минимум по 10мин в день, и один завершающий сеанс с подведением итогов).<br>
          Мозг имеет нейропластичность, он способен меняться со временем, перестраивать нейронные связи и обучаться.<br>
          Тренировка ума аналогична физическим тренировкам, фитнесу, необходимо:<br> 
          <b>1.</b> Понять смысл и освоить процесс на практике.<br>
          <b>2.</b> Дисциплинированно начать регулярные тренировки.<br>
          <b>3.</b> Сделать из этого полезную привычку.<br>
          <b>4.</b> Сделать тренировку частью жизни с помощью неформальных упражнений: поначалу специально выбирая несложные ситуации для практики, а затем по мере приобретения опыта – в какой угодно момент по желанию.
        </p>
      </section>

    </div>
  </article>

  <div class="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -10px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form">Запись на консультацию</h2>
        <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=+380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          По всем вопросам, звонить: +380964248025<br>Пн-Вс 10:00-20:00
        </p>
      </div>
    </div>
  </div>

</div>