<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Психотерапия ОКР | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие ОКР и как психолог помогает от нее избавиться.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Психотерапия ОКР | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие ОКР и как психолог помогает от нее избавиться.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/OCD-psychotherapy">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/Tkachenko-Andrey-0ccd9afe47bf51522e172c3619a0dd1b97986605188615048acbc034288baecf.jpg">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container">
      <h1 class="article__name" style="z-index: 1">Психотерапия ОКР</h1>
        <p class="pc" style="z-index: 1; background: var(--brown); padding: 25px; color: var(--white); font-weight: 400; margin: 5px 0; font-size: 1.17rem">
          Если вы это читаете, то, вероятно, у вас навязчивые мысли или действия. Эта статья призвана кратко объяснить процесс психотерапии с практической точки зрения: описание проблемы, результата и применяемых мною техник в нашей совместной работе
        </p>
      <div class="fullscreen__image" style="background-image: url(<%= asset_url('problem/OCD.jpg')%>)"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2>Как практически будет выглядеть наша работа</h2>
        <p>
          Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
        </p>
        <p>
          Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические и физиологические механизмы ОКР. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
        </p>
        <p>
          Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от ОКР и научились конструктивно удовлетворять свои потребности.
        </p>
       </section>

      <table>
        <caption>Критерии наличия ОКР и критерии достижения результата</caption>
        <thead>
          <tr>
            <th scope="col">Обсессивно-компульсивное расстройство</th>
            <th scope="col">Результат психотерапии</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="ОКР">По опроснику Шкала Йеля-Брауна вы набираете 9-40 балла. Как обсессии, так и компульсии (или оба вместе) представлены в большинстве дней как минимум в течение 2-х недель и имеют все следующие признаки:</td>
            <td data-label="Результат психотерапии">По опроснику Шкала Йеля-Брауна вы набираете 0-8 балла на протяжении 2-х недель подряд.</td>
          </tr>
          <tr>
            <td scope="row" data-label="ОКР">Навязчивости вызывают дистресс или мешают социальной или индивидуальной деятельности (обычно за счет пустой траты времени).</td>
            <td data-label="Результат психотерапии">Оставшиеся симптомы не вызывают сильного дискомфорта и почти не влияют на вас в разных сферах жизни.</td>
          </tr>
          <tr>
            <td scope="row" data-label="ОКР">Навязчивости повторяются, они неприятны.</td>
            <td data-label="Результат психотерапии">Сокращение количества навязчивостей на 70-80% и более на протяжении 2-х недель подряд.</td>
          </tr>
          <tr>
            <td scope="row" data-label="ОКР">Как минимум, одна обсессия или компульсия должна пониматься как чрезмерная или бессмысленная.</td>
            <td data-label="Результат психотерапии">Все ваши деструктивные навязчивости объективно понимаются вами как бессмысленные и не эффективные.</td>
          </tr>
          <tr>
            <td scope="row" data-label="ОКР">Навязчивости сами по себе не вызывают приятных ощущений (но после них может наступать временное облегчение).</td>
            <td data-label="Результат психотерапии">Функцию облегчения напряжения заняли техники принятия или конструктивная деятельность.</td>
          </tr>
          <tr>
            <td scope="row" data-label="ОКР">Вы не можете отложить навязчивую реакцию на стимул.</td>
            <td data-label="Результат психотерапии">Вы способны отложить на несколько часов реакцию или вовсе не совершать навязчивостей.</td>
          </tr>
           <tr>
            <td scope="row" data-label="ОКР">ДОПОЛНИТЕЛЬНО: вы любите жить по правилам, не умеете принимать решения и брать на себя ответственность.</td>
            <td data-label="Результат психотерапии">Для комфортной жизни вам не требуются четкие правила поведения, вы ответственны и решительны.</td>
          </tr>
        </tbody>
      </table>


      <section>
        <h2>План психотерапии ОКР</h2>        
        <p>
          Вы подозреваете у себя наличие ОКР. Для самодиагностики вы можете заполнить опросник Шкала Йеля-Брауна. Далее, <a href="/OCD-psychotherapy.html#sign-up">записывайтесь</a> ко мне на консультацию и приходите за психологической диагностикой и психотерапией. В случае необходимости, я отправлю вас к врачу за медицинским обследованием и назначением медикаментов.
        </p>
        <p>
          <a href="/individual_consultation.html#First">Первая консультация</a> всегда посвящена детальному разбору вашего случая. Она состоит из 3-х основных этапов:<br>
          1. Диагностика. Выявление симптомов и психологических механизмов ОКР;<br>
          2. Информирование. Я объясняю причины симптомов и механизм функционирования ОКР. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения, отвечаю на ваши вопросы;<br>
          3. Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.
        </p>
        <p>
          В конце консультации вы получаете:
        </p>
        <ul>
          <li><b>Стенографию</b> консультации в текстовом формате, которую можно перечитывать в любой момент;</li>
          <li><b>Схему ОКР и опросник</b>, которые созданы на основе вашей диагностики. Опросник нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результатов нашей работы;</li>
          <li><b>Мои личные контакты</b>. Возможность поддерживать со мной связь между сеансами для ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!</li>
          <li><b>Дополнительные материалы</b>. Текстовые, аудио- и видеофайлы для выполнения домашнего задания, развития навыков и осведомленности о своей проблеме.</li>
        </ul>
        <p>
          В теории, отдельные элементы навязчивостей можно проработать за несколько консультаций. Если же после диагностики был выявлен именно ОКР, то мы начинаем краткосрочный курс психотерапии (10 сеансов) с использованием методов <a href="/Cognitive-Behavioral-Therapy.html">Когнитивно-поведенческой терапии</a>, <a href="Metacognitive-therapy.html">Метакогнитивной терапии</a> и <a href="/Acceptance-and-Commitment-Therapy.html">Терапии принятия и ответственности</a>. Как показывает практика, для избавления от ОКР легкой степени 10 сеансов может быть достаточно, чтобы уменьшить длительность и мучительность симптомов на 50% и более. В более серьезных случаях может понадобится длительная терапия. Для избавления от внутреннего конфликта ("хочу, но не могу", "не хочу, а надо", "хочу и того и другого"), который привел к ОКР используем <a href="/Positive-psychotherapy.html">Позитивную психотерапию</a>. При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться, однако общая структура психотерапии выглядит следующим образом:
        </p>

        <h3>Первый – третий сеанс</h3>
        <p>
          Изменяем отношение к обсессиям, обсуждаем значимость навязчивых мыслей и действий, анализируем насколько ваши убеждения конструктивны и объективны, учимся мыслить критически. Если вы боитесь до ужаса мыслей об убийстве родных, то мы анализируем эту мысли, делаем рефрейминг (смотрим на нее под разными точками зрения). Применяются все доступные методы. Мы можем прямо на сеансе, на моем примере делать экспозиции (например, вам кажутся все предметы грязными, тогда я могу предложить вам посмотреть, как я "запачканными" руками прикасаюсь к своему лицу). Также, для работы со страхом мы совершаем парадоксальную интенцию (намеренно пытаемся испугаться мысли). Если боитесь даже попробовать - делаем декатастрофизацию (продумываем наихудшие варианты развития событий, подготавливаемся к ним и пробуем соприкоснуться со страхом). Если мысль или действие кажется неконтролируемым, то мы выявляем первые признаки начала навязчивости (порыв руки почесать нос, ощущение давления в груди перед компульсией) и делаем технику отстраненной осознанности, принятия и медитации. Уменьшая страх и значимость мыслей, научившись замечать начало навязчивостей мы можем двигаться дальше.
        </p>
        <h3>Четвертый – пятый сеанс</h3>
        <p>
          Начинаем соприкасаться с неприятными навязчивостями (намеренно обдумываем навязчивые мысли), если вы боитесь даже подумать о них - начинаем с малого: записываем мысли на листок бумаги и носим его с собой. Навязчивость о том, как вы падаете с балкона? Не можете выйти на балкон? Не беда, представляем всю ситуацию экспозицию в воображении (представляем всю ситуацию Перестаем получать выгоду от навязчивых действий, например, вы можете продолжать часто мыть руки, но при этом держите в голове мысль "руки грязные", таким образом облегчение от навязчивости не наступает и возникает когнитивный диссонанс: "как это, я мою, а они грязные? Может мысли не всегда правдивы?" Либо, если вы часто проверяете закрыта ли дверь, то вы можете начать намеренно усилить реакцию: ежедневно проверять 5 раз дверь, выходить из дома на 50, 100, 200, 400 метров и намеренно возвращаться, в какой-то момент вы почувствуете всю глупость происходящего и сами перестанете верить в мысль "а вдруг не закрыта?". Чтобы усилить эффект - можно своим голосом записать мысль на аудио и прослушивать ее делая техники принятия и отстраненной осознанности. Если вы не можете терпеть неровно сложенных вещей - тренируемся откладывать реакцию,на 10 секунд, 20, 30, минуту, 5 минут: раскладываем вещи неровно, замечаем желание их выровнять, ждем сколько выходит и выравниваем, если желание осталось. С каждой попыткой увеличиваем время откладывания. Если не выходит - проделываем тоже самое в воображении, представляем "страшную ситуацию" и откладываем реакцию. Систематическое выполнение домашнего задания гарантирует результат (систематическая десенсибилизация).
        </p>        
        <h3>Шестой – седьмой сеанс</h3>
        <p>
          Усложняем поведенческие эксперименты, начинаем брать, например, в руки нож (если боимся кому-то причинить вред), ходить по улице рядом с оживленным движением машин (если боимся, что машина собьет), отпускать мужа гулять на улице одному (если боимся за его здоровье). Отказываемся от выполнения компульсивных действий. Всё это время я вам помогаю, делаю все упражнения вместе с вами, поддерживаю, сопереживаю, поощряю, стараюсь придать вам мотивацию и веру в результат.
        </p>    
        <h3>Восьмой – десятый сеанс</h3>
        <p>
          Снижаем общую тревожность, учимся принимать решения и справляться с  возникающими трудностями. Увеличиваем стрессоустойчивость. Научаемся применять технику "СТОП". Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего состояния. Проводим профилактику рецидивов, прорабатываем ваши ожидания относительно своего самочувствия.<br>Завершаем работу :)
        </p>
      </section>

    </div>
  </article>

  <div class="sign-up" id="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -10px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form">Запись на консультацию</h2>
        <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=+380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          По всем вопросам, звонить: +380964248025<br>Пн-Вс 10:00-20:00
        </p>
      </div>
    </div>
  </div>

</div>