<div class="pc_content">
  <div class="container" style="text-align: justify;">
    <h1 style="text-align: center; font-weight: 800; font-size: 3vw; margin: 5vw 0px 4vw 0vw">Психотерапия ОКР</h1>
    <p style="text-align: center; margin: 2vw 7vw 4vw 7vw;">
      Если вы это читаете, то, вероятно, у вас навязчивые мысли или действия. Эта статья призвана кратко объяснить процесс психотерапии с практической точки зрения: описание проблемы, результата и применяемых мною техник в нашей совместной работе
    </p>

    <img src="<%= asset_url('problem/OCD.svg')%>" style="float: right; width: 30vw; margin: 1vw 4vw">
    <h2 style="font-size: 1.6vw; font-weight: 800; margin: 4vw 0vw 2vw 3vw">Как практически будет выглядеть наша работа</h2>
    <p>
      Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
    </p>
    <p>
      Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические и физиологические механизмы ОКР. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
    </p>
    <p>
      Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от ОКР и научились конструктивно удовлетворять свои потребности.
    </p>

    <h2 style="font-size: 1.6vw; font-weight: 800; margin: 4vw 0vw 2vw 3vw">Критерии наличия ОКР и критерии достижения результата</h2>
    <table style="border-collapse: collapse; filter: drop-shadow(4px 4px 15px rgba(68, 68, 68, 0.3)); margin-bottom: 1vw">
      <th style="text-align: center; background-color: #ff7f50; padding: 1vw; border-radius: 1vw 0vw 0vw 0vw; font-weight: 600; font-size: 1.1vw">Обсессивно-компульсивное расстройство</th>
      <th style="text-align: center; background-color: #37B079; padding: 1vw; border-radius: 0vw 1vw 0vw 0vw; font-weight: 600; font-size: 1.1vw">Результат психотерапии</th>
      <tr>
        <td style="border-top: none;">По опроснику Шкала Йеля-Брауна вы набираете 9-40 балла. Как обсессии, так и компульсии (или оба вместе) представлены в большинстве дней как минимум в течение 2-х недель и имеют все следующие признаки:</td>
        <td style="border-top: none;">По опроснику Шкала Йеля-Брауна вы набираете 0-8 балла на протяжении 2-х недель подряд.</td>
      </tr>
      <tr>
        <td>Навязчивости вызывают дистресс или мешают социальной или индивидуальной деятельности (обычно за счет пустой траты времени).</td>
        <td>Оставшиеся симптомы не вызывают сильного дискомфорта и почти не влияют на вас в разных сферах жизни.</td>
      </tr>
      <tr>
        <td>Навязчивости повторяются, они неприятны.</td>
        <td>Сокращение количества навязчивостей на 70-80% и более на протяжении 2-х недель подряд.</td>
      </tr>
      <tr>
        <td>Как минимум, одна обсессия или компульсия должна пониматься как чрезмерная или бессмысленная.</td>
        <td>Все ваши деструктивные навязчивости объективно понимаются вами как бессмысленные и не эффективные.</td>
      </tr>
      <tr>
        <td>Навязчивости сами по себе не вызывают приятных ощущений (но после них может наступать временное облегчение).</td>
        <td>Функцию облегчения напряжения заняли техники принятия или конструктивная деятельность.</td>
      </tr>
      <tr>
        <td>Вы не можете отложить навязчивую реакцию на стимул.</td>
        <td>Вы способны отложить на несколько часов реакцию или вовсе не совершать навязчивостей.</td>
      </tr>
      <tr>
        <td style="border-radius: 0vw 0vw 0vw 1vw; border-left: none; border-bottom: none;">ДОПОЛНИТЕЛЬНО: вы любите жить по правилам, не умеете принимать решения и брать на себя ответственность.</td>
        <td style="border-radius: 0vw 0vw 1vw 0vw; border-right: none; border-bottom: none;">Для комфортной жизни вам не требуются четкие правила поведения, вы ответственны и решительны.</td>
      </tr>
    </table>

    <h2 style="font-size: 2vw; font-weight: 800; margin: 4vw 0vw 2vw 4vw">План психотерапии ОКР</h2>
    <p>
      Вы подозреваете у себя наличие ОКР. Для самостоятельной диагностики можете заполнить опросник Шкала Йеля-Брауна. Далее записывайтесь ко мне на консультацию за психологической диагностикой и психотерапией. В случае необходимости, я отправлю вас к врачу за медицинской диагностикой и назначением медикаментов, если они потребуются.
    </p>
    <p>
      В своей работе с ОКР я использую методы <a href="CBT.html" style="border-bottom: 1px solid currentColor;">Когнитивно-поведенческой терапии</a>, <a href="MCT.html" style="border-bottom: 1px solid currentColor;">Метакогнитивной терапии</a> и <a href="ACT.html" style="border-bottom: 1px solid currentColor;">Терапии принятия и ответственности</a>. В среднем, для избавления от ОКР легкой или средней тяжести необходимо 8-10 консультаций.
    </p>
    
    <p style="font-style: italic;">
      *При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться!
    </p>

    <h2 style="margin: 4vw 0vw 2vw 4vw">Первая консультация</h2>
    <p>
      Первая психологическая консультация всегда посвящена детальному разбору вашего случая. Она состоит из 3-х этапов:
    </p>
    <ul>
      <li>Диагностика. Выявление симптомов и психологических механизмов ОКР.</li>
      <li>Информирование. Я объясняю причины симптомов и механизм функционирования ОКР. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения, отвечаю на ваши вопросы.</li>
      <li>Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.</li>
    </ul>
    <p>
      В конце консультации вы получаете:<br>
      + Стенографию консультации в формате docx, которую можно перечитывать в любой момент;<br>
      + Еxcel файл с вашей схемой ОКР и опросником (созданным на основе лично вашей ситуации), который нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результата нашей работы;<br>
      + Мои личные контакты. Возможность связываться со мной для поддержания связи между консультациями, ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!
    </p>
    <h2 style="margin: 4vw 0vw 2vw 4vw">Вторая и третья консультация</h2>
    <p>
      Изменяем отношение к обсессиям, обсуждаем значимость навязчивых мыслей и действий, анализируем насколько ваши убеждения конструктивны и объективны, учимся мыслить критически. Если вы боитесь до ужаса мыслей об убийстве родных, то мы анализируем эту мысли, делаем <b>рефрейминг</b> (смотрим на нее под разными точками зрения). Применяются все доступные методы. Я, как психолог, прямо на консультации могу на своем примере сделать то, чего вы боитесь (например, вам кажутся все предметы грязными, тогда я могу предложить вам посмотреть, как я запачканными руками прикасаюсь к лицу, ем немытую еду). Также, для работы со страхом мы совершаем <b>парадоксальную интенцию</b> (намеренно пытаемся испугаться мысли). Если боитесь даже попробовать - делаем <b>декатастрофизацию</b> (продумываем наихудшие варианты развития событий, подготавливаемся к ним и пробуем соприкоснуться со страхом). Если мысль или действие кажется неконтролируемым, то мы выявляем <b>первые признаки</b> начала навязчивости (порыв руки почесать нос, ощущение давления в груди перед компульсией) и делаем технику <b>отстраненной осознанности</b>, <b>принятия</b> и <b>медитации</b>. Уменьшая страх и значимость мыслей, научившись замечать начало навязчивостей мы можем двигаться дальше.
    </p>
    <h2 style="margin: 4vw 0vw 2vw 4vw">Четвертая и пятая консультация</h2>
    <p>
      Начинаем соприкасаться с неприятными навязчивостями (намеренно обдумываем навязчивые мысли), если вы боитесь даже подумать о них - начинаем с малого: записываем мысли на листок бумаги и носим его с собой. Навязчивость о том, как вы падаете с балкона? Не можете выйти на балкон? Не беда, представляем всю ситуацию экспозицию в воображении (представляем всю ситуацию Перестаем получать выгоду от навязчивых действий, например, вы можете продолжать часто мыть руки, но при этом держите в голове мысль "руки грязные", таким образом облегчение от навязчивости не наступает и возникает когнитивный диссонанс: "как это, я мою, а они грязные? Может мысли не всегда правдивы?" Либо, если вы часто проверяете закрыта ли дверь, то вы можете начать намеренно усилить реакцию: ежедневно проверять 5 раз дверь, выходить из дома на 50, 100, 200, 400 метров и намеренно возвращаться, в какой-то момент вы почувствуете всю глупость происходящего и сами перестанете верить в мысль "а вдруг не закрыта?". Чтобы усилить эффект - можно своим голосом записать мысль на аудио и прослушивать ее делая техники принятия и отстраненной осознанности. Если вы не можете терпеть неровно сложенных вещей - тренируемся откладывать реакцию,на 10 секунд, 20, 30, минуту, 5 минут: раскладываем вещи неровно, замечаем желание их выровнять, ждем сколько выходит и выравниваем, если желание осталось. С каждой попыткой увеличиваем время откладывания. Если не выходит - проделываем тоже самое в воображении, представляем "страшную ситуацию" и откладываем реакцию. Систематическое выполнение домашнего задания гарантирует результат (систематическая десенсибилизация).
    </p>        
    <h2 style="margin: 4vw 0vw 2vw 4vw">Шестая и седьмая консультация</h2>
    <p>
      Усложняем поведенческие эксперименты, начинаем брать, например, в руки нож (если боимся кому-то причинить вред), ходить по улице рядом с оживленным движением машин (если боимся, что машина собьет), отпускать мужа гулять на улице одному (если боимся за его здоровье). Отказываемся от выполнения компульсивных действий. Все это время я, как психолог, помогаю вам, делаю все упражнения вместе с Вами, поддерживаю и сопереживаю, поощряю вас, стараюсь придать вам мотивацию и веру в результат.
    </p>    
    <h2 style="margin: 4vw 0vw 2vw 4vw">Восьмая - десятая консультация</h2>
    <p>
     Снижаем общую тревожность, учимся принимать решения и справляться с  возникающими трудностями. Увеличиваем стрессоустойчивость. Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего состояния. Проводим профилактику рецидивов, прорабатываем ваши ожидания относительно своего самочувствия.<br>Завершаем работу :)
    </p>

    <h2 style="font-size: 3vw; text-align: center; margin: 9vw 0px 2vw 0vw"> Запись на консультацию</h2> 
    <p style="text-align: center; font-size: 1.2vw; line-height: 1.7vw; letter-spacing: 0.01em; margin: 2vw 0vw 0vw 0vw;">
      Заполните форму или свяжитесь со мной любым удобным для вас способом.<br>Контакты вы найдете 
      <a href="contacts.html" style="border-bottom: 1px solid currentColor">здесь</a>
    </p>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 5vw">
      <img src="<%= asset_url('КПНК1.svg')%>" style="width: 40vw">
      <%= render partial: "/new/form"%>
    </div>

  </div> <!-- конец container -->