<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Психотерапия тревоги | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие повышенной тревоги и как психолог помогает от нее избавиться.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Психотерапия тревоги | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение процесса психотерапии с практической точки зрения: как диагностировать наличие повышенной тревоги и как психолог помогает от нее избавиться.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Psychotherapy-of-anxiety">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/Tkachenko-Andrey-0ccd9afe47bf51522e172c3619a0dd1b97986605188615048acbc034288baecf.jpg">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container">
      <h1 class="article__name" style="z-index: 1">Психотерапия тревоги</h1>
        <p class="pc" style="z-index: 1; background: var(--brown); padding: 25px; color: var(--white); font-weight: 400; margin: 5px 0; font-size: 1.17rem">
          Если вы это читаете, то, вероятно, у вас повышенная тревога. Эта статья призвана кратко объяснить вам процесс психотерапии с практической точки зрения: описание проблемы, результата и применяемых мною техник в нашей совместной работе
        </p>
      <div class="fullscreen__image" style="background-image: url(<%= asset_url('problem/Anxiety.jpg')%>)"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2>Как практически будет выглядеть наша работа</h2>
        <p>
          Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
        </p>
        <p>
          Все 2 часа посвящены только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню психологические и физиологические механизмы тревоги. В процессе работы мы будем анализировать ваши мысли, вести дневники, делать поведенческие эксперименты и выполнять домашнее задание.
        </p>
        <p>
          Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы избавились от тревоги и научились конструктивно удовлетворять свои потребности.
        </p>
       </section>

      <table>
        <caption>Критерии наличия тревоги и критерии достижения результата</caption>
        <thead>
          <tr>
            <th scope="col">Повышенная тревожность</th>
            <th scope="col">Результат психотерапии</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Повышенная тревожность">По опроснику Шкала тревоги Гамильтона вы набираете 8-56 балла. Также, несколько симптомов тревоги присутствовали у вас почти каждый день в течение месяца.</td>
            <td data-label="Результат психотерапии">Снижение суммарного балла по опроснику Шкала тревоги Гамильтона на 50% и более, по сравнению с начальным, на протяжении 3-х недель подряд.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Повышенная тревожность">Тревога и беспокойство мешают вам работать, вести повседневную жизнь, вмешиваются в ваши личные отношения.</td>
            <td data-label="Результат психотерапии">Тревога и беспокойство не мешают вашей повседневной жизни и работе.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Повышенная тревожность">Вы не можете контролировать вашу тревогу.</td>
            <td data-label="Результат психотерапии">Вы способны контролировать свою тревогу.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Повышенная тревожность">Беспокойство вызывает сильное напряжение и стресс.</td>
            <td data-label="Результат психотерапии">Беспокойство не вызывает значительного стресса.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Повышенная тревожность">Вы беспокоитесь о множестве вещей и предвидите только худшее развитие ситуации.</td>
            <td data-label="Результат психотерапии">Вы тревожитесь о конкретном ограниченном количестве реальных вещей, объективно оцениваете развитие событий.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Повышенная тревожность">Вы излишне сильно беспокоитесь о маловероятных происшествиях или тревожитесь без видимой причины.</td>
            <td data-label="Результат психотерапии">Вы беспокоитесь, если на то есть повод.</td>
          </tr>
           <tr>
            <td scope="row" data-label="Повышенная тревожность">Длительные, повторяющиеся тревожные мысли от которых трудно избавиться.</td>
            <td data-label="Результат психотерапии">Ваше беспокойство проходит за небольшой промежуток времени.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Повышенная тревожность">Иногда: суетливость, раздражительность, мышечные напряжения, дрожь, потливость, тахикардия и т.д.</td>
            <td data-label="Результат психотерапии">При тревоге вы физически ощущаете симптомы психосоматики, но они неярко выражены и не причиняют сильного дискомфорта.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Повышенная тревожность">Перфекционизм, самообвинения, страх неопределенности.</td>
            <td data-label="Результат психотерапии">Нацеленность на результат.</td>
          </tr>
        </tbody>
      </table>

      <table>
        <caption>Критерии наличия тревоги и критерии достижения результата</caption>
        <thead>
          <tr>
            <th scope="col">Генерализованное тревожное расстройство</th>
            <th scope="col">Результат психотерапии</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Генерализованное тревожное расстройство">По опроснику Шкала тревоги Гамильтона вы набираете 20-56 балла.</td>
            <td data-label="Результат психотерапии">Снижение суммарного балла по опроснику Шкала тревоги Гамильтона на 50% и более, по сравнению с начальным, на протяжении 3-х недель подряд.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Генерализованное тревожное расстройство">Тревога или физические симптомы, приводят к клинически значимым расстройствам или нарушениям в социальной, трудовой или другой сфере жизнедеятельности.</td>
            <td data-label="Результат психотерапии">Оставшиеся симптомы не вызывают сильного дискомфорта и почти не влияют на вас в разных сферах жизни.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Генерализованное тревожное расстройство">Избыточная тревога и беспокойство (дурные предчувствия), появляющиеся на протяжение как минимум 6 месяцев при разных событиях или видах деятельности.</td>
            <td data-label="Результат психотерапии">Вы не застреваете в каком-либо одном настроении. Вы в состоянии испытывать различные эмоции (радость, грусть, злость) в зависимости от обстоятельств.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Генерализованное тревожное расстройство">Беспокойство трудно контролировать.</td>
            <td data-label="Результат психотерапии">Беспокойство контролируемое, вы не застреваете в одной эмоции, в одной мысли.</td>
          </tr>
          <tr>
            <td scope="row" colspan="2" style="text-align: center;">Тревога и беспокойство связаны с тремя (или более) из следующих шести симптомов<br>(при условии, что часть симптомов представлена как минимум на протяжении 6 месяцев):</td>
          </tr>
          <tr>
            <td scope="row" data-label="Генерализованное тревожное расстройство">1. Возбужденность или нервозность, состояние «на пределе».</td>
            <td data-label="Результат психотерапии">1. Отсутствие или не вызывающие сильного дискомфорта нервозность.</td>
          </tr>
           <tr>
            <td scope="row" data-label="Генерализованное тревожное расстройство">2. Быстрая утомляемость.</td>
            <td data-label="Результат психотерапии">2. Нормализация активности, отсутствие заторможенности или неприсущей вам возбудимости.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Генерализованное тревожное расстройство">3. Трудно сконцентрироваться или «мозги отключаются».</td>
            <td data-label="Результат психотерапии">3. Гибкое внимание. Восстановление привычного уровня концентрации внимания и способности мыслить.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Генерализованное тревожное расстройство">4. Раздражительность.</td>
            <td data-label="Результат психотерапии">4. Отсутствие или не вызывающие сильного дискомфорта раздражительность.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Генерализованное тревожное расстройство">5. Мышечное напряжение.</td>
            <td data-label="Результат психотерапии">5. Отсутствие или не вызывающие сильного дискомфорта мышечное напряжение.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Генерализованное тревожное расстройство">6. Проблемы со сном (трудности в засыпании или нарушение продолжительности сна, или беспокойный, не приносящий удовольствия сон).</td>
            <td data-label="Результат психотерапии">6. Нормализация сна (6-10 часов сна без пробуждений с ощущением, что выспался).</td>
          </tr>
        </tbody>
      </table>

      <section>
        <h2>План психотерапии тревоги</h2>
        <p>
          Вы подозреваете у себя наличие повышенной тревоги или ГТР. Для самодиагностики вы можете заполнить тест Шкала тревоги Гамильтона. Далее, <a href="/Psychotherapy-of-anxiety.html#sign-up">записывайтесь</a> ко мне на консультацию и приходите за психологической диагностикой и психотерапией. В случае необходимости, я отправлю вас к врачу за медицинским обследованием и назначением медикаментов.
        </p>
        <p>
          <a href="/individual_consultation.html#First">Первая консультация</a> всегда посвящена детальному разбору вашего случая. Она состоит из 3-х основных этапов:<br>
          1. Диагностика. Выявление симптомов и психологических механизмов тревоги;<br>
          2. Информирование. Я объясняю причины симптомов и механизм функционирования тревоги. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения, отвечаю на ваши вопросы;<br>
          3. Составление запроса и плана терапии. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана терапии, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая.
        </p>
        <p>
          В конце консультации вы получаете:
        </p>
        <ul>
          <li><b>Стенографию</b> консультации в текстовом формате, которую можно перечитывать в любой момент;</li>
          <li><b>Схему тревоги и опросник</b>, которые созданы на основе вашей диагностики. Опросник нужно будет еженедельно заполнять для отслеживания динамики вашего состояния и объективной оценки результатов нашей работы;</li>
          <li><b>Мои личные контакты</b>. Возможность поддерживать со мной связь между сеансами для ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!</li>
          <li><b>Дополнительные материалы</b>. Текстовые, аудио- и видеофайлы для выполнения домашнего задания, развития навыков и осведомленности о своей проблеме.</li>
        </ul>
        <p>
          Единичные симптомы тревоги и беспокойства можно проработать за несколько консультаций. Если же после диагностики было выявлено ГТР или общую повышенную тревожность, то мы начинаем краткосрочный курс психотерапии (10 сеансов) с использованием методов <a href="/Cognitive-Behavioral-Therapy.html">Когнитивно-поведенческой терапии</a>, <a href="/Metacognitive-therapy.html">Метакогнитивной терапии</a> и <a href="/Acceptance-and-Commitment-Therapy.html">Терапии принятия и ответственности</a>. Как показывает практика, для избавления от повышенной тревоги 10 сеансов вполне достаточно, чтобы уменьшить длительность и мучительность тревоги на 50 и более процентов. В случае с ГТР может понадобится более длительная работа. Для избавления от локальной психосоматики используем разовые сеансы <a href="/Hypnotherapy.html">Гипнотерапии</a>. При наличии сопутствующих заболеваний или прочих психологических проблем план работы может меняться, однако общая структура психотерапии выглядит следующим образом: 
        </p>
        <h3>Первый – третий сеанс</h3>
        <p>
          Направление работы: мышление и поведение. Мы анализируем насколько ваши тревожные мысли неконтролируемы, опасны, учимся откладывать беспокойство на потом, смотреть на мысли отстраненно, не спутываться с ними, не пытаться их задавить, перебороть. Анализируем насколько ваши убеждения конструктивны и объективны, учимся мыслить критически. Делаем анализ вашей стратегий защиты от тревоги: выявляем то, что работает, и то, что приносит выгоду лишь на краткосрочном промежутке времени, ухудшая ваше состояние в долгосрочном периоде. Научаемся принимать свои эмоции, быть готовыми действовать даже несмотря на негативные переживания (систематическая десенсибилизация).
        </p>
        <h3>Четвертый – шестой сеанс</h3>
        <p>
          Мы продолжаем работать с мышлением и эмоциями, понемногу учимся управлять собственным вниманием. Развиваем осознанность на настоящем моменте, чтобы вовремя замечать и предотвращать появление тревоги. Применяем техники медитации и заполняем АВС-схему для усиления гибкости внимания, наблюдательной позиции и умения смотреть на ситуацию с разных точек зрения.
        </p>        
        <h3>Седьмой – восьмой сеанс</h3>
        <p>
          Мы научились контролировать свое внимание. Прекращаем мониторить, подготавливаться и предугадывать возможные угрозы, прислушиваться к негативным мыслям и часто проверять свое самочувствие. Выявляем список ваших ценностей, целей, которые вы хотите достичь, и возможные препятствия (негативные мысли, эмоции, желания, непредвиденные обстоятельства). Учимся принимать решения и справляться с  возникающими трудностями. Увеличиваем стрессоустойчивость.
        </p>
        <h3>Девятый – десятый сеанс</h3>
        <p>
         Научаемся применять технику "СТОП". Подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния. Проводим профилактику рецидивов.<br>Завершаем работу :)
        </p>
      </section>

    </div>
  </article>

  <div class="sign-up" id="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -10px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form">Запись на консультацию</h2>
        <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=+380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          По всем вопросам, звонить: +380964248025<br>Пн-Вс 10:00-20:00
        </p>
      </div>
    </div>
  </div>

</div>