<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Консультирование в сфере взаимоотношений | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение процесса консультирования с практической точки зрения: как понять что есть проблемы в отношениях и как психолог помогает от них избавиться.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Консультирование в сфере взаимоотношений | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение процесса консультирования с практической точки зрения: как понять что есть проблемы в отношениях и как психолог помогает от них избавиться.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Relationship-counseling">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/Tkachenko-Andrey-0ccd9afe47bf51522e172c3619a0dd1b97986605188615048acbc034288baecf.jpg">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container">
      <h1 class="article__name">Консультирование в сфере взаимоотношений</h1>
      <p class="article__description pc">Если вы это читаете, то, вероятно, у вас проблемы во взаимоотношениях с людьми. Эта статья призвана кратко объяснить процесс консультирования с практической точки зрения: описание проблемы, результата и применяемых мною техник в нашей совместной работе.</p>
      <img class="fullscreen__image" src="<%= asset_url('problem/Relationship.webp')%>" title="Консультирование в сфере взаимоотношений" alt="Консультирование в сфере взаимоотношений">
      <div class="fullscreen__shadow"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2>Как практически будет выглядеть наша работа</h2>
        <p>
          Вы записываетесь ко мне на консультацию, мы договариваемся о дате и месте. В назначенное время вы приходите в мой кабинет и мы начинаем работу. Либо, мы назначаем онлайн-консультацию и вы будете у себя дома, в безопасной обстановке, сидеть за компьютером, удобно расположившись в кресле, при этом мы будем видеть и слышать друг друга так, будто находимся совсем близко.
        </p>
        <p>
          Всё время консультации посвящено только вам. Это ваше время. Вы можете делать то, что пожелаете. Можете выговориться, рассказывать мне обо всем что наболело, можете кричать, ругаться матом или даже плакать. Я вас внимательно выслушаю, поддержу, задам уточняющие вопросы, объясню структуру ваших взаимоотношений с точки зрения научной психологии. В процессе работы мы будем анализировать ваши мысли, чувства и действия, учиться вести диалог, договариваться, говорить "нет" и т.д.
        </p>
        <p>
          Вы никому ничего не обязаны. В любое время мы можем остановится. Всё, что мы обсуждаем, будет строго конфиденциально. Когда вы радуетесь – я разделяю с вами эту радость, когда вы грустите – я поддерживаю вас и помогаю найти верное решение. Я безоценочен, мне не важно какие поступки вы совершали и насколько глупо выглядели при этом, моя задача – сделать так, чтобы вы улучшили свои взаимоотношения и научились конструктивно удовлетворять свои потребности. При этом меня не волнует какое именно решение вы примете, главное - чтобы оно Вас удовлетворяло.
        </p>
       </section>

      <table>
        <caption>Критерии наличия проблем в отношениях и критерии достижения результата</caption>
        <thead>
          <tr>
            <th scope="col">Проблемы с отношениями</th>
            <th scope="col">Результат консультаций</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Проблемы с отношениями">Непродуктивные отношения, конфликты в семье и на работе, насилие, ссоры, травля коллег.</td>
            <td data-label="Результат консультаций">Нормализация отношений или их завершение. Вы понимаете причину ссор и разногласий и сами принимаете решение как поступить.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Проблемы с отношениями">Неумение выстраивать отношения, договариваться, решать конфликты.</td>
            <td data-label="Результат консультаций">Способность договариваться, решать конфликты, отстаивать свою точку зрения.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Проблемы с отношениями">Страх отношений, измен, предательств. Одиночество. Комплексы.</td>
            <td data-label="Результат консультаций">Вы чувствуете спокойствие и уверенность рядом с партнером, понимаете, что "расставание - не приговор". Смело ищите себе вторую половинку, если это необходимо.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Проблемы с отношениями">Невозможность принять решение: уйти / смириться / попытаться вновь.</td>
            <td data-label="Результат консультаций">Вы приняли решение, основываясь на обстоятельствах, своих чувствах и ценностях. Морально готовы действовать.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Проблемы с отношениями">Непонимание своих чувств и эмоций.</td>
            <td data-label="Результат консультаций">Развитый эмоциональный интеллект. Вы понимаете свои эмоции, можете их описать, знаете причину их возникновения и что с ними нужно делать.</td>
          </tr>
          <tr>
            <td scope="row" data-label="Проблемы с отношениями">Накопленный негативный опыт, разочарование, потеря доверия.</td>
            <td data-label="Результат консультаций">Вы выговорились и получили поддержку. Осознали произошедшее и приняли свое прошлое. Восстановили доверие к людям.</td>
          </tr>
        </tbody>
      </table>

      <section>
        <h2>Методы работы с проблемами в отношениях</h2>
        <p>
          Вы чувствуете, что сами не справляетесь со своими отношениями или не понимаете причину происходящего. Далее, <a href="/Relationship-counseling.html#sign-up">записывайтесь</a> и приходите ко мне за психологической диагностикой и консультированием. В работе с отношениями я использую <a href="/STA.html">Системно-мыследеятельностный подход</a> и <a href="/Acceptance-and-Commitment-Therapy.html">Терапию принятия и ответственности</a>. Длительность работы может сильно варьироваться в зависимости от человека. В среднем, легкий вопрос решается за одну консультацию. Если для решения проблемы, в вашем случае, одной консультации недостаточно (например, у вас сильная ревность, отсутствие навыков коммуникации и решения проблем), то мы работаем дальше с каждой проблемой отдельно.
        </p>
        <p>
          <a href="/individual_consultation.html#First">Первая консультация</a> всегда посвящена детальному разбору вашего случая. Она состоит из 4-х основных этапов:<br>
          1. Диагностика. Выявление симптомов и психологических механизмов вашей проблемы;<br>
          2. Информирование. На схемах, метафорах и примерах показываю структуру вашего мышления и поведения, отвечаю на ваши вопросы;<br>
          3. Составление запроса и плана консультирования. Конечным и логичным итогом диагностики является формулировка запроса (описание проблемы и желаемого результата) и совместная разработка плана работы, с учетом всех ваших потребностей, финансового положения и вашего индивидуального случая;<br>
          4. Работа с проблемой.
        </p>
        <p>
          В конце консультации вы получаете:
        </p>
        <ul>
          <li><b>Стенографию</b> консультации в текстовом формате, которую можно перечитывать в любой момент;</li>
          <li><b>Мои личные контакты</b>. Возможность поддерживать со мной связь между сеансами для ответов на вопросы и корректировки домашнего задания. Вы даже можете вести дневник мыслей прямо в нашей с вами переписке, что будет увеличивать эффективность работы!</li>
          <li><b>Дополнительные материалы</b>. Текстовые, аудио- и видеофайлы для выполнения домашнего задания, развития навыков коммуникации, эмоционального интеллекта и осведомленности о своей проблеме.</li>
        </ul>
      </section>

      <section>
        <h2>Консультирование проблем в отношениях</h2>
        <p>
          Анализируем ваши отношения методом СМД, выявляем игру, в которую вы играете с людьми и вашу роль в ней. Понимаем причину проблемных отношений, создаем для вас новую роль, в которой вам было бы комфортно.
        </p>
        <p>
          Страхи и неуверенность. Разбираем, насколько ваше мышление влияет на общее эмоциональное и физическое состояние, конструктивны и объективны ли ваши убеждения, учимся мыслить критически. Техниками КПТ работаем с негативными мыслями, тренируемся откладывать беспокойство на потом, не бороться с мыслями, а смотреть на них отстраненно. Научаемся принимать свои эмоции, свое тело, быть готовыми действовать даже несмотря на негативные переживания. Для лучшего понимания своих чувств, развиваем эмоциональный интеллект (например, что-то едим и описываем свои ощущения задавая рефлексивные вопросы). Проводим стресс-консультации, на которых вам необходимо спорить со мной, отстаивать свою точку зрения, договариваться. Так мы увеличиваем вашу стрессоустойчивость.
        </p>    
        <p>
          В отношениях с другими - начинаем с себя. Для улучшения взаимоотношений повышаем ваши коммуникативные навыки техниками "ненасильственного общения", повышаем самооценку, решаем внутриличностные конфликты.
        </p>
        <p>
          В случае грусти, обиды на себя или партнера, за "зря потраченные годы" - анализируем объективность данных убеждений, занимаемся принятием и прощением себя (работа в воображении). Проходим все стадии принятия, восстанавливаем доверие к людям.
        </p>
        <p>
          С помощью техник майндфулнес и медитаций создаем внутренний образ себя. Развиваем осознанность и умение смотреть на события с разных точек зрения методом АВС-схемы. Это помогает принимать верные решения в самых сложных ситуациях.
        </p>
        <p>
          Техниками АСТ учимся самостоятельно находить собственные смыслы и ценности. Исходя их них выявляем промежуточные достижения (цели), прописываем порядок действий, возможные препятствия (негативные мысли, эмоции, обстоятельства) и методы их преодоления (психотехники).
        </p>
        <p>
          Тренируем технику СТОП, чтобы мочь в любой момент времени следовать своим ценностям, не смотря на возможные трудности. На основании выявленных событий, своих чувств и ценностей Вы принимаете собственное решение: уходить из отношений, продолжать пытаться их изменить или принять происходящее и жить дальше. Принять - значит прекратить сопротивление и перестать ощущать негативные эмоции по поводу какого-либо события, а не "терпеть".
        </p>
        <p>
          В конце, подводим итоги, собираем все техники вместе в папку "психологическая самопомощь". Вы научаетесь самостоятельно применять психотехники для изменения своего эмоционального состояния и решения конфликтов. Завершаем работу :)
        </p>
      </section>

    </div>
  </article>

  <div class="sign-up" id="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -10px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form">Запись на консультацию</h2>
        <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=+380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          По всем вопросам, звонить: +380964248025<br>Пн-Вс 10:00-20:00
        </p>
      </div>
    </div>
  </div>

</div>