<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Консультация психолога онлайн | Психотерапия по Скайп | Ткаченко Андрей</title>
  <meta name="description" content="Специалист с международным дипломом, член Ассоциации Позитивной Психотерапии в Украине. Оставьте Заявку на Сайте. 2-х часовая психотерапия сложных проблем.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Консультация психолога онлайн | Психотерапия по Скайп | Ткаченко Андрей">
  <meta property="og:description" content="Специалист с международным дипломом, член Ассоциации Позитивной Психотерапии в Украине. Оставьте Заявку на Сайте. 2-х часовая психотерапия сложных проблем.">
  <meta property="og:url" content="https://www.tkachenkoandrey.com/">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="https://tkachenkoandrey.com/assets/Tkachenko-Andrey-0ccd9afe47bf51522e172c3619a0dd1b97986605188615048acbc034288baecf.jpg">
<% end %>



<div class="about books">
  <div class="about__body books__body container">
    <div class="books__header  header_box">
      <h1 class="books__title title">Книги</h1>
      <p class="subtitle">
        Сможете разобраться с моей проблемой? Как записаться за консультацию? Как она будет проходить?<br>Ответы на эти и другие часто задаваемые вопросы вы найдете в этом разделе
      </p>
    </div>
    <div class="about__row">
      <div class="about__column_1">
        <div class="about__item">
          <img class="about__foto" src="<%= asset_url('Tkachenko-Andrey-psychologist.jpg')%>" alt="Ткаченко Андрей психолог">
        </div>
      </div>
      <div class="about__column_2">
        <div class="about__item">
          <h2 class="about__title title">Консультирование как деятельость</h2>
          <p class="about__text">Здравствуйте, друзья!
          Меня зовут Ткаченко Андрей, я практикующий психолог. 6 лет предоставляю услуги психологического консультирования и психотерапии. Имею официальное образование, являюсь членом Ассоциации Позитивной Психотерапии и в своей практике использую комбинации методов (КПТ, гипноз, позитивная психотерапия).</p>
          <h3 class="about__subtitle">Мой путь</h3>
          <p class="about__text">Для начала, я прошел свою личную терапию, получил официальное психологическое образование, а также обучился консультированию и нескольким современным направлениям психотерапии. Чтобы закрепить полученные знания на практике, я работал со взрослыми и детьми в психологических центрах, проводил индивидуальные консультации, лекции и тренинги.</p>
          <h3  class="about__subtitle">Моя миссия</h3>
          <p class="about__text">На моих консультациях я поддерживаю своих клиентов, аккуратно и безболезненно обучаю их справляться со своей жизнью самостоятельно, без врачей и таблеток. Данные навыки останутся с Вами на всю жизнь и помогут решать трудности в нашем быстроменяющемся мире.</p>
          <h3  class="about__subtitle">Мое образование и опыт</h3>
          <p class="about__text">Я окончил Днепровский Национальный Университет им. Олеся Гончара по специальности “Психология”, при универе организовывал группу по консультированию, прошел курсы повышения квалификции, был волонтером, работал в семейном цетре психологии, а также выступал экспертом в ряде изданий. Последние несколько лет веду частную практику.
          <div class="about__button">
            <a class="btn btn_sign-up" href="/about" style="display: inline-block;">СКАЧАТЬ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>