<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Транзактный анализ | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение сущности транзактного анализа с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Транзактный анализ | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение сущности транзактного анализа с практической точки зрения: какие проблемы решает, как проходит терапия, ее длительность и конечный результат.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Transactional-analysis">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/Tkachenko-Andrey-0ccd9afe47bf51522e172c3619a0dd1b97986605188615048acbc034288baecf.jpg">
<% end %>

<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container">
      <h1 class="article__name">Транзактный анализ</h1>
        <p class="pc" style="z-index: 1; background: var(--brown); padding: 25px; color: var(--white); font-weight: 400; margin: 5px 0; font-size: 1.17rem">
          В 60-70-хх годах был разработан метод анализа взаимодействия людей, который  помогает решать конфликты, и выстраивать комфортные отношения в семье и на работе. Имя ему – ТА.
        </p>
      <div class="fullscreen__image" style="background-image: url(<%= asset_url('10.jpg')%>)"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">




    </div>
  </article>

  <div class="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -10px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form">Запись на консультацию</h2>
        <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=+380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          По всем вопросам, звонить: +380964248025<br>Пн-Вс 10:00-20:00
        </p>
      </div>
    </div>
  </div>

</div>