<% content_for :head do %>
  <meta name="robots" content="index, follow">
  <title>Обучение | Психолог Ткаченко Андрей</title>
  <meta name="description" content="Краткое объяснение процесса обучения с практической точки зрения: как происходит, к каким результатам стремимся и какие методы для этого используем.">
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Обучение | Психолог Ткаченко Андрей">
  <meta property="og:description" content="Краткое объяснение процесса обучения с практической точки зрения: как происходит, к каким результатам стремимся и какие методы для этого используем.">
  <meta property="og:url" content="http://www.tkachenkoandrey.com/Training">
  <meta property="og:site_name" content="Психолог Ткаченко Андрей">
  <meta property="article:publisher" content="https://www.facebook.com/tkachenko.psychology/">
  <meta property="og:image" content="http://tkachenkoandrey.com/assets/Tkachenko-Andrey-0ccd9afe47bf51522e172c3619a0dd1b97986605188615048acbc034288baecf.jpg">
<% end %>


<div class="article">
  <div class="article__fullscreen fullscreen">
    <div class="article__fullscreen_content fullscreen_content container">
      <h1 class="article__name">Обучение</h1>
      <p class="article__description pc">Если вы это читаете, то, вероятно, вы интересуетесь собственным саморазвитием. Эта статья призвана кратко объяснить процесс обучения, как он выглядит на практике, к какому результату мы стремимся и какие методы для этого я использую.</p>
      <img class="fullscreen__image" src="<%= asset_url('problem/Training.jpg')%>" title="Обучение" alt="Обучение">
      <div class="fullscreen__shadow"></div>
    </div>
  </div>

  <article class="article__content">
    <div class="article__body container">
      <section>
        <h2>Каким техникам и навыкам я обучаю</h2>
        <ul>
          <li>релаксации</li>
          <li>постановки целей</li>
          <li>принятия решений</li>
          <li>стрессоустойчивости</li>
          <li>осознанности и медитации</li>
          <li>эмоционального интеллекта</li>
          <li>самонаблюдения и самоанализа</li>
          <li>коммуникации и решению конфликтов</li>
        </ul>
       </section>
      <section>
        <h2>Методы коучинга и тренинга</h2>
        <p>
          Вы записывайтесь ко мне на консультацию и в зависимости от запроса я подбираю для вас индивидуальный метод обучения исходя из ваших временных рамок, финансового положения и того, какой уровень владения навыка вам необходим.<br>В своей работе я использую все <a href="/methods.html">методы</a>, которыми я владею.
        </p>
        <h3>Помощь в принятии решений (+обучение)</h3>
        <p>
          Для верного решения необходимо провести четкий анализ разворачивающийся деятельности. Чтобы уметь анализировать происходящее - необходимо развивать мышление. И тем и другим занимается <a href="/STA.html" style="border-bottom: 1px solid currentColor;">СМД</a> (системно-мыследеятельностный подход). Рисуя схемы происходящего, мы можем объективно оценить события с разных точек зрения и принять наиболее эффективное решение из возможных.
        </p>
        <h3>Обучение стрессоустойчивости</h3>
        <p>
          Стресс в нашей жизни будет всегда, нам лишь необходимо научиться с ним справляться. Стресс активирует поток негативных мыслей, с которыми помогает справиться методы <a href="/Metacognitive-therapy.html">МКТ</a>, например, техника отстраненной осознанности. Эмоциональные всплески можно приручить техниками принятия. Чтобы не воспринимать события как негативные, мочь смотреть с позиции наблюдателя, есть техники осознанности и АВС-схема. Для выработки практического навыка управления своим состоянием тренируем технику "СТОП".
        </p>
        <h3>Обучение релаксации</h3>
        <p>
          Обучение релаксации проходит в несколько этапов: вначале внешние ресурсы применяются (предметы, вещи, места, люди), потом - внутренние ресурсы (владение своим телом, дыханием, вниманием и воображением). Для быстрого расслабления, лучшего засыпания подойдет аутотренинг, прогрессивная мышечная релаксация Джекобсона и техники расслабленного диафрагмального дыхания вместе с движением глаз.  Чтобы полностью владеть собой, придуман метод Прикладной релаксации. В совокупности с улучшением образа жизни, качественным отдыхом, конструктивным режимом дня и развитием эмоционального интеллекта достигается стойкий навык релаксации.
        </p>
        <h3>Постановка целей, выявление / формирование ценностей и смыслов</h3>
        <p>
          Иметь смысл жизни, цели и ценности крайне важно для гармоничной и полноценной жизни каждого человека. Для постановки целей используется метод целеполагания из СМД (анализируем деятельность и с рефлексивной позиции смотрим на себя, находим личный интерес). Для работы с ценностями используется метод <a href="/Acceptance-and-Commitment-Therapy.html">АСТ</a>: формируем позицию "наблюдающего я", осознаем себя как автора и причину происходящего, как того, кто лично заинтересован получать какой-то опыт в разных сферах своей жизни. В идеале, необходимо выявить ценности и уже на их основе создавать цели. То есть, наслаждаясь процессом, можно и цели не забывать себе ставить!
        </p>
        <h3>Самонаблюдение и самоанализ</h3>
        <p>
          Не обязательно постоянно обращаться к психологам за консультацией. Можно самостоятельно замечать за собой "баги" психики и понимать их причины. Методов уйма, здесь можно жонглировать техниками: АВС-схема, рефрейминг, рефлексия по СМД, когнитивная реструктуризация, "Наблюдающее Я" из АСТ, выявление игры и ролей в СМД. Я подберу лично для вас метод самоанализа, который будет подходить именно к вашему случаю, и научу вас самостоятельно его применять.
        </p>
        <h3>Эмоциональный интеллект</h3>
        <p>
          Без эмоций человек - не человек. Начать понимать свои чувства и потребности, разрешить себе реализовывать их, выработать навык измерения интенсивности чувств, чтобы научиться разумно удовлетворять свои потребности - вот важные составляющие эмоционального интеллекта, который можно развить. Обучение происходит сразу с нескольких направлений: убирание блоков, которые мешают чувствам быть и развитие навыков осознанности, через тот самый рефрейминг и техники самоанализа. Для избавления от блоков, зажатостей и прочей психосоматики, иногда требуется применение <a href="/Hypnotherapy.html">гипнотерапии</a>.
        </p>
        <h3>Навыки коммуникации</h3>
        <p>
          В современном мире, тот кто умеет находить общий язык с людьми - может достичь любых высот. Чтобы научиться эффективно общаться, нужно понимать контекст, какая именно "игра" сейчас разворачивается между людьми - это удел транзактного анализа (я анализирую ваши взаимоотношения, объясняю смысл своих рефлексивных вопросов и за пару консультаций вы перенимаете данный навык). Чтобы научиться не создавать лишний раз конфликты, существует метод ненасильственного общения Маршалла Розенберга, а для решения конфликтов существуют техники медиаторства (нахождения компромиса), принципы ассертивного поведения (поведения "уверенного в себе человека", где уровень агрессии плавно повышается). Закрепляем навыки на практике: проводим стресс-консультации с вами (спорим, конфликтуем), после чего вы отшлифовываете навык в повседневной жизни.
        </p>
        <h3>Обучение осознанности и медитации</h3>
        <p>
          Наше внимание часто блуждает то в прошлом, то в будущем, поэтому мы мало живем в настоящем. Осознанность позволяет жить в полном смысле этого слова, а не просто автоматически реагировать выученным способом. Развивать свое внимание на текущем моменте мы начинаем с техник работы с мыслями, учимся отстраняться от собственных мыслей, чувств и действий, научаемся задавать себе рефлексивные вопросы (вопросы на понимание), тренируем переключаемость и объем внимания, научаемся по сигналу включать осознанность, когда это необходимо. При желании глубоко развить навык, обучаемся медитации по 8-ми недельному курсу <a href="/Mindfulness.html">Майндфулнесс</a>.
        </p>
      </section>

    </div>
  </article>

  <div class="sign-up" id="sign-up" style="position: relative; background: var(--background-body); z-index: 10; margin-top: -10px;">
    <div class="sign-up__body container">
      <div class="sign-up__item">
        <h2 class="sign-up__title title" id="client_form">Запись на консультацию</h2>
        <p class="sign-up__text">Напишите мне в мессенджер. В течение 24 часов я вам отвечу, проанализирую вашу ситуацию и мы вместе согласуем наши дальнейшие действия.</p>
        <div class="sign-up__btn-row">
          <a class="btn btn_contact" href="https://t.me/tkachenko_psychology" target="_blank">Telegram</a>
          <a class="btn btn_contact" href="viber://chat?number=+380964248025" target="_blank">Viber</a>
          <a class="btn btn_contact" href="https://wa.me/380964248025" target="_blank">WhatsApp</a>
        </div>
        <p class="sign-up__text pc">
          По всем вопросам, звонить: +380964248025<br>Пн-Вс 10:00-20:00
        </p>
      </div>
    </div>
  </div>

</div>