<div class="pc_content">
  <div class="container">
    <h1 style="text-align: center; font-weight: 800; font-size: 3vw; margin: 5vw 0px 6vw 0vw">Мои направления работы</h1>

    <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
      <div class="problem_box">
        <a href="Relationship counseling.html" style="text-decoration: none; color: inherit;">
          <img src="/assets/problem/relationship.svg" class="problem_icon">
          <h3 class="problem_name">Улучшение взаимоотношений</h3>
        </a>
        <p class="problem_text">
          Помощь в принятии сложных решений, устранение конфликтов в семье и в коллективе. Работа с чувством одиночества, страхом отношений, изменами, ревностью, насилием. Развитие навыков коммуникации.
        </p>
      </div>

      <div class="problem_box">
        <a href="Psychotherapy of neuroses.html" style="text-decoration: none; color: inherit;">
          <img src="/assets/problem/neurosis.svg" class="problem_icon">
          <h3 class="problem_name">Психотерапия неврозов и психосоматики</h3>
        </a>
        <p class="problem_text">
          Устранение раздражительности, ранимости, вины, стыда, обиды, злости, ВСД, проблем со сном, аппетитом, повышенной утомляемости, мышечных болей и прочей психосоматики.
        </p>
      </div>

      <div class="problem_box">
        <a href="Psychotherapy of anxiety.html" style="text-decoration: none; color: inherit;">
          <img src="/assets/problem/anxiety.svg" class="problem_icon">
          <h3 class="problem_name">Избавление от тревоги</h3>
        </a>
        <p class="problem_text">
          Генерализованное тревожное расстройство, тревожные мысли, предчувствия, мышечное напряжение, беспокойный сон , частая тревога по поводу и без, беспокойство о множестве вещей.
        </p>
      </div>

      <div class="problem_box">
        <a href="Psychotherapy of psychotrauma.html" style="text-decoration: none; color: inherit;">
          <img src="/assets/problem/psychological_trauma.svg" class="problem_icon">
          <h3 class="problem_name">Избавление от глубинных психотравм</h3>
        </a>
        <p class="problem_text">
          Работа с последствиями сильного или длительного стресса. Помощь с детскими психотравмами, потерей близких, разлукой, потерей бизнеса, денег. Помощь в случаее насилия в семье и на работе, после преступлений, изнасилования. катастроф, несчастных случаев.
        </p>
      </div>

      <div class="problem_box">
        <a href="OCD psychotherapy.html" style="text-decoration: none; color: inherit;">
          <img src="/assets/problem/OCD.svg" class="problem_icon">
          <h3 class="problem_name">Психотерапия навязчивостей</h3>
        </a>
        <p class="problem_text">
          Работа с навязчивыми мыслями и действиями (ОКР): мысли о нанесении вреда родственникам, частые перепроверки (закрыты ли двери), мытье рук, чистка выщей, компуливный счет, перешагивания.
        </p>
      </div>

      <div class="problem_box">
        <a href="Low self-esteem psychotherapy.html" style="text-decoration: none; color: inherit;">
          <img src="/assets/problem/self-esteem.svg" class="problem_icon">
          <h3 class="problem_name">Повышение самооценки</h3>
        </a>
        <p class="problem_text">
          Избавление от самообвинений, сравнений себя с другими, непринятия своей внешности, комплиментов, нерешительности. Работа с установками “Я не смогу”, “Я не достоин”.
        </p>
      </div>

      <div class="problem_box">
        <a href="Psychotherapy of depression.html" style="text-decoration: none; color: inherit;">
          <img src="/assets/problem/depression.png" class="problem_icon">
          <h3 class="problem_name">Психологическая помощь при депрессии</h3>
        </a>
        <p class="problem_text">
          Избавление от депрессии, апатии, грусти, печали, подавленности, ощущения того, что ничего не радует. Проработка пессимистичных мыслей, повышение концентрации внимания и активности.
        </p>
      </div>

      <div class="problem_box">
        <a href="Psychotherapy for panic disorder.html" style="text-decoration: none; color: inherit;">
          <img src="/assets/problem/PD.svg" class="problem_icon">
          <h3 class="problem_name">Избавление от панических атак</h3>
        </a>
          <p class="problem_text">
            Работа с приступами страха, паники, удушья. Преодоление страха умереть, сойти с ума, опозориться. Избавление от симптомов: дрожь, пот, головокружение, тахикардия, озноб, онемение, покалывание.
          </p>
      </div>

      <div class="problem_box">
        <a href="Coaching and training.html" style="text-decoration: none; color: inherit;">
          <img src="/assets/problem/coaching.svg" class="problem_icon">
          <h3 class="problem_name">Коучинг и обучение</h3>
        </a>
          <p class="problem_text">
            Помощь в принятии сложных решений. Обучение стрессоустойчивости, релаксации, методу принятия решений, постановки целей, самонаблюдения, самоанализа, коммуникации, осознаности.
          </p>
      </div>
    </div>
  </div> <!--конец container-->
