<div class="category">
  <ul style="padding: 0px">
    <li><a href="/articles">Все статьи</a></li>
    <li id="sub_category">
      <a href="">
        <div style="display: flex; justify-content: center; align-items: center;">
          <span>Проблемы</span>
          <img src="<%= asset_url('arrow-category.svg')%>" alt="стрелка подкатегории" class="category_arrow">
          <img src="<%= asset_url('arrow.svg')%>" alt="стрелка подкатегории" class="category_arrow_hover">
          <img src="<%= asset_url('arrow-category.svg')%>" alt="стрелка подкатегории" class="category_arrow_hover_sub">
        </div>
      </a>
      <ul class="sub_category">
        <li><a href="/articles?category_id=7">Невроз и психосоматика</a></li>
        <li><a href="/articles?category_id=8">Тревога</a></li>
        <li><a href="/articles?category_id=13">Навязчивости (ОКР)</a></li>
        <li><a href="/articles?category_id=14">Низкая самооценка</a></li>
        <li><a href="/articles?category_id=15">Психотравмы</a></li>
        <li><a href="/articles?category_id=9">Депрессия и уныние</a></li>
        <li><a href="/articles?category_id=11">Панические атаки</a></li>
      </ul>
    </li>
    <li><a href="/articles?category_id=2">Психология отношений</a></li>
    <li><a href="/articles?category_id=3">Общая психология</a></li>
    <li><a href="/articles?category_id=4">Исследования</a></li>
    <li><a href="/articles?category_id=5">Саморазвитие</a></li>
    <li><a href="/articles?category_id=6">Для профи</a></li>
  </ul>
</div>
