 <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="float:left; margin: 5px">
	Каталог статей
</a>

<%= yield :filters %>

<%= render partial: '/layouts/search'%>
<%= yield :buttons %>