 <a class="btn btn-primary cat_btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="float:left; margin: 5px; ">
	Каталог статей
</a>

<%= yield :filters %>

<%= render partial: '/layouts/search'%>
<%= link_to 'New Article', new_article_url, class: "btn btn-success", style: "float: right" %>