%h5 Приемные дни:

%h6 Пн - Вс 10:00 - 21:00 по киевскому времени. Длительность консультации - 2 часа.

.card.card-body{style: 'height: 568px; width:768px'}
  = '<iframe name="htmlComp-iframe" scrolling="auto" sandbox="allow-same-origin allow-forms allow-popups allow-scripts allow-pointer-lock" src="https://andreadetotti-wixsite-com.filesusr.com/html/f921c5_0a981deed5d228915a94f2cd9764a287.html" width="100%" height="100%"></iframe>'.html_safe