<h3 class="ml-5"> Чтобы попасть на консультацию: </h3>
<div class="" id="consult_panel">
  <div class="conteiner" style="height: 50px; clear: top;">
    <div class="card   cl_fr_btn" >
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-consult" type="button" data-target="collapseConsultOne" aria-expanded="true" aria-controls="collapseOne">
            Шаг первый
          </button>
        </h2>
      </div>
    </div>

    <div class="card   cl_fr_btn" >
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-consult" type="button" data-target="collapseConsultTwo" >
            Шаг второй
          </button>
        </h2>
      </div>
     
    </div>
    <div class="card   cl_fr_btn">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-consult" type="button" data-target="collapseConsultThree" >
            Шаг третий
          </button>
        </h2>
      </div>
      
    </div>
    <div class="card   cl_fr_btn">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-consult" type="button" data-target="collapseConsultFour" >
            Шаг 4-й
          </button>
        </h2>
      </div>
      
    </div>
  </div>
  <div class="conteiner" style="height: 750px; clear: top;">
    <div id="collapseConsultOne" class="collapse-consult" >
      <div class="card-body step-deep-30" style="">
        <img class="img-fluid" src="/assets/about/form4.gif" style="border: 2px solid lightgray; margin-left: -19px"> </img>
      </div>
    </div>

    <div id="collapseConsultTwo" class="collapse-consult">
      <div class="card-body step-deep-30" style="width: 780px; margin-left: 10px; ">
        Ознакомьтесь со списком услуг и стоимостью.
        <br/>
        <br/>
        <%- if @services.nil? %>
          На данный момент нет активных сервисов.
        <%- else%>
          <%= render partial: '/pages/services_min_cards' %>
        <% end %>
      </div>
    </div>

    <div id="collapseConsultThree" class="collapse-consult" >
      <div class="card-body step-deep-30">
        Прочтите договор на предоставление психологических услуг.
        <br/>
        <br/>
        <%= render partial: '/pages/contract_body' %>
      </div>
    </div>

    <div id="collapseConsultFour" class="collapse-consult" >
      <div class="card-body step-deep-30">
        Выберите в календаре свободное время для проведения консультации 
        <br/>
        или оставьте заявку и мы обязательно с вами свяжемся
        <br/>
        <%= render partial: '/pages/calendar'%>
      </div>
    </div>
  </div>

</div>