<h3 class="ml-5"> Чтобы попасть на консультацию: </h3>
<div class="" id="consult_panel">
  <div class="conteiner" style="height: 50px; clear: top;">
    <div class="card   cl_fr_btn" >
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-consult" type="button" data-target="collapseConsultOne" aria-expanded="true" aria-controls="collapseOne">
            Шаг первый
          </button>
        </h2>
      </div>
    </div>

    <div class="card   cl_fr_btn" >
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-consult" type="button" data-target="collapseConsultTwo" >
            Шаг второй
          </button>
        </h2>
      </div>
     
    </div>
    <div class="card   cl_fr_btn">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-consult" type="button" data-target="collapseConsultThree" >
            Шаг третий
          </button>
        </h2>
      </div>
      
    </div>
    <div class="card   cl_fr_btn">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-consult" type="button" data-target="collapseConsultFour" >
            Шаг четвертый
          </button>
        </h2>
      </div>
      
    </div>
  </div>
  <div class="conteiner" style="height: 750px; clear: top;">
    <div id="collapseConsultOne" class="collapse-consult" >
      <div class="card-body step-deep-30" style="">
        Напишите свое имя, E-mail, телефон и проблему, которую хотите решить.   
        <br/>
        ЛИБО напишите мне напрямую в мои мессенджеры и соц.сети.
        <br/>
        <img class="img-fluid" src="/assets/about/form4.gif" style="border: 2px solid lightgray; margin-left: -19px"> </img>
      </div>
    </div>

    <div id="collapseConsultTwo" class="collapse-consult">
      <div class="card-body step-deep-30" style="width: 780px; margin-left: 10px; text-align: center">
        <font style="float: left;"> Выберите услугу.</font>
        <br/>
        <font style="float: left;">Если хотите, чтобы я вам перезвонил - выбирайте "Предварительная консультация".</font>
        <br/>
        <br/>
        <%- if @services.nil? %>
          На данный момент нет активных сервисов.
        <%- else%>
          <%= render partial: '/pages/services_min_cards' %>
        <% end %>
      </div>
    </div>

    <div id="collapseConsultThree" class="collapse-consult" >
      <div class="card-body step-deep-30">
        Прочтите договор и поставьте галочку "С договором на предоставление психологических услуг ознакомлен и согласен".
        <br/>
        <br/>
        <%= render partial: '/pages/contract_body' %>
      </div>
    </div>

    <div id="collapseConsultFour" class="collapse-consult" >
      <div class="card-body step-deep-30">
        Ознакомьтесь с моим свободным временем, когда я могу Вас принять. Выберите  
        <br/>
        дни недели и время, когда Вам удобно провести консультацию со мной. 
        <br/>
        Отправьте заявку. В течении 24 часов я Вам перезвоню.
        <br/>
        <%= render partial: '/pages/calendar'%>
      </div>
    </div>
  </div>

</div>