<%- width = defined?(on_forn).nil? ? "height: 600px;" : "height: 900px;" %>
<div >
  <div class="card" style="border: 1px solid rgba(0, 0, 0, 0.125)">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0" style="text-align: center">
        <button class="btn btn-link contract_button" type="button" style=" text-decoration: none; color: #009D91; " >
          <h3> ДОГОВОР НА ПРЕДОСТАВЛЕНИЕ ПСИХОЛОГИЧЕСКИХ УСЛУГ </h3>
        </button>
      </h5>
    </div>
  </div>
</div>
