<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          1. Установление контакта и проговаривание правил консультации.
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Первичное знакомство уже произошло, когда мы договаривались о консультации. На первой консультации происходит установление и поддержание контакта. Контакт есть, когда психолог и клиент хотят слышать и понимать друг друга, и реализуют это желание. Психолог проговаривает основные правила консультации, рассказывает как проходит работа психолога и предлагает клиенту ввести свои дополнительные правила, чтоб ему было комфортно.
		РЕЗУЛЬТАТ: клиент чувствует себя комфортно и безопасно. Это почва для дальнейшей работы.

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          2. Выслушивание клиента.
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Клиент "выговаривается", если это требуется. Всё внимание психолога сконцентрировано на рассказе клиента, он активно слушает и задает уточняющие вопросы, проявляет эмпатию и сострадание (если это требуется).
		РЕЗУЛЬТАТ: таким образом происходит установление доверительных отношений, клиент расслабляется, у него расширяется понимание себя, происходит начало осознания сути проблемной ситуации.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          3. Диагностика
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        3.1. Основной блок диагностических вопросов
		Психолог задает клиенту ряд общих вопросов для выяснения текущего состояния, есть ли противопоказания к психотерапии, какие есть установленные диагнозы и т.п. 
		РЕЗУЛЬТАТ: психолог узнает общую информацию о клиенте и принимает решение, если ли у него компетенция для работы с данным клиентом или нужно передать его другим специалистам (психологу/психиатру, неврологу, эндокринологу и т.п.).

    	3.2. Анализ ситуации клиента. 

		Клиент описывает волнующую его ситуацию, а психолог проводит ее мыслительный анализ, задает уточняющие вопросы, разбирается в фактах, выясняет внутреннюю картину клиента (как клиент понимает свою проблему и как ее переживает), выясняет все текущие симптомы, восстанавливает цепь событий предшествующих появлению проблемы, выясняет ход течения проблемы, возможные причины и объективную картину жизненной и личной ситуации клиента.
		РЕЗУЛЬТАТ: Клиент осознают причинно-следственные связи возникновения проблемной ситуации, причины поведения других людей и собственные модели мышления и поведения.
	    3.3. Информирование.
		Параллельно с анализом ситуации, психолог проводит "психообразование", информирует клиента о возможных причинах, механизмах и общей психологической составляющей данной ситуации клиента, дает возможный прогноз на будущее и необходимые рекомендации.

		РЕЗУЛЬТАТ: Клиент узнает как функционирует его психика и структуру его взаимоотношений с людьми, является это "нормой" или нет, каков прогноз на будущее (если ничего не менять) и какие есть методы избавления от подобных механизмов мышления и поведения.

	    3.4. Формулирование запроса.
		С помощью информирования, клиент понимает, что в его ситуации является проблемой, а что является естественной нормой, поэтому легко формулирует точное описание имеющиеся у него проблемы и образ желаемого результата - общей цели консультирования.
		РЕЗУЛЬТАТ: клиент имеет четкое представление о своей проблеме и того, чего он хочет достичь.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          4. Продумывание курса психотерапии.
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Психолог вместе с клиентом разрабатывают план того, что должен делать клиент для достижения желаемого результата. 

		РЕЗУЛЬТАТ: клиент имеет четкое представление о том, как будет проходить процесс избавления от проблемы.

		    4.1. Подготовка к работе, поддержка.

		На этом этапе часто наблюдается сопротивление клиента, у него возникают страхи, открываются новые убеждения об опасности/неконтролируемости/неизбежности происходящего с ним, либо наоборот о пользе данных проблем для клиента (вторичная выгода). Психолог работает с данными убеждениями, поддерживает клиента и морально подготавливает его к предстоящей работе.

		РЕЗУЛЬТАТ: У клиента возникает уверенность в себе и в своих силах.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          5. Работа с проблемой
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Основной этап. Направление и содержание работы определяется как запросом клиента, так и видением психолога. Психолог применяет специальные диалоговые и поведенческие техники направленные на работу с эмоциями, мыслями, поведением клиента и анализом его взаимоотношений с другими людьми. Подробнее о методах работы

		РЕЗУЛЬТАТ: Клиент чувствует облегчение своего эмоционального и физического состояния, осознает свое место и роль в жизненной ситуации, а также берет ответственность за происходящее с ним. С помощью психолога, клиент осознает какое именно решение ему стоит принять в данной ситуации, чтоб чувствовать себя максимально комфортно в будущем.

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          6. Домашнее задание
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Консультация - лишь подготовка того, что должно быть продолжено в жизни. Это выработка тех навыков и тех смыслов, которые следует реализовывать в дальнейшем. Психолог помогает клиенту поставить себе задачи на будущее и дает задание (что нужно делать после консультации).
		РЕЗУЛЬТАТ: проверка новых моделей поведения и стиля мышления. Все ли устраивает, получается ли реализовать те решения, которые были приняты на консультации.

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          7. Завершение консультации
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Психолог резюмирует все то, что было сделано на консультации, проверяет, понял ли клиент, что ему нужно сделать дома, нет ли сомнений, страхов, дает необходимую мотивацию, поддержку и установку на позитив. 
		РЕЗУЛЬТАТ: клиент уходит домой в ресурсном состоянии (спокойно, бодро, уверенно).
      </div>
    </div>
  </div>
</div>