<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          1. Установление контакта и проговаривание правил консультации
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Первичное знакомство уже произошло, когда мы договаривались о консультации. На первой встрече происходит установление и поддержание контакта. Контакт есть, когда психолог и клиент хотят слышать и понимать друг друга, и реализуют это желание. Психолог проговаривает основные правила и принципы своей работы, рассказывает как проходит процесс консультирования и предлагает клиенту ввести свои дополнительные правила.
        <br/>
        РЕЗУЛЬТАТ: клиент чувствует себя комфортно и безопасно. Это почва для дальнейшей работы.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          2. Выслушивание клиента
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Клиент "выговаривается". Все внимание психолога сконцентрировано на рассказе клиента, он безоценочно воспринимает сказанное, активно слушает и задает уточняющие вопросы, проявляет эмпатию и сострадание, либо разделяет с клиентом его положительные эмоции (если это требуется).
        <br/>
        РЕЗУЛЬТАТ: таким образом, происходит установление доверительных отношений. Клиент начинает осознавать суть своей проблемной ситуации (за счет проговаривания всего того, что беспокоит и обратной связи психолога). Возникает приятное чувство доверия и товарищества, ведь вас понимают, а не оценивают или осуждают.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          3. Диагностика
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        3.1. Основной блок диагностических вопросов
        <br/>
		    Психолог задает клиенту ряд общих вопросов для выяснения текущего состояния и того, есть ли противопоказания к психотерапии, какие есть установленные диагнозы и т.п.
        <br/>
        РЕЗУЛЬТАТ: психолог узнает общую информацию о клиенте и принимает решение, есть ли у него компетенция для работы с данным случаем, либо нужно обратиться к другим специалистам (психологу/психиатру, неврологу, эндокринологу и т.п.).
        <br/>
        <br/>
        3.2. Анализ ситуации клиента
        <br/>
		    Клиент описывает волнующую его ситуацию, а психолог проводит ее мыслительный анализ, задает уточняющие вопросы, разбирается в фактах, выясняет внутреннюю картину проблемы (как человек воспринимает происходящее и как реагирует на ситуацию), выявляет все текущие жалобы, восстанавливает цепь событий, предшествующих появлению проблемы, выясняет динамику развития симптомов, возможные причины и объективную картину жизненной и личной ситуации клиента. Полученные данные заносятся в диагностические таблицы и стенографию.
        <br/>
        РЕЗУЛЬТАТ: клиент осознает причинно-следственные связи возникновения проблемной ситуации, причины поведения других людей и собственные модели мышления и поведения.
        <br/>
        <br/>
	      3.3. Информирование
        <br/>
		    Параллельно с анализом ситуации, психолог информирует клиента о возможных причинах, механизмах и общей психологической составляющей данной проблемной ситуации, дает возможный прогноз на будущее и необходимые рекомендации.
        <br/>
        РЕЗУЛЬТАТ: клиент узнает как функционирует его психика и структуру его взаимоотношений с людьми, является это "нормой" или нет, каков прогноз на будущее (если ничего не менять) и какие есть методы избавления от подобных механизмов мышления и поведения.
        <br/>
        <br/>
	      3.4. Формулирование запроса
        <br/>
		    С помощью информирования, клиент понимает, что в его ситуации является проблемой, а что - естественной нормой, поэтому легко формулирует точное описание имеющиеся у него проблемы и образ желаемого результата - общей цели консультирования.
        <br/>
        РЕЗУЛЬТАТ: клиент имеет четкое представление о своей проблеме и того, чего он хочет достичь.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          4. Создание курса психотерапии
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        4.1. Составление плана
        <br/>
        Отвечаем на вопросы: «что должен делать клиент для достижения желаемого результата?», «какой метод психотерапии необходимо использовать?». Курс терапии создается на основе диагностики, финансовых возможностей клиента, обстоятельств его ситуации и того, в какие сроки нужно получить результат.
        <br/>
        РЕЗУЛЬТАТ: клиент имеет четкое представление о том, как будет проходить процесс избавления от проблемы.
        <br/>
        <br/>
        4.2. Подготовка к работе, поддержка
        <br/>
        На этом этапе часто наблюдается сопротивление клиента, у него возникают страхи, открываются новые убеждения об опасности/неконтролируемости/неизбежности происходящего с ним, либо наоборот о пользе данных проблем (вторичная выгода). Психолог работает с данными убеждениями, поддерживает клиента и морально подготавливает его к предстоящей работе.
        <br/>
        РЕЗУЛЬТАТ: у клиента возникает уверенность в себе и в своих силах, готовность к изменениям.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          5. Работа с проблемой
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Основной этап. Направление и содержание работы определяется как запросом клиента, так и видением специалиста. Психолог применяет диалоговые и поведенческие техники направленные на работу с эмоциями, мыслями, поведением клиента и анализом его взаимоотношений с другими людьми. Подробнее о методах работы.
        <br/>
        РЕЗУЛЬТАТ: клиент чувствует облегчение своего эмоционального и физического состояния, осознает свою роль в сложившейся ситуации, берет ответственность за происходящее с ним. С помощью психолога, клиент осознает какое именно решение ему стоит принять в данной ситуации, чтоб чувствовать себя максимально комфортно в будущем.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          6. Подведение итогов
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Психолог проговаривает и анализирует вместе с клиентом все то, что было на консультации. Оценивают исходный план и полученный результат.
        <br/>
        РЕЗУЛЬТАТ: клиент осознает что и какими методами было реализовано, понимает, какое знание, озарение или достижение стало для него сегодня самым важным и ценным приобретением.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          7. Домашнее задание
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Консультация - лишь подготовка к тому, что должно быть реализовано в жизни. Психотерапевтическое ДЗ – это список рекомендуемых действий для изменения мышления и поведения, выработки новых навыков и убеждений, проверки полученных результатов, которые следует выполнять между консультациями. ДЗ составляется совместными усилиями клиента и психолога.
        <br/>
        РЕЗУЛЬТАТ: проверка новых моделей поведения и стиля мышления. Все ли устраивает, получается ли реализовать те решения, которые были приняты на консультации.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          8. Завершение консультации
        </button>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Психолог проверяет понял ли клиент, что ему нужно сделать дома, нет ли сомнений, страхов, дает необходимую мотивацию, поддержку и установку на позитив.
        <br/>
        РЕЗУЛЬТАТ: клиент уходит домой в ресурсном состоянии (спокойно, бодро, уверенно).
      </div>
    </div>
  </div>
</div>