.collapse.multi-collapse#multiCollapseExample2{style: "padding-right: 15px;" }
  .card{style: "width: 100%; margin-bottom: 6px; margin-top: 7px"}
    .card-body
      %h5.card-title
        Практикующий психолог
      %h6.card-subtitle.mb-2.text-muted
        Центр практической психологии "Диалог"
      %p.card-text
        2018 сен - сегодня
  .card{style: "width: 100%; margin-bottom: 6px" }
    .card-body
      %h5.card-title
        Детский психолог
      %h6.card-subtitle.mb-2.text-muted
        Центр семейной психологии "Мир Инсайт"
      %p.card-text
        2016 фев - 2018 авг
  .card{style: "width: 100%; margin-bottom: 6px"}
    .card-body
      %h5.card-title
        Психолог-эксперт
      %h6.card-subtitle.mb-2.text-muted
        Женский журнал clutch.ua
      %p.card-text
        2018 ноя  - сегодня
  .card{style: "width: 100%; margin-bottom: 6px"}
    .card-body
      %h5.card-title
        Психолог-лектор
      %h6.card-subtitle.mb-2.text-muted
        Центр "Мозгология"
      %p.card-text
        2017 янв - 2018 авг