<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Можете ли вы мне помочь с моей проблемой?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        На сайте есть раздел 
        <a href="" >
          С чем я работаю
        </a>
        , там описаны основные виды проблем, с которыми я могу Вам помочь справиться. Конечно, это лишь малая часть того, с чем я работаю. 
        <a href="" >
          Напишите мне
        </a>
        , расскажите свой уникальный случай, и я Вам помогу!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Какие гарантии результата работы вы даете?
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <ul>
          <li>
            Гарантировать Вам 100% результат не могут даже в больнице. Механизмы работы психики устроены таким образом, что для каких-либо изменений требуется личное желание самого человека, а также действия в виде выполнения домашнего задания и техник на консультации. Кроме того, каждый человек индивидуален, кому-то для изменений потребуется больше времени и успеем ли мы за время нашей работы достичь результата, зависит от многих факторов: насколько сложная проблема, насколько развиты Ваши способности к самоанализу и эмоциональный интеллект, насколько Вы доверяете психологу и говорите ему всю правду и т.д;
          </li><li>
            В консультировании я беру на себя 50% ответственности за результат. Я гарантирую профессиональный подход в работе, мое искреннее желание помочь, доброжелательность, конфиденциальность и 100% моего внимания лично Вам во время консультации;
          </li><li>
            Гарантией моего профессионализма являются дипломы о моем образовании, мой опыт работы, отзывы клиентов, мой персональный контент на сайте;
          </li><li>
            Чтобы наша работа была максимально эффективной, для начала Вам следует пройти обследование у врача (если Ваша проблема касается эмоций, психосоматических проблем или иных расстройств), на консультации быть максимально открытым и без страха говорить обо всем что беспокоит, а после консультации выполнять все домашние задания;
          </li><li>
            По моим подсчетам (которые я веду с самого начала своей личной практики), клиенты, которые прошли у меня полноценную терапию (8-10 консультаций и более) – в 84% процентов случаев получили желаемый результат. Готовы ли Вы работать с такой долей вероятности получения положительного результата или Вам нужны сказки про 100% от Гуру-психологов? Решать только Вам:)
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Насколько эффективны онлайн-консультации?
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Методом диагностики и работы психолога является специально выстроенный диалог, а значит консультации можно проводить как очно в кабинете, так и онлайн. Если Вы не хотите обнимать, нюхать, пробовать на вкус психолога, то онлайн-консультации как раз для Вас! Онлайн-консультации дешевле и удобнее как для психолога, так и для самого клиента.
        Если говорить на чистоту:
        <ul>
          <li>
            Если проблема касается мелких бытовых вопросов («что в таких случаях делают?», «нормально ли это?»), то консультации можно проводить даже по переписке в мессенджерах.
          </li><li>
            Если вопрос касается отношений и не затрагивает работу с эмоциями, то можно проводить консультации по телефону без видеосвязи (но, конечно, желательно с видеосвязью).
          </li><li>
            Если вопрос касается неврозов, панических атак, депрессий и прочих сложных проблем, то здесь обязательна видео- и аудио-связь во время консультаций.
          </li><li>
            Если видео-связь будет не очень качественной – не страшно. Если аудио-связь будет плохой (Вас будет очень плохо слышно) – эффективность консультации будет снижаться.
          </li>
        </ul>
        Если придерживаться данных правил, то эффективность онлайн-консультаций будет не уступать очным встречам в кабинете.
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="heading4">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
          Сколько потребуется консультаций?
        </button>
      </h5>
    </div>
    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
      <div class="card-body">
        В разделе 
        <a href="" >
          С чем я работаю
        </a>
        , Вы найдете список основных проблем и перейдя по одной из них, Вы узнаете сколько консультаций в среднем требуется для решения данной проблемы.
        Если обобщить, то:
        <ul>
          <li>
            Простые бытовые вопросы решаются за 1 консультацию;
          </li><li>
            Проблемы с отношениями в семье или на работе можно решить за 1-5 консультаций;
          </li><li>
            Вопросы невротического характера: вина, стыд, обида, страх и прочие не очень сложные проблемы можно решить за 3-5 консультаций;
          </li><li>
            Депрессии, панические атаки, тревожность можно убрать за 8-10 консультаций, если проблема не сложная;
          </li><li>
            Низкую самооценку («я всегда такой была»), сложные неврозы, психосоматику и другие тяжелые случаи можно изменить за 10 и более консультаций.
          </li>
        </ul>
        Каждый человек индивидуален, кому-то для изменений потребуется больше времени, кому-то меньше, это зависит от многих факторов: насколько сложная проблема, насколько развиты Ваши способности к самоанализу и эмоциональный интеллект, насколько Вы доверяете психологу и говорите ему всю правду и т.д.
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="heading5">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
          Как проходит консультация?
        </button>
      </h5>
    </div>
    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
      <div class="card-body">
        Процесс консультации детально описан на странице 
        <a href="#">
          Консультации.
        </a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading6">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
          Что я, как клиент, почувствую на консультации?
        </button>
      </h5>
    </div>
    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
      <div class="card-body">
        Во время консультации, мы можем затрагивать эмоционально неприятные темы и воспоминания из Вашей жизни. Поэтому Вы можете ощутить: грусть, страх, злость, обиду, стыд и т.д. Приходя на консультации к психологу Вы обязуетесь выносить тяжесть раскрытия своих интимных переживаний (согласно нашему 
        <a href="">
          Договору)
        </a>
        . В конце каждой консультации, я, как психолог, обязуюсь сделать всё возможное, чтоб Вы чувствовали себя спокойным, эмоционально наполненным и уверенным в завтрашнем дне.
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="heading7">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
          Что мне, как клиенту, придется делать на консультациях?
        </button>
      </h5>
    </div>
    <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
      <div class="card-body">
        <ul>
          <li>
            Отвечать на вопросы психолога;
          </li><li>
            Говорить о личном;
          </li><li>
            Самостоятельно определять результат нашей работы, которого Вы хотите достичь;
          </li><li>
            Самостоятельно принимать решения как Вам следует поступить в Вашей жизненной ситуации;
          </li><li>
            Слушать обратную связь от психолога;
          </li><li>
            Делать упражнения и техники, предложенные психологом, направленные на работу с мыслями, эмоциями, воспоминаниями, поведением: «давайте подумаем об этом…», «вспомните это событие…», «представьте вашу эмоцию в виде…», «давайте проверим, насколько вам помогает ваш мониторинг угроз, начните мысленно сканировать свое тело на предмет симптомов вашей болезни…» (иногда, придется идти наперекор страху);
          </li><li>
            Делать домашнее задание (вести дневник, проводить размышления на определенную тему, проводить поведенческие эксперименты («сделать то», «пойти туда»).
          </li>
        </ul>
        ПРИМЕЧАНИЕ: у Вас есть право ничего этого НЕ ДЕЛАТЬ, но в данном случае эффективность нашей работы будет снижаться.
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="heading8">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
          Сколько стоит консультация / курс психотерапии?
        </button>
      </h5>
    </div>
    <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
      <div class="card-body">
        Стоимость моих услуг Вы можете узнать в разделе 
        <a href="#">
          Список услуг и стоимость.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading9">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
          Можно получить скидку / заплатить после консультации?
        </button>
      </h5>
    </div>
    <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
      <div class="card-body">
        Я работаю с теми, кому комфортны 
        <a href="#">
          данные цены.
        </a>
        <br/>
        Оплата консультаций осуществляется наперед (минимум за 24 часа до начала консультации).
        <br/>
        Скидку могут получить: инвалиды, волонтеры, социальные работники.
        <br/>
        Моя работа – мой хлеб. Психологические консультации и психотерапию не рекомендуется проводить за кредитные/последние деньги, иначе напряжение за «а вдруг не получится» может мешать нашей работе. Если у Вас нет денег, Вы всегда можете обратиться в соц.службы и позвонить по телефонам психологической поддержки по месту Вашего жительства.
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="heading10">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
          Вы выезжаете на дом для проведения консультаций?
        </button>
      </h5>
    </div>
    <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
      <div class="card-body">
        У меня были в практике случаи, когда я соглашался на выезд на дом, но эти случаи оговаривались индивидуально. Я готов обсудить такую возможность, но эта услуга будет стоить в разы дороже. 
        <a href="#">
          Напишите мне
        </a>
        , если Вы хотите сделать мне данное предложение.
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="heading11">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
          Как записаться на консультацию?
        </button>
      </h5>
    </div>
    <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
      <div class="card-body">
        Чтобы записаться на консультацию, Вам следует:
        <ul>
          <li>
            1. Связаться со мной любым из доступных Вам способов по моим контактам;
          </li><li>
            2. Рассказать мне проблему с которой вы хотите работать и результат, которого вы хотите достичь. Если я соглашаюсь работать с Вами, то переходим к третьему этапу;
          </li><li>
            3. Прочесть 
            <a href="#">
              Договор на предоставление психологических услуг
            </a>
            и согласится с ним;
          </li><li>
            4. Вместе со мной согласовать время и дату консультации (узнать, когда у меня будет свободное время для консультации можно на странице 
            <a href="#">
              Заказа консультации
            </a>
            посмотрев на мой календарь);
          </li><li>
            5. Оплатить консультацию;
          </li><li>
            6. В назначенное время и в назначенном месте явиться на консультацию.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading11">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
          Сколько держится результат психотерапии?
        </button>
      </h5>
    </div>
    <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
      <div class="card-body">
        В зависимости от Вашей проблемы, результат психотерапии может держаться дольше или короче. В разделе 
        <a href="" >
          С чем я работаю
        </a>
        , Вы найдете список основных проблем и перейдя по одной из них, Вы узнаете сколько держится результат психотерапии при решении данной проблемы.
      </div>
    </div>
  </div>

   <div class="card">
    <div class="card-header" id="heading12">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
          Диагностика – это мы на аппаратуре исследуем мое тело или это просто разговор?
        </button>
      </h5>
    </div>
    <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordionExample">
      <div class="card-body">
        «Диагностика» проводится на первой консультации. Это диалог клиента с психологом. Психолог задает ряд общих вопросов касающееся физического здоровья клиента, его вредных привычек, проблем со сном и т.д. Далее проводится психологический анализ ситуации клиента, выясняются возможные причины данной ситуации, суть проблемы и ход ее течения. Психолог информирует клиента о механизмах работы его психики, дает возможный прогноз на будущее. Концом диагностики, можно считать формулирование запроса – осознание клиентом происходящего с ним и определение того, какого результата он хочет достичь. Подробнее в разделе 
        <a href="#">
          Консультации
        </a>
        .
        <br/>
        ПРИМЕЧАНИЕ: диагностика у психолога НЕ ОТМЕНЯЕТ диагностику у врача, если это необходимо!
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading13">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
          Консультации записываются на видео-аудио запись?
        </button>
      </h5>
    </div>
    <div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordionExample">
      <div class="card-body">
        Нет, без Вашего согласия я не имею права записывать консультацию. Так само и Вы не имеете права записывать нашу консультацию без моего разрешения. Во время консультации я пишу стенографию и, обычно, ее вполне достаточно для полноценного анализа Вашего случая.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading14">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
          Работаете ли вы с подростками/маленькими детьми?
        </button>
      </h5>
    </div>
    <div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordionExample">
      <div class="card-body">
        Долгое время я работал с детьми 5-10 лет. Сейчас мне не особо интересно заниматься «детскими вопросами», я хочу работать со взрослыми 18+. Но в индивидуальном порядке я готов работать с подростками, 
        <a href="#">
          напишите мне
        </a>
        , мы обсудим данную возможность.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading15">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
          Работаете ли вы с семейными парами?
        </button>
      </h5>
    </div>
    <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordionExample">
      <div class="card-body">
        У меня есть опыт работы с парами (парная консультация, когда на консультации присутствуют жена/муж, мама/ребенок, близкие родственники), но это не основной вид моей деятельности. В индивидуальном порядке я готов работать с парами, 
        <a href="#">
          напишите мне
        </a>
        , мы обсудим данную возможность.
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="heading16">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
          Подскажите, как решить мою проблему самому?
        </button>
      </h5>
    </div>
    <div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordionExample">
      <div class="card-body">
        Для самостоятельного избавления от психологических проблем, я создал категорию статей 
        <a href="#">
          Виды проблем
        </a>
        . Заходите, выбираете проблему, которая Вас беспокоит и читаете как от нее самостоятельно избавиться.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="heading17">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
          Почему у меня не получается решить мою проблему самому?
        </button>
      </h5>
    </div>
    <div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#accordionExample">
      <div class="card-body">
        Это может быть по множеству причин: 
        <ul>
          <li>
            1. У вас слишком сложная проблема, которая требует индивидуальной работы с психологом; 
          </li><li>
            2. Вы не верно/не последовательно/недостаточно долго выполняете рекомендации данные в разделе 
            <a href="#">
              Виды проблем
            </a>
            ; 
          </li><li>
            3. У вас есть вторичная выгода, которая не позволяет Вам избавиться от проблемы;
          </li><li>
            4. Ваша жизненная ситуация, в которой Вы сейчас находитесь (и Ваше социальное окружение), НЕ ПОДРАЗУМЕВАЕТ НАЛИЧИЕ ПСИХОЛОГИЧЕСКИ ЗДОРОВОЙ ЛИЧНОСТИ. 
          </li>
        </ul>
        Если у Вас в жизни постоянные проблемы, землетрясения, крики, драки, оскорбления, то о какой внутренней работе может идти речь? Измените свою жизненную ситуацию, а потом начинайте работать над изменением своей низкой самооценки, невроза, апатии, злости и т.д.
        Это не полный список возможных причин, поэтому лучшим ответом на 99% вопросов может быть – «обратитесь к специалисту».
      </div>
    </div>
  </div>
</div>