<div class="card include-card" >
  <img src="/assets/about/1a.png" class="" alt="..." style="margin: auto; width: 60px; height: 60px" >
  <div class="card-body">
    <h5 class="card-title">КОНСУЛЬТАЦИЯ</h5>
    <p class="card-text small-text">2 часа непрерывной работы с Вами (диагностика, изменение схем мышления и поведения, обретение новых навыков и способностей, улучшение эмоционального состояния)</p>
  </div>
</div>

<div class="card include-card" >
  <img src="/assets/about/1b.png" class="" alt="..." style="margin: auto; width: 56px; height: 56px" >
  <div class="card-body">
    <h5 class="card-title">СТЕНОГРАФИЯ</h5>
    <p class="card-text small-text">Стенография того, что было на консультации с описанием применяемых техник и домашним заданием (в файле word)</p>
  </div>
</div>

<div class="card include-card" >
  <img src="/assets/about/1c.png" class="" alt="..."  style="margin: auto; width: 56px; height: 56px">
  <div class="card-body">
    <h5 class="card-title">СОПРОВОЖДЕНИЕ</h5>
    <p class="card-text small-text">Между консультациями мы общаемся в мессенджерах, отслеживаем динамику Вашего состояния, Вы рассказываете всё, что Вас беспокоит и задаете любые вопросы для достижения максимального результата!
    </p>
  </div>
</div>

<div class="card include-card" >
  <img src="/assets/about/1d.png" class="" alt="..." style="margin: auto; width: 56px; height: 56px">
  <div class="card-body">
    <h5 class="card-title">ДОП. МАТЕРИАЛЫ</h5>
    <p class="card-text small-text">Текстовые, аудио и видео-файлы для выполнения домашнего задания, фиксации результатов терапии, профилактики рецидивов и обучения (в файлах word, excel, mp3, mp4)</p>
  </div>
</div>

