<div class="card include-card" >
  <img src="/assets/about/1a.png" class="img-thumbnail" alt="..." style="margin: auto; width: 60px; height: 60px" >
  <div class="card-body">
    <h5 class="card-title">ОНЛАЙН-КОНСУЛЬТАЦИЯ</h5>
    <p class="card-text small-text">2 часа непрерывной работы с Вами</p>
  </div>
</div>

<div class="card include-card" >
  <img src="/assets/about/1b.png" class="img-thumbnail" alt="..." style="margin: auto; width: 56px; height: 56px" >
  <div class="card-body">
    <h5 class="card-title">СТЕНОГРАФИЯ</h5>
    <p class="card-text small-text">консультации с пояснением причин вашего состояния(в файле word)</p>
  </div>
</div>

<div class="card include-card" >
  <img src="/assets/about/1c.png" class="img-thumbnail" alt="..."  style="margin: auto; width: 56px; height: 56px">
  <div class="card-body">
    <h5 class="card-title">ПОДДЕРЖКА</h5>
    <p class="card-text small-text">между консультациями, мы отслеживаем динамику Вашего состояния. Вы можете рассказывать мне всё, что Вас беспокоит и задавать любые вопросы для достижения максимального результата!</p>
  </div>
</div>


<div class="card include-card" >
  <img src="/assets/about/1d.png" class="img-thumbnail" alt="..." style="margin: auto; width: 56px; height: 56px">
  <div class="card-body">
    <h5 class="card-title">ОБУЧАЮЩИЕ МАТЕРИАЛЫ</h5>
    <p class="card-text small-text">Текстовые и видео-файлы для самостоятельной проработки и выполнения домашнего задания(в файлах word, exel, mp4)</p>
  </div>
</div>