<div class="card" style="width: 15rem; <%= left %> height: 350px; float: left; text-align: center">
  <img src="<%= image %>" class="card-img-top" style="width: 100px; height: 100px; margin: auto" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= title %></h5>
    <p class="card-text"><%= body.html_safe %></p>
  </div>
</div>