<div class="card dwn-corner-30" style="width: 15rem; padding-top: 20px; <%= left %> height: 340px; width: 250px; float: left; text-align: center; background-color: #2b6ca1">
  <img src="<%= image %>" class="card-img-top" style="width: 80px; height: 70px; margin: auto" alt="...">
  <div class="card-body" style="color: white">
    <h5 class="card-title " style="border: none; border-bottom: 2px solid white; "><%= title %></h5>
    <p class="card-text mini-card-text"><%= body.html_safe %></p>
  </div>
</div>