<div id="fourth_block" style="width: 1500px">
  <div class="card gray-tab" >
    <div class="card-header" id="headingOne" >
      <h2 class="mb-0">
        <button class="btn btn-link princip-btn" type="button"  href="#princOne">
          Что после
        </button>
      </h2>
    </div>
  </div>
  <div class="card gray-tab" >
    <div class="card-header " type="button" id="headingThree" >
      <h2 class="mb-0">
        <button class="btn btn-link princip-btn" type="button" href="#princTwo" >
          Гарантии
        </button>
      </h2>
    </div>
  </div>  
  <div class="card gray-tab" >
    <div class="card-header " type="button" id="headingTwo" >
      <h2 class="mb-0">
        <button class="btn btn-link  princip-btn" type="button" href="#princThree" >
          Мои принцыпы
        </button>
      </h2>
    </div>
  </div>
  <div style="height: 445px">
    <div id="princOne" class="princip" style="text-align: initial;">
      <div class="card-body" style="text-align: none">
        <ul style="list-style-type: none; width: 50%; margin-left: 35%; ">
          <li>
            <div>
              <img src="assets/icon/check.png" style="width: 50px">
              Получите быстрый ответ на свой вопрос  
            </div>
          </li>        
          <li>
            <div>
              <img src="assets/icon/check.png" style="width: 50px">
              Избавитесь от негативных эмоций и переживаний
            </div>
          </li>
          <li>
            <div>
              <img src="assets/icon/check.png" style="width: 50px">
              Поймете причину вашего состояния
            </div>
          </li>
          <li>
            <div>
              <img src="assets/icon/check.png" style="width: 50px">
              Станете уверенными в себе и в своем будущем
            </div>
          </li>
          <li>
            <div>
              <img src="assets/icon/check.png" style="width: 50px">
              Примете верное решение в сложившейся ситуации
            </div>
          </li>
          <li>
            <div>
              <img src="assets/icon/check.png" style="width: 50px">
              Получите поддержку, специальные техники и ресурсы для нормализации жизни
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="princTwo"  class="princip" style="text-align: initial;">
      <div class="card-body">
        <ul style=" width: 50%; margin-left: 35%; margin-top: 70px ">     
          <li> прежде всего – не навреди </li>
          <li> полная конфиденциальность </li>
          <li> уважение и принятие клиента таким, какой он есть (безоценочное отношение) </li>
          <li> решение клиента – закон </li>
          <li> компетентность. Если я не могу помочь – я честно об этом сообщаю </li>
          <li> 50% ответственности за результат на мне, 50% на клиенте (выполнение ДЗ и желание сотрудничать) </li>
        </ul>
      </div>
    </div>
    <div id="princThree" class="princip" style="text-align: initial;">
      <div class="card-body">
        <ul style=" width: 50%; margin-left: 35%; margin-top: 70px ">     
          <li>
            отзывы моих клиентов, которые достигли положительного результата
          </li>
          <li>
            мои дипломы и сертификаты об официальном образовании
          </li>
          <li>
            если в течение 3-х консультаций не будет положительной динамики - Я ВЕРНУ ВАМ ДЕНЬГИ!
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>