<div class="card up-corner-20" style=" border: none; width: 320px; float: left; margin-right: 30px; height: 1000px; max-height: 900px">
  <%= image_tag("/assets/about/me1.jpg", class: 'up-corner-20 ', style: "width: 320; height: 300px; min-height: 300px" )  %>
  <div class="card-body  dwn-corner-30 shadow-up" style="height: 440px; max-height: 440px; background-color: #00a1e6">
    <h5 class="card-title" style="color: white; font-size: 26px; height: 60px;">Предварительная консультация</h5>
    <div class="" style="width: 100px; margin: auto; color: black; border: 2px solid white; border-top: none; border-left: none; border-right: none;  ">15 мин</div>
    <div class="card-body" style="margin-top: 15px; height: 170px; max-height: 170px; color: white; padding: 0.25rem">
      <p class="card-text small-text" style=" ">После оставления заявки, я вам перезваниваю в течение 24 часов (либо Вы сами звоните/пишете мне). Вы описываете свою ситуацию, я ее анализирую, даю рекомендации, отвечаю на вопросы. В итоге, мы понимаем, нужна ли консультация.</p>
    </div>
    <div class="list-group list-group-flush" style="font-weight: bold; text-align: center; width: 300px; margin: auto; color: white">
      <h5 style="margin-bottom: 10px; color: black; font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif; font-size: 18px; "> Стоимость: </h5>
      <p>
        БЕСПЛАТНО 
      </p>
    </div>

    <a class='btn btn-success' style="margin-left:auto; display: block" href="#" class="card-link">Заказать</a>

  </div>
</div>

<div class="card up-corner-20" style=" border: none; width: 320px; float: left; margin-right: 30px; height: 1000px; max-height: 900px">
  <%= image_tag("/assets/about/me2.jpg", class: 'up-corner-20 ', style: "width: 320; height: 300px; min-height: 300px" )  %>
  <div class="card-body  dwn-corner-30 shadow-up" style="height: 440px; max-height: 440px; background-color: #2db34a">
    <h5 class="card-title" style="color: white; font-size: 26px; height: 60px;">Онлайн консультация</h5>
    <div class="" style="width: 100px; margin: auto; color: black; border: 2px solid white; border-top: none; border-left: none; border-right: none;  ">2 часа </div>
    <div class="card-body" style="margin-top: 15px; height: 170px; max-height: 170px; color: white; padding: 0.25rem">
      <p class="card-text small-text" style=" ">Консультация по Skype, Telegram, Viber для тех, кто ценит свое время. Вы находитесь у себя дома, в безопасной обстановке, в удобном кресле, говорите о наболевшем с тем, кто вас понимает, избавляетесь от страха и сомнений, наполняясь спокойствием и верой в себя.</p>
    </div>
    <div class="list-group list-group-flush" style="font-weight: bold; text-align: center; width: 300px; margin: auto; color: white">
      <h5 style="margin-bottom: 10px; color: black; font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif; font-size: 18px; "> Стоимость: </h5>
      <p>
        500 ГРН. <font style="color: black;">|</font> 20 USD  
      </p>
    </div>

    <a class='btn btn-success' style="margin-left:auto; display: block" href="#" class="card-link">Заказать</a>

  </div>
</div>


<div class="card up-corner-20" style=" border: none; width: 320px; float: left; margin-right: 30px; height: 1000px; max-height: 900px">
  <%= image_tag("/assets/about/me3.jpg", class: 'up-corner-20 ', style: "width: 320; height: 300px; min-height: 300px" )  %>
  <div class="card-body  dwn-corner-30 shadow-up" style="height: 440px; max-height: 440px; background-color: #2b6ca1">
    <h5 class="card-title" style="color: white; font-size: 26px; height: 60px;">Консультация в кабинете</h5>
    <div class="" style="width: 100px; margin: auto; color: black; border: 2px solid white; border-top: none; border-left: none; border-right: none;  ">2 часа</div>
    <div class="card-body" style="margin-top: 15px; height: 170px; max-height: 170px; color: white; padding: 0.25rem">
      <p class="card-text small-text" style=" ">Для тех, кому важен личный контакт. Вы приезжаете в центр города Днепр (Украина) и сидя в уютном кабинете, в тишине и покое, рядом с тем, кому можно доверять, отпускаете накопившееся напряжение и тревогу, чувствуя уверенность в завтрашнем дне.</p>
    </div>
    <div class="list-group list-group-flush" style="font-weight: bold; text-align: center; width: 300px; margin: auto; color: white">
      <h5 style="margin-bottom: 10px; color: black; font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif; font-size: 18px; "> Стоимость: </h5>
      <p>
        1000 грн <font style="color: black;">|</font>  40 USD 
      </p>
    </div>

    <a class='btn btn-success' style="margin-left:auto; display: block" href="#" class="card-link">Заказать</a>

  </div>
</div>