<div class="card service up-corner-20" id="service_1" style=" width: 235px; float: left; margin-right: 10px; height: 400px; border: none">
  <div class="card-body  dwn-corner-30 shadow-up" style="height: 340px; max-height: 640px; background-color: #00a1e6">
    <h5 class="card-title" style="color: white; font-size: 20px; height: 40px;">Предварительная консультация</h5>
    <div class="" style="width: 100px; margin: auto; color: black; border: 2px solid white; border-top: none; border-left: none; border-right: none;  ">15 мин</div>
    <div class="card-body" style="margin-top: 15px; height: 130px; max-height: 300px; color: white; padding: 0.25rem">
      <p class="card-text small-text" style=" font-size: 14px; ">После оставления заявки, я вам перезваниваю в течение 24 часов (либо Вы сами звоните/пишете мне). </p>
    </div>
    <div class="list-group list-group-flush" style="font-weight: bold; text-align: center; width: 195px; margin: auto; color: white">
      <h5 style="margin-bottom: 5px; color: black; font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif; font-size: 18px; "> Стоимость: </h5>
      <p>
        БЕСПЛАТНО 
      </p>
    </div>

    <div class="card-body">
      <a  class='btn btn-success get-service' style="margin-left:auto; display: block" href="#" data-target="service_1" data="Выбрана услуга: Предварительная консультация"  class="card-link">Выбрать</a>
    </div>

  </div>
</div>

<div class="card service up-corner-20" id="service_2" style="  width: 235px; float: left; margin-right: 10px; height:  400px; border: none">
  <div class="card-body  dwn-corner-30 shadow-up" style="height: 340px; max-height: 640px; background-color: #2db34a">
    <h5 class="card-title" style="color: white; font-size: 20px; height: 40px;">Онлайн консультация</h5>
    <div class="" style="width: 100px; margin: auto; color: black; border: 2px solid white; border-top: none; border-left: none; border-right: none;  ">2 часа </div>
    <div class="card-body" style="margin-top: 15px; height: 130px; max-height: 300px; color: white; padding: 0.25rem">
      <p class="card-text small-text" style=" font-size: 14px; ">Консультация по Skype, Telegram, Viber для тех, кто ценит свое время. </p>
    </div>
    <div class="list-group list-group-flush" style="font-weight: bold; text-align: center; width: 195px; margin: auto; color: white">
      <h5 style="margin-bottom: 5px; color: black; font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif; font-size: 18px; "> Стоимость: </h5>
      <p>
        500 ГРН. <font style="color: black;">|</font> 20 USD  
      </p>
    </div>

    <div class="card-body">
      <a  class='btn btn-success get-service' style="margin-left:auto; display: block; background-color: #2b6ca1" href="#" data-target="service_2" data="Выбрана услуга: Онлайн консультация"  class="card-link">Выбрать</a>
    </div>

  </div>
</div>


<div class="card service up-corner-20" id="service_3" style="  width: 235px; float: left; margin-right: 10px; height:  400px; border: none ">
  <div class="card-body  dwn-corner-30 shadow-up" style="height: 340px; max-height: 640px; background-color: #2b6ca1">
    <h5 class="card-title" style="color: white; font-size: 20px; height: 40px;">Консультация в кабинете</h5>
    <div class="" style="width: 100px; margin: auto; color: black; border: 2px solid white; border-top: none; border-left: none; border-right: none;  ">2 часа</div>
    <div class="card-body" style="margin-top: 15px; height: 130px; max-height: 300px; color: white; padding: 0.25rem">
      <p class="card-text small-text" style=" font-size: 14px; ">Консультация в центре города Днепр. Для тех, кому важен личный контакт.</p>
    </div>
    <div class="list-group list-group-flush" style="font-weight: bold; text-align: center; width: 195px; margin: auto; color: white">
      <h5 style="margin-bottom: 5px; color: black; font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif; font-size: 18px; "> Стоимость: </h5>
      <p>
        1000 грн <font style="color: black;">|</font>  40 USD 
      </p>
    </div>

    <div class="card-body">
      <a  class='btn btn-success get-service' style="margin-left:auto; display: block" href="#" data-target="service_3" data="Выбрана услуга: Консультация в кабинете "  class="card-link">Выбрать</a>
    </div>
  </div>
</div>