.container.left{style: 'width:550px;margin: auto '}
  .collapse_panel
    .collapse#oxford
      %img.img-fluid{src: "assets/photo_x.jpg"}
    .collapse#soc_psicho
      %img.img-fluid{src: "assets/photo_x.jpg"}
    .collapse#spsdnu
      %img.img-fluid{src: "assets/photo_x.jpg"}
    .collapse#spsdnu_2
      %img.img-fluid{src: "assets/photo_x.jpg"}
    .collapse#world_inside
      %img.img-fluid{src: "assets/photo_x.jpg"}
    .collapse#couch
      %img.img-fluid{src: "assets/photo_x.jpg"}
    .collapse#puselik
      %img.img-fluid{src: "assets/photo_x.jpg"}
    .collapse#frc
      %img.img-fluid{src: "assets/photo_x.jpg"}
    .collapse#frc_2
      %img.img-fluid{src: "assets/photo_x.jpg"}