.container.left{style: 'width:550px;margin: auto '}
  .collapse_panel
    .work-block#oxford
      %img.img-fluid{src: "/assets/photo_x.jpg"}
    .work-block#soc_psicho
      %img.img-fluid{src: "/assets/icon/0viber.png"}
    .work-block#spsdnu
      %img.img-fluid{src: "/assets/photo_x.jpg"}
    .work-block#spsdnu_2
      %img.img-fluid{src: "/assets/photo_x.jpg"}
    .work-block#world_inside
      %img.img-fluid{src: "/assets/photo_x.jpg"}
    .work-block#couch
      %img.img-fluid{src: "/assets/photo_x.jpg"}
    .work-block#puselik
      %img.img-fluid{src: "/assets/photo_x.jpg"}
    .work-block#frc
      %img.img-fluid{src: "/assets/photo_x.jpg"}
    .work-block#frc_2
      %img.img-fluid{src: "/assets/photo_x.jpg"}