.container.left{style: 'width:550px;margin: auto '}
  .collapse_panel
    .work-block#soc_psicho
      %img.img-fluid{src: "/assets/about/soc_psicho.jpg"}
    .work-block#spsdnu
      %img.img-fluid{src: "/assets/about/spsdnu.jpg"}
    .work-block#spsdnu_2
      %img.img-fluid{src: "/assets/about/spsdnu_2.jpg"}
    .work-block#world_inside
      %img.img-fluid{src: "/assets/about/world_inside.jpg"}
    .work-block#couch
      %img.img-fluid{src: "/assets/about/couch.jpg"}
    .work-block#puselik
      %img.img-fluid{src: "/assets/about/puselik.jpg"}
    .work-block#frc
      %img.img-fluid{src: "/assets/about/frc.jpg"}
    .work-block#frc_2
      %img.img-fluid{src: "/assets/about/frc_2.jpg"}