<div class="container-fluid">
  <button style='width:49%; height: 80px; font-size: 24px ' class="btn btn-info" role="button" id="work_btn">Моё образование</button>
  <button style='width:49%; float:right; height: 80px; font-size: 24px ' class="btn btn-dark" type="button" id="expo_btn">Опыт работы</button>
</div>

<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseWork" style="padding-left: 15px; margin-top: 5px">
      <%= render partial: 'work' %>
    </div>
  </div>
  <div class="col">
    <%= render partial: "work_images" %>
    <%= render partial: "expo" %>
  </div>
</div>
