%button.list-group-item.list-group-item-action.work-cur-btn{ type: "button",  href: "#oxford", 'aria-expanded': "false", 'aria-controls': "oxford"} 
  Когнитивно-поведенческая терапия - Oxford Cognitive Therapy Centre (заочно);    
%button.list-group-item.list-group-item-action.work-cur-btn{ type:"button",  href:"#soc_psicho", 'aria-expanded':"false", 'aria-controls':"soc_psicho"}
  Днепровский Национальный Университет - Специальность "Психология" (г.Днепр);
%button.list-group-item.list-group-item-action.work-cur-btn{ type:"button",  href:"#spsdnu", 'aria-expanded':"false", 'aria-controls':"spsdnu"}
  Социально-психологическое консультирование - Социально-психологическая служба ДНУ (г.Днепр);    
%button.list-group-item.list-group-item-action.work-cur-btn{ type:"button",  href:"#spsdnu_2", 'aria-expanded':"false", 'aria-controls':"spsdnu_2"}
  Технологии социально-психологической резильентности - Социально-психологическая служба ДНУ (г.Днепр);    
%button.list-group-item.list-group-item-action.work-cur-btn{ type:"button",  href:"#world_inside", 'aria-expanded':"false", 'aria-controls':"world_inside"}
  Воспитание детей в стиле коучинг - Центр семейной психологии "Мир Инсайт";        
%button.list-group-item.list-group-item-action.work-cur-btn{ type:"button",  href:"#couch", 'aria-expanded':"false", 'aria-controls':"couch"} 
  Коучинг - Школа рефлексивного управления (г.Днепр);    
%button.list-group-item.list-group-item-action.work-cur-btn{ type:"button",  href:"#puselik", 'aria-expanded':"false", 'aria-controls':"puselik"} 
  Качественная коммуникация  - Puselik foundation    
%button.list-group-item.list-group-item-action.work-cur-btn{ type:"button",  href:"#frc", 'aria-expanded':"false", 'aria-controls':"frc"} 
  Классический и детский массаж - Первые Региональные Курсы (г.Днепр);
%button.list-group-item.list-group-item-action.work-cur-btn{ type:"button",  href:"#frc_2", 'aria-expanded':"false", 'aria-controls':"frc_2"} 
  Косметический, ароматерапевтический и массаж для похудения - Первые Региональные Курсы (г.Днепр).      