<div class="container-fluid" style="padding: 0px">
  <button style='width:50%; height: 80px; font-size: 24px; background-color: #00a1e6 ' class="btn btn-info btn-sq" role="button" id="work_btn">Моё образование</button>
  <button style='width:50%; float:right; height: 80px; font-size: 24px; background-color: #2b6ca1 ' class="btn btn-info btn-sq" type="button" id="expo_btn">Опыт работы</button>
</div>

<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseWork" style="padding-left: 15px; margin-top: 5px">
      <%= render partial: 'work' %>
    </div>
  </div>
  <div class="col">
    <%= render partial: "work_images" %>
    <%= render partial: "expo" %>
  </div>
</div>
