.container-fluid
  .title{style: 'margin: auto; width: 45%'}
    %h2 
      ЛИЧНЫЕ КОНСУЛЬТАЦИИ ПСИХОЛОГА

  .card.card-body{style: 'height: 650px; width: 80%; margin: auto; '}
    = '<iframe width="100%" height="100%" src="https://www.youtube.com/embed/k9eph-UuMZE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'.html_safe

  .container
    %font{style: "font-weight:bold"}
      Психологическое консультирование
    %font - один из видов психологической помощи.
    %br
    На деле - специально выстроенный диалог двух людей.
    Разовые консультации применяются для:
    %br
    %ul
      %li
        разрешения проблем в отношениях с другими людьми
      %li
        принятия сложных жизненных решений (как поступить в данной ситуации; какую цель в жизни выбрать) и мелких бытовых вопросов
      %li
        для саморазвития
      %li
        для диагностики своего состояния и анализа своей ситуации

    ​
    %br
    Психотерапия - состоит из нескольких психологических консультаций. Это комплексное психологическое воздействие на эмоции, убеждения, поведение человека для избавления от многих социальных, психических, нервных и психосоматических проблем при помощи психотехник.
    %br
    ​

    %p{style: "font-weight:bold"} Цели:​
    %ul
      %li
        оказание психологической помощи, т. е. разговор с психологом должен помочь человеку в решении его проблем и налаживании взаимоотношений с окружающими;
      %li
        расширение представления клиента о сути и причинах возникновения своей проблемной ситуации;
      %li
        помощь в нахождении целей в жизни, ценностей, приоритетов и задач на будущее, создание самоопределения клиента;
      %li
        избавления клиента от симптомов проблемы. Смотреть список проблем
      %li
        облегчение эмоционального состояния клиента.
      %li
        развитие гибкости, умения находить новые, эффективные модели мышления и поведения.

    ​
 
    Основная задача психолога - избавить клиента от симптомов проблемы и сделать его СИЛЬНЫМ, научить клиента справляться со своей жизнью самостоятельно, без психологов, врачей и таблеток.

  .title{style: 'margin: auto; margin-top: 30px; width: 35%'}
    %h2 
      Онлайн-консультации психолога
  %p{style: 'margin: auto; width: 65%; text-align: center'}
    Онлайн-консультации также эффективны, как и очные консультации психолога, а для некоторых 
    %br клиентов - это единственная возможность получить квалифицированную помощь психолога. 
    Подробнее в статье "Насколько эффективны онлайн-консультации психолога?"

  .container{style: "margin-top: 30px;"}
    .container.colored-panel.l-block{style: "background-color: #00b893;  "}
      %h4 Преимущества онлайн-консультаций
      %ul
        %li
          не надо никуда ехать, нет транспортных расходов;
        %li
          можно быть дома в тепле и комфорте;
        %li
          можно частично сохранить конфиденциальность;
        %li
          если вы уезжаете в отпуск, можно не прерывать консультации;
        %li
          если вам понадобилась срочная консультация - вы получите ее быстрее и проще;
        %li
          можно получить качественные услуги, если в вашем месте жительства нет компетентных психологов;
        %li
          также достаточно эффективны как и очные консультации;
        %li
          оплата любым доступным вам способом.

    .container.colored-panel.r-block{style: " background-color: #00a7c4;"}
      %h4 Недостатки онлайн-консультаций
      %ul
        %li
          психологу недоступна часть невербальной информации, которую он получает от клиента во время очного приёма;
        %li
          требуется стабильный доступ в интернет, микрофон и веб-камера;
        %li
          клиент может не так хорошо ощущать сопереживание и поддержку психолога.

  .container{style: "margin-top: 30px;"}
    %h4 Как проходит курс психотерапии?
    %p
      Изначально, клиент записывается на консультацию, и договаривается о разовой консультации для диагностики и анализа ситуации. По результатам диагностики проводится Базовый курс психотерапии (5 консультаций), которого обычно хватает для устранения несложных проблем.
      Методом диагностики и методом работы психолога является специально выстроенный диалог.
    %p
      Во время консультаций психолог пишет стенографию и по окончанию работы скидывает ее клиенту, чтоб тот ознакомился с тем, как проходила консультация, схемами и изображениями механизмов работы психики при данной проблеме, списком домашнего задания и дополнительными обучающими материалами для самостоятельной работы. Между консультациями психолог с клиентом держат связь в мессенджерах для отслеживания динамики состояния клиента, ответов на возникающие вопросы.
    %p
      %font{style: "font-weight:bold"}
        Структура курса психотерапии:
      %ol
        %li
          Сначала проводится диагностика (1 консультация), на ней происходит обследование, дается прогноз и рекомендации.
        %li 
          Далее проводится базовый курс психотерапии (5 консультаций) - на котором удаляются основные симптомы проблемы.
          %ol
            %li
              Если проблема серьезная и базового курса психотерапии оказалось недостаточно, то, в зависимости от сложности, проводится дополнительная работа:
              %ul
                %li
                  Краткосрочная терапия (до 10 консультаций) - продолжение базового курса психотерапии, доработка оставшихся симптомов, научение новым моделям поведения;
                %li  
                  Среднесрочная терапия (от 10 консультаций) - терапия для более сложных случаев. Проработка детских воспоминаний и психотравм;
                %li  
                  Длительная терапия (20 и более консультаций) - полная трансформация личности. Работа с тяжелыми случаями; 
                %li  
                  Поддерживающая терапия (1 консультация в 3 недели на протяжении 3-х месяцев и более) - анализ ситуации, поддержка для предотвращения рецидива проблемы(
                  проводится после курса психотерапии).

        %li
          Завершающая консультация - окончание курса психотерапии. Точка. На ней закрываются все вопросы,  клиент и психолог смиряются с мыслью что психотерапия окончена. 
  .container
    %h4{style: "text-align: center"} Первая консультация (диагностика) проводится таким образом:
    = render partial: 'diagnosis_list'
  .container
    %br
    %p
      В перерыве между консультациями отслеживается динамика состояния клиента. Клиент может рассказывать психологу всё, что его беспокоит и задавать любые вопросы для достижения максимального результата. Клиент читает стенографию прошлой консультации, изучает обучающие материалы, делает домашнее задание.

    %h5
      Последующие консультации состоят из таких этапов:
    %ol
      %li
        Проговаривание того, чтоб было на предыдущей встрече и в перерыве между консультациями, каковы результаты домашнего задания. Клиент выговаривается.
      %li
        Составление плана сегодняшней консультации.
      %li
        Работа с проблемой.
      %li
        Домашнее задание.
      %li
        Завершение консультации.

    %h5
      Последняя консультация проводится так:
    %p
      Психолог с клиентом анализируют то, как проходила психотерапия, проводится работа для предотвращение рецидива проблемы, закрываются все вопросы, окончательно утверждаются поставленные задачи.
      %br
      РЕЗУЛЬТАТ: человек способен самостоятельно справляться с возникающими эмоциональными, когнитивными и социальными трудностями.


  .container{style: "margin-top: 30px; margin-bottom: 30px; padding: 30px; background-color: #00a7c4; height: 150px; text-align: center; color: white"}
    %h4 Есть вопросы? Вероятно, я уже отвечал на них здесь:
    .container
      %a{ href:"/faq", class:"btn btn-success", role:"button", color: 'white' }
        FAQ (часто задаваемые вопросы) 

  .container{style: "margin-top: 30px; height: 400px; margin-bottom: 30px; padding: 0" }
    = render partial: 'how_to_get'
