.container-fluid
  .title{style: 'margin: auto; width: 50%'}
    %h2 
      ЛИЧНЫЕ КОНСУЛЬТАЦИИ ПСИХОЛОГА

  = #.card.card-body{style: 'height: 650px; width: 80%; margin: auto; '}
  = #'<iframe width="100%" height="100%" src="https://www.youtube.com/embed/k9eph-UuMZE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'.html_safe

  .container
    %font{style: "font-weight:bold"}
      Психологическое консультирование
    %font - один из видов психологической помощи.
    %br
    На деле - специально выстроенный диалог двух людей.
    Разовые консультации применяются для:
    %br
    %ul
      %li
        разрешения проблем в отношениях с другими людьми
      %li
        принятия сложных жизненных решений (как поступить в данной ситуации; какую цель в жизни выбрать) и мелких бытовых вопросов
      %li
        для саморазвития
      %li
        для диагностики своего состояния и анализа своей ситуации

    ​
    %br
    Психотерапия - состоит из нескольких психологических консультаций. Это комплексное психологическое воздействие на эмоции, убеждения, поведение человека для избавления от многих социальных, психических, нервных и психосоматических проблем при помощи психотехник.
    %br
    ​

    %p{style: "font-weight:bold"} Цели:​
    %ul
      %li
        оказание психологической помощи, т. е. разговор с психологом должен помочь человеку в решении его проблем и налаживании взаимоотношений с окружающими;
      %li
        расширение представления клиента о сути и причинах возникновения своей проблемной ситуации;
      %li
        помощь в нахождении целей в жизни, ценностей, приоритетов и задач на будущее, создание самоопределения клиента;
      %li
        избавления клиента от симптомов проблемы.
      %li
        облегчение эмоционального состояния клиента.
      %li
        развитие гибкости, умения находить новые, эффективные модели мышления и поведения.

    ​
 
    Основная задача психолога - избавить клиента от симптомов проблемы и сделать его СИЛЬНЫМ, научить клиента справляться со своей жизнью самостоятельно, без психологов, врачей и таблеток.

  .title{style: 'margin: auto; margin-top: 30px; width: 40%'}
    %h2 
      Онлайн-консультации психолога
  %p{style: 'margin: auto; width: 65%; text-align: center'}
    Онлайн-консультации также эффективны, как и очные консультации психолога, а для некоторых 
    %br клиентов - это единственная возможность получить квалифицированную помощь психолога. 
    Подробнее в статье
    %a{ href: "/articles/29"}
      Насколько эффективны онлайн-консультации психолога?
    

  .container{style: "margin-top: 30px; height: 330px"}
    .container.colored-panel.l-block{style: "background-color: #00a1e6;  "}
      %h4 Преимущества онлайн-консультаций
      %ul
        %li
          не надо никуда ехать, нет транспортных расходов;
        %li
          можно быть дома в тепле и комфорте;
        %li
          можно частично сохранить конфиденциальность;
        %li
          если вы уезжаете в отпуск, можно не прерывать консультации;
        %li
          если вам понадобилась срочная консультация - вы получите ее быстрее и проще;
        %li
          можно получить качественные услуги, если в вашем месте жительства нет компетентных психологов;
        %li
          также достаточно эффективны как и очные консультации;
        %li
          оплата любым доступным вам способом.

    .container.colored-panel.r-block{style: " background-color: #2b6ca1;"}
      %h4 Недостатки онлайн-консультаций
      %ul
        %li
          психологу недоступна часть невербальной информации, которую он получает от клиента во время очного приёма;
        %li
          требуется стабильный доступ в интернет, микрофон и веб-камера;
        %li
          клиент может не так хорошо ощущать сопереживание и поддержку психолога.

  .container{style: "margin-top: 60px;"}
    %h4{style: "text-align: center;"} Как проходит курс психотерапии?
    %p
      Изначально, клиент записывается к психологу на прием и договаривается о разовой консультации для диагностики и анализа своей ситуации. По ее результатам становятся ясными: содержание проблемы клиента, приблизительные сроки и план терапии. Методом диагностики и работы психолога является специально выстроенный диалог. 
    %p
      Перед каждой консультацией клиент заполняет специальный опросник, который создан на основе его индивидуальной ситуации. Опросник позволяет понять динамику состояния человека и то, с какой составляющей проблемы следует работать в первую очередь. На протяжении всей консультации психолог пишет стенографию. Дома, клиент ее читает, заново переосмысливает проделанную работу и полученные результаты, видит описание техник, которые использовались, список своего домашнего задания и дополнительные обучающие материалы (если это необходимо). Между консультациями психолог с клиентом поддерживают связь в мессенджерах для отслеживания динамики состояния, корректировки домашнего задания и ответов на возникающие вопросы.
    %p
      %font{style: "font-weight:bold"}
        Структура курса психотерапии:
      %ol
        %li
          Сначала проводится диагностика (1 консультация), на ней происходит обследование и формулирование запроса, дается прогноз и рекомендации.
        %li 
          Далее начинается курс краткосрочной психотерапии. Если требуется – работа продолжается:
          %ol
            %ul
              %li
                Краткосрочная терапия (до 10 консультаций) – на ней удаляются основные симптомы проблемы. Происходит научение новым моделям мышления и поведения;
              %li  
                Среднесрочная терапия (от 10 консультаций) - для более сложных случаев. Доработка оставшихся симптомов. Разбор детских воспоминаний и психотравм;
              %li  
                Длительная терапия (20 и более консультаций) - полная трансформация личности. Работа с тяжелыми случаями; 
              %li  
                Поддерживающая терапия (1 консультация в 2-3 недели) – после конца психотерапии, возвращаясь в привычное русло жизни, иногда, человеку требуется поддержка для предотвращения рецидива проблемы. Для этого несколько раз в месяц проводится совместный анализ произошедшего за последнее время. Отличный способ получить максимально длительный результат.

        %li
          Завершающая консультация - окончание курса психотерапии. Точка. На ней закрываются все вопросы, клиент и психолог смиряются с мыслью что совместная работа окончена. 
  .container{style: "margin-top: 30px"}
    %h4{style: "text-align: center"} Первая консультация (диагностика) проводится таким образом:
    = render partial: 'diagnosis_list'
  .container
    %br
    %p
      В перерыве между консультациями поддерживается связь в мессенджерах. Клиент может рассказывать психологу все, что его беспокоит и задавать любые вопросы для достижения максимального результата. Клиент читает стенографию прошлой консультации, изучает обучающие материалы, делает домашнее задание.

    %br
    %h5
      %font{style: "font-weight: bold"} Последующие консультации состоят из таких этапов:
    %ol
      %li
        Начало. Проговаривание того, чтоб было на предыдущей встрече и в перерыве между консультациями, каковы результаты домашнего задания. Клиент выговаривается.
      %li
        Составление плана сегодняшней консультации. Психолог спрашивает: «с чем хотите сегодня поработать?». Исходя из желания клиента, вносятся корректировки в имеющийся план психотерапии.
      %li
        Работа с проблемой.
      %li
        Подведение итогов.
      %li
        Домашнее задание.
      %li
        Завершение консультации.

    %br
    %h5
      %font{style: "font-weight: bold"} Последняя консультация проводится так:
    %p
      Психолог с клиентом анализируют то, как проходила психотерапия, проводится работа для предотвращения рецидива проблемы, закрываются все вопросы, окончательно утверждаются поставленные задачи.
      %br
      РЕЗУЛЬТАТ: человек способен самостоятельно справляться с возникающими эмоциональными, поведенческими, мыслительными и социальными трудностями.


  .container{style: "margin-top: 30px; margin-bottom: 30px; margin-left: -280px; padding: 30px; background-color: #2b6ca1; height: 200px; text-align: center; color: white; width: 1845px; max-width: 2500px"}
    %h4{style: "font-size: 30px;"} Есть вопросы? Вероятно, я уже отвечал на них здесь:
    .container{style: "width: 2000px"}
      %a{style: "font-size: 20px; width: 360px; height: 50px; margin-top: 30px", href:"/faq", class:"btn btn-success", role:"button", color: 'white' }
        Часто задаваемые вопросы 

  .container{style: "text-align: center; margin-top: 30px; height: 420px; margin-bottom: 30px; padding: 0; " }
    %h4 
      Как попасть на консультацию
    %div{style: "width: 1136px; margin-top: 40px; position:relative; "}
      = render partial: 'how_to_get'
