.header{style: " width: 100%; height: 80px"}
  %h2{style: "margin-left: 520px"}
    Контакты
.conteiner{style: "margin-left: 120px; height: 350px; width: 1500px"}
  .form{style: "height: 500px; width: 550px;  display: block; float: left; "}
    %h4{style: "text-align: center; "}
      Есть вопрос - заполните форму
    = render partial: "/clients/form", locals: {hide_right_block: true, hide_days: true}
    %br
    *Ответ на вопрос будет отправлен на ваш E-meil в течении суток
  
  .text{style: "margin-top: 0px; height: 300px;  width: 490px; display: block; float: left; "}
    Отвечаю на сообщения и звонки с 10:00 до 20:00.
    %br
    Если я не отвечаю или не беру трубку - это значит, что я занят. 
    %br
    Как только я освобожусь - сразу свяжусь с Вами.
    %br
    Телефоны для звонков:
    %br
    +38(096)424-80-25 (
    = link_to 'telegram', "https://t.me/tkachenko_psychology" 
    ,
    = link_to 'viber', "viber://chat?number=+380964248025" 
    )
    %br
    +38(050)670-50-24
    %br
    Emeil: andreadetotti@gmail.com
    %br
