.header{style: "width: 100%; height: 80px"}
  %h2{style: "margin-left: 420px"}
    Контакты
.conteiner{style: "height: 350px; width: 1500px"}
  .form{style: "height: 500px; width: 550px;  display: block; float: left; "}
    %h4{style: "text-align: center; "}
      Есть вопрос - заполни форму
    = render partial: "/clients/form", locals: {hide_right_block: true, hide_days: true}
  
  .text{style: "margin-top: 0px; height: 300px;  width: 490px; display: block; float: left; "}
    Отвечаю на сообщения и звонки с 10:00 до 20:00.
    %br
    Если я не отвечаю или не беру трубку - значит я занят. 
    %br
    Как только я освобожусь, сразу свяжусь с вами.
    %br
    Телефоны для звонков:
    %br
    +38(096)424-80-25 (
    = link_to image_tag("/assets/icon/0telegram.png", size: "30"), "https://t.me/tkachenko_psychology" 
    ,
    = link_to image_tag("/assets/icon/0viber.png", size: "30"), "viber://chat?number=+380964248025" 
    )
    %br
    +38(050)670-50-24
    %br
    Emeil: andreadetotti@gmail.com
    %br
