%h1{style: "text-align: center; margin-bottom: 20px"}Обучение
.conteiner{style: "width: 80%; margin: auto"}
  %p
    Покупая материалы на сайте www.tkachenkoandrey.com я подтверждаю, что:
    Приобретаю материал для собственного индивидуального использования. Данное приобретение НЕ является групповой покупкой с целью дальнейшего совместного использования
  %p
    Обязуюсь НЕ: выкладывать его в публичный доступ, тиражировать, перепродавать, дарить
  %p
    Обязуюсь использовать полученные знания в рамках и пределах собственной компетенции и НЕ использовать их там где этой компетенции не имею (например в работе с душевнобольными, патологиями, людьми с противопоказаниями к гипнотерапии, если вы не психиатр/клинический психотерапевт)
  %p
    Любое нарушение вышеприведенных правил автоматически лишает вас возможности какой-либо моей поддержки и дальнейшей возможности посещения моих живых семинаров.

%div{style: "margin:auto; width: 70%; margin: auto"}
  - @courses.each do |course|
    = render partial: '/courses/line_card', locals: {card: course, is_left: true}