
.container.left.step-up-30{style: ' width: 70%; margin;-left: 5%; float:left; '}
  %h2.step-out{style: "text-align: center"} FAQ (часто задаваемые вопросы)
  = render partial: 'faq_card'
.right.step-up-30{style: "margin-left: 60px; width: 25%; float: left; "}
  =#%h5{style: "margin-left: 200px"} Товары
  -# @courses.each do |course|
  =# render partial:  'courses/min_card', locals: {card: course}
  %br
  %h5{style: "margin-left: 155px"} Новинки
  - @news.each do |n|
    = render partial: "articles/card", locals: {card: n} 