%script
	$("#client_form").attr("style", "position: absolute; z-index: 9;  margin-left: -2.5%; margin-top: 20px; display: block;");
	$("#client_form_close").hide();
	$("#client_form").show();
	$(".client_form_show").hide();
