%h3{style: " text-align: center " } Мои методы работы
.container
  .card.card-body{style: 'height: 650px; width: 80%; margin: auto; '}
    = '<iframe width="100%" height="100%" src="https://www.youtube.com/embed/k9eph-UuMZE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'.html_safe
.container
  %p{style: "font-weight: bold; font-size: 20px"}
    Методом диагностики и методом работы психолога является специально выстроенный диалог. Для достижения положительного результата клиенту нет необходимости щупать, нюхать, пробовать на вкус психолога, поэтому консультации могут проводиться в ОНЛАЙН-режиме. Для полноценного диалога требуется лишь визуальное изображение (веб-камера), аудио (микрофон) и средство связи (интернет).
.container{style: 'width: 80%; max-width: 960px'}
  %p
    %span{style: "font-weight: bold;"}
      ЭОТ - Эмоционально-образная терапия - 
    отличный метод работы с эмоциональным состоянием. Представляем эмоции и ощущения в виде образов в воображении, таким образом легко. Подробнее о ЭОТ
  %p
    %span{style: "font-weight: bold;"}
      ТА - Транзактный анализ - 
    прекрасный метод работы с отношениями с окружающими и близкими. Рассматриваем людей в виде позиций которые взаимодействуют друг с другом, таким образом понимая в какую игру играют данные позиции. Подробнее о ТА

  %p
    %span{style: "font-weight: bold;"}
      СМД - Системно-мыследеятельностный подход - 
    прекрасный метод коучинга, подходит для принятия решений и саморазвития. Рассматриваем ситуацию клиента с позиции мышления и деятельности, . Подробнее о СМД

  %p
    %span{style: "font-weight: bold;"}
      КПТ - Когнитивно-поведенческая терапия - 
    самый эффективный метод психотерапии на данный момент, подходит для . Подробнее о КПТ

  %p
    %span{style: "font-weight: bold;"}
      МКТ - Метакогнитивная терапия - 
    направление 3-й волны КПТ, которое расширяет функционал и улучшает эффективность работы при тревожно-депрессивных состояний. Подробнее о МКТ
  %p
    %span{style: "font-weight: bold;"}
      АСТ - Терапия принятия и ответственности - 
    направление 3-й волны КПТ, которое расширяет функционал эффективность работы при панических атаках, ПТСР. Подробнее о АСТ
