%h3{style: " text-align: center; margin-left: -30px; margin-top: -40px;"} Видео-отзывы о моей работе
%div{style: "min-height: 450px; margin-top: 30px"}
  = render partial: 'feedbacks'

%h3{style: " text-align: center; margin-top: 30px; margin-left: -30px; margin-bottom: 30px clear: both"} Текстовые отзывы о моей работе
= render partial: 'text_feedbacks'