%h3{style: 'text-align: center'} С чем я работаю
.container{style: "max-width: 1300px"}
  - @problems.each do |problem|
    = render partial: '/articles/min_card', locals: {card: problem}
.container-fluid{style: 'clear: both; width: 30rem;  height: 550px; margin-left: auto; margin-right: auto'}
  = render partial: '/articles/card', locals: {card: @problems.last}

.container-fluide{style: "text-align: center; margin: 30px; font-size: 25px; color: green"}
  Это лишь малая часть того, с чем я работаю! 
  = link_to "Напишите мне", contacts_path
  , расскажите свой уникальный случай и я Вам помогу!