%h3{style: 'text-align: center'} С чем я работаю
.container{style: "max-width: 1300px"}
  - @problems.each do |problem|
    = render partial: '/articles/min_card', locals: {card: problem}
.container-fluid{style: 'clear: both; width: 30rem;  height: 550px; margin-left: auto; margin-right: auto'}
  = render partial: '/articles/card', locals: {card: @problems.last}
