%h3{style: 'text-align: center;'} Мои направления работы
.container{style: "max-width: 1170px"}
  - @problems.each do |problem|
    = render partial: '/articles/min_card', locals: {card: problem, title: card_name(problem)}
