/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";
@import "social-share-button";

.social-share-button{
  text-align: center;
  .ssb-icon{
    background-size: 25px 25px;
    height: 25px;
  width: 25px;
  }
}

.nav a{
   text-decoration: none; 
   color: white;
}
.nav a:hover{
    color: white;
}

.main-block{
  background-image: url('/assets/photo_18.jpg');
  background-size: cover;
}

#collapseExample{
  z-index: 100000;
  position: relative;
}

.menu_line{
  height: 60px;
  width:  1090px
}

#menu_collapse a{
  padding: 0 15px;
}

.cat-btn {
  background-color: #00a1e6;
  margin-bottom: 2px;
}

.logo-v-cats{
  width: 500px;
}

.logo{
  margin-right: 10px;
  height: 300px;
  width: 500px;
  position: fixed;
  top: 145px;
  right: 390px;
}

.img-arrow{
  width: 70px;
  position: absolute;
}

.contacts{
  position: fixed;
  width: 100px;
  height: 500px;
  right: 50px;
  top: 250px;
}

.article {
  font-family: 'Roboto' !important
}

.article-body{
  font-size: 1rem;
  font-family: Helvetica;
}

.card_text{
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal; /* для IE */ 
  text-overflow: clip;
  height: 50px;
  max-width: 50px;
}

.card_text:hover {
  overflow: visible; 
  white-space: normal;
  height: auto;
  max-width: auto;
}

.left_block{
  margin-left:160px;
  margin-top:100px;
  width: 45%;
}

.line-blue{
  opacity: 1; 
  background-color: #2d76b3;  
  z-index:2; 
  height: max-content; 
  padding: 0.6rem;
}

.nav{
  text-align: center;
  display: block;
  .btn{
    margin-left: 10px;
  }
  .nav_panel{
    width: 550px;
    height: 60px;
    margin-left:14%
  }
}

.mt-50{
  margin-top: 50px
}

.card-info{
  width: 50em;
  text-align:center;
  h4{
    font-size: 50px;
  }
  h5{
    font-size: 40px;
  }
  h6{
    font-size: 35px;
  }
  .card-text{
    font-size: 25px;
  }
}

.small-text{
  font-size: 15px; 
  text-align:center; 
  font-family: din-next-w01-light,din-next-w02-light, din-next-w10-light,sans-serif;
}

#include{
  color: white;
  font-size: 20px;
  text-align: center;
  clear: both;
  background-color: #00a1e6;
  height: 460px;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

#include-block{
  margin-left: 16%;
  margin-right: 16%;
  width: 1220px;
}

.include-card {
  width: 290px;
  height: 350px; 
  float: left;
  margin-left: 15px;
  padding-top: 30px;
  background-color: inherit;
  border: 2px solid white;
  border-radius: 5px 5px 15px 15px;


  h5{
    font-weight: bold;
  }
  img {
    margin-left: 30%;
    background-color: revert;
      width:100px;
        height:100px;
        border: none
  }
}

.btn-sq{
  border-radius: 0px;
}

.art_list_row{
  td{
    padding-right: 20px;
  }
}

#fourth_block{

  }
#fourth_block > .card{
  margin-left: 5px;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom-style: solid;
    border-bottom-width: 1px;
  border-radius: 0.25rem;
}
#principles{
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

#feedbacks{
  margin-bottom: 50px;
  height: 500px;
  margin-left: 7px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 50px;
}

.right{
// position: absolute; 
  top: 105px; 
  margin-left: 100px;
}

.f-block{
  height: 300px;
  width: 100%;
}
.img-thunb-block{
  width: 20rem;
  height: 15rem;
  margin: auto;
  margin-top: 1rem;
  .img-thumbnail{
    border: none;
    margin: auto;
    display: block;
    margin: auto !important;
  }
}


.colored-panel{
  width: 50%; 
  float: left; 
  height: 350px; 
  padding: 25px 25px; 
  color: white; 
  h4{
    margin-left: 20px;
  }
}

.colored-panel.l-block{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.colored-panel.r-block{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;    
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}


.collapse_button{
  width: 24%;
  float: left;
}

.accordion_button_style{
  overflow: initial !important;
  margin-left: 7px;
}

.selected{
  box-shadow: -1px -1px 5px 5px lightgreen;
}

.days-box{
  float: right
}

.days-row{
  margin-bottom: 0px
}

.c-icon{
  margin: 5px
}

r-icon{
  float: right;
  clear:both;
  margin-bottom: 5px;
}

.close-button{
  right: 10px; 
  top: 10px;
  margin-bottom: 10px;
}

#consult{
  display: inline;
  position:relative;
  width: 160px;
  height: 38px;
}

#sub_consult{
  position: absolute;
  top: 30px;
  left: 0px;
  z-index: 10;
  .card-body{
    padding: 0.5rem;
  }
  .card{
    background-color: transparent;
    border: none;
    .btn-outline-dark{
      width: 150px;
    }
    .btn-outline-dark:hover{
      background-color: #17a2c8;
    }
    .btn{
      background-color: #2b6ca1;;
      margin-bottom: 1px;
      padding-top: 5px;
      height: 35px;
      text-align: center;
    }
  }
}

.main-page-btn{
  height: 50px;
  width: 160px;
  font-size: 1.2rem;
  border-width: 1px;
  background-color: #2d76b3;
}

.gray-tab {
  width: 33%;
  float: left;
  button, button:hover {
    color: white;
    text-decoration: none;
    font-size: 25px;
  }
}

.f-b-tabs{
  width: 84%;
  height: 70px;
  clear: both;
  margin: auto;
  margin-left: 8%;
  padding-left: 1%;
}

.princip ul{
  width: 40%; margin-left: 32%; margin-top: 25px 
}

.mini-card-text a{
  text-decoration: underline;
  color: white;
}


.gr-border{
  border: 3px solid #ababab;
}

.headline{
  margin-top: 30px;

  .corner{
    margin-top: 30px;
    background: url('/assets/corner1.png')  no-repeat center;
    height: 25px;
    width: 25px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
    }

  .corner3{
    margin-bottom: -12px;
    background: url('/assets/about/corner3.png')  no-repeat center;
    height: 25px;
    width: 25px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
    }

  .content{
  /*display: inline-block;*/
  border: none;
  display: inline-flex;
  vertical-align: top;
  background: #2B74B3;
  height: 50px;
  border-radius: 0 10px 10px 20px;
  padding: 5px 10px;
  color: white;
  font-size: 18pt;
  box-shadow: 0 2px 7px black;
  text-align: center;
  a, a:hover{
    color: white;
    font-size: 15px;
    margin: auto;
  }
  }
}
.navigation{
  text-align: center;
  height: 66px;
  width: 100%; 
  background: #2b6ca1;
  float: left;
  clear:both;
  font: normal normal normal 17px/1.4em arial,'ｍｓ ｐゴシック','ms pgothic','돋움',dotum,helvetica,sans-serif;
}

.navigation-block{
  padding-top: 14px;
  margin-left: 20%;
  margin-right: 20%;
}

footer{
  height:500px; 
  width: 100%; 
  margin-top: 20px; 
  padding-top: 50px; 
  background: #2b6ca1;  
  float: left;
  a, a:hover{
    text-decoration: none;
    color: white;
  }
  thead td a{
    font-size: 22px;
  }
  tbody td a{
    font-size: 16px;
  }
}

.btn-white{
  color: white; 
  background-color: #2b6ca1;
}

.cl_fr_btn{
  float: left;
}

.collapse-consult{
  display: none;
}

.card-img-overlay {
  margin-top: 155px;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

.dwn-corner-30{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.up-corner-20{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.shadow-up{
  box-shadow: 0 -2px 5px rgba(0,0,0,0.5); 
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group-addon, .input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
  
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.input-group-addon {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
}

.input-group-addon, .input-group-btn {
    white-space: nowrap;
}


.step-out{
  margin-bottom: 30px;
}

.step-up-30{
  margin-top: -30px;
}

.step-deep-30{
  padding-top: 30px;
}

.service-body{
  height: 420px;
  max-height: 420px;
}

.service-price{


  font-weight: bold;
  text-align: center;
  width: 300px;
  margin: auto;
  margin-left: -10px;
  color: white;
}

.service-text{
  margin-top: 15px; 
  height: 210px; 
  max-height: 220px; 
  color: white; 
  padding: 0.25rem
}

.service-include{
  position: absolute;
  left: 0px;
  margin-top: 30px;
  padding-left: 15%;
  color: white;
  font-size: 20px;
  text-align: center;
  clear: both;
  background-color: #00a1e6;
  height: 450px;
  padding-top: 20px
}

.row{
  margin-left: 0px;
}

#test{
  /* AT (1) 1 */

position: absolute;
width: 302px;
height: 302px;
left: -24px;
top: -92px;
background: url('/assets/AT_(1).png') ;
background-color: gray;
}