<a href="" style="position: absolute; left: 1.5%; top: 53%; transform: translate(0, -50%)"><img src="assets/new/logo13.png" style="width: 370px"></a>

<nav style="position: absolute; left: 450px; top: 50%; transform: translate(0, -50%)">
  <div class="page-menu-item"><a class="menu_link" href="">Обо мне</a></div>
  <div class="page-menu-item"><a class="menu_link" href="">Консультации</a></div>
  <div class="page-menu-item"><a class="menu_link" href="">Отзывы</a></div>
  <div class="page-menu-item"><a class="menu_link" href="">Статьи</a></div>
  <div class="page-menu-item"><a class="menu_link" href="">Контакты</a></div>
  <div class="page-menu-item"><a class="menu_link" href="">Вопрос-ответ</a></div>

</nav>

<div style="position: absolute; top: 55%; transform: translate(0, -50%); margin-left: 87%;">
  <div class="contacts">+38 (096) 424 80 25</div>
  <div class="contacts">пн-вс 10:00 - 21:00</div>
  <div style="display: flex; justify-content: flex-end; margin-top: 2%">
    <div class="contacts_icon"><a href="" ><img class="contacts_icon_style" src="assets/new/icon_facebook.png"></a></div>
    <div class="contacts_icon"><a href="" ><img class="contacts_icon_style" src="assets/new/icon_vk.png"></a></div>
    <div class="contacts_icon"><a href="" ><img class="contacts_icon_style" src="assets/new/icon_instagram.png"></a></div>
  </div>
</div>  