.login{style: "position: absolute; left: 0px; color: white"}
  - if current_user
    = "Приветствую " + current_user.email
    = link_to " Выйти", destroy_user_session_path(), method: 'delete', style: "text-decoration: none; color: white;"